workflows/02 - Fluxo_de_criador_de_roteiro+Conteudo_blog_Youtube__Aula_2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Processar Dados de Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Dados de Entrada": {
      "main": [
        [
          {
            "node": "Gerador de Roteiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador de Roteiro": {
      "main": [
        [
          {
            "node": "Formatar Saída",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Saída": {
      "main": [
        [
          {
            "node": "Salvar no Google Docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar no Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar no Google Docs": {
      "main": [
        [
          {
            "node": "Enviar por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar no Log": {
      "main": [
        [
          {
            "node": "Verificar Webhook de Retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar por Email": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Webhook de Retorno": {
      "main": [
        [
          {
            "node": "Resposta via Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta via Webhook": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sem Webhook": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gerador de Roteiro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agendador (SEG/QUA/SEX 9h)": {
      "main": [
        [
          {
            "node": "Buscar Trending Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Manual": {
      "main": [
        [
          {
            "node": "Processar Entrada Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Tendências": {
      "main": [
        [
          {
            "node": "Gerador de Conteúdo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Entrada Manual": {
      "main": [
        [
          {
            "node": "Gerador de Conteúdo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerador de Conteúdo": {
      "main": [
        [
          {
            "node": "Formatar Artigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Artigo": {
      "main": [
        [
          {
            "node": "Backup no Google Docs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Publicar no WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup no Google Docs": {
      "main": [
        [
          {
            "node": "Registrar no Controle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar no WordPress": {
      "main": [
        [
          {
            "node": "Agendar Revisão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar no Controle": {
      "main": [
        [
          {
            "node": "Notificação por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Revisão": {
      "main": [
        [
          {
            "node": "Notificação Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificação por Email": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificação Slack": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Gerador de Conteúdo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Trending Topics": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Extrair Tendências",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T16:23:58.142Z",
  "id": "dG0dvEWa2VI3stBh",
  "isArchived": false,
  "meta": null,
  "name": "02 - Fluxo_de_criador_de_roteiro+Conteudo_blog_Youtube__Aula_2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "criar-roteiro",
        "options": {}
      },
      "id": "e1e1b0f6-30af-408c-bd68-8f2ef3927b1a",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        144
      ],
      "webhookId": "roteiro-webhook-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "tema-assignment",
              "name": "tema",
              "value": "={{ $json.body.tema || 'Tema não especificado' }}",
              "type": "string"
            },
            {
              "id": "tipo-assignment",
              "name": "tipo_roteiro",
              "value": "={{ $json.body.tipo || 'video' }}",
              "type": "string"
            },
            {
              "id": "duracao-assignment",
              "name": "duracao",
              "value": "={{ $json.body.duracao || '5 minutos' }}",
              "type": "string"
            },
            {
              "id": "publico-assignment",
              "name": "publico_alvo",
              "value": "={{ $json.body.publico || 'público geral' }}",
              "type": "string"
            },
            {
              "id": "objetivo-assignment",
              "name": "objetivo",
              "value": "={{ $json.body.objetivo || 'informar e engajar' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f9a1be6e-14cd-4652-aae0-31524d048be4",
      "name": "Processar Dados de Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        144
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "id": "1b98a6ab-fe0e-47a5-b339-2c49189f2efa",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        592,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Você é um especialista em criação de roteiros criativos e envolventes.\n\nCrie um roteiro completo e estruturado com base nas seguintes informações:\n- **Tema**: {{ $json.tema }}\n- **Tipo**: {{ $json.tipo_roteiro }}\n- **Duração**: {{ $json.duracao }}\n- **Público-alvo**: {{ $json.publico_alvo }}\n- **Objetivo**: {{ $json.objetivo }}\n\n**ESTRUTURA OBRIGATÓRIA:**\n\n## 🎬 ROTEIRO: {{ $json.tema }}\n\n### 📋 INFORMAÇÕES GERAIS\n- **Tipo**: {{ $json.tipo_roteiro }}\n- **Duração**: {{ $json.duracao }}\n- **Público**: {{ $json.publico_alvo }}\n- **Objetivo**: {{ $json.objetivo }}\n\n---\n\n### 🎯 GANCHO INICIAL (0-15s)\n[Crie um gancho poderoso que capture atenção imediatamente]\n\n### 📖 INTRODUÇÃO (15-30s)\n[Apresente o tema e o que será abordado]\n\n### 🎓 DESENVOLVIMENTO (Corpo principal)\n[Desenvolva o conteúdo em tópicos claros e organizados]\n\n#### Tópico 1: [Nome do tópico]\n[Conteúdo detalhado]\n\n#### Tópico 2: [Nome do tópico]\n[Conteúdo detalhado]\n\n#### Tópico 3: [Nome do tópico]\n[Conteúdo detalhado]\n\n### 💡 CONCLUSÃO & RESUMO\n[Recapitule os pontos principais]\n\n### 🚀 CALL TO ACTION\n[Ação específica que você quer que o público execute]\n\n---\n\n### 📝 NOTAS DE PRODUÇÃO\n- **Tom**: [Descreva o tom ideal]\n- **Ritmo**: [Indicações de ritmo]\n- **Recursos visuais**: [Sugestões de imagens/gráficos]\n- **Transições**: [Como conectar as seções]\n\n**IMPORTANTE**: \n- Use linguagem adequada ao público-alvo especificado\n- Mantenha o conteúdo dentro do tempo estimado\n- Inclua momentos de engajamento e interação\n- Seja claro, objetivo e envolvente"
      },
      "id": "36ca814b-10f8-41f4-8d62-ef529110e0ef",
      "name": "Gerador de Roteiro",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        592,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "roteiro-final",
              "name": "roteiro_completo",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "data-criacao",
              "name": "data_criacao",
              "value": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            },
            {
              "id": "titulo-arquivo",
              "name": "titulo_arquivo",
              "value": "Roteiro_{{ $('Processar Dados de Entrada').item.json.tema.replace(/[^a-zA-Z0-9]/g, '_') }}_{{ $now.format('ddMMyyyy_HHmm') }}",
              "type": "string"
            },
            {
              "id": "status",
              "name": "status",
              "value": "concluido",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "198e4dac-8f0b-4564-8ee4-66b3e708a0fa",
      "name": "Formatar Saída",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        144
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "7dd9388a-19df-4902-9b0e-9b78e97f3d3d",
      "name": "Salvar no Google Docs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1232,
        48
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "spreadsheet-id-aqui",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.data_criacao }}",
            "Tema": "={{ $('Processar Dados de Entrada').item.json.tema }}",
            "Tipo": "={{ $('Processar Dados de Entrada').item.json.tipo_roteiro }}",
            "Duração": "={{ $('Processar Dados de Entrada').item.json.duracao }}",
            "Público": "={{ $('Processar Dados de Entrada').item.json.publico_alvo }}",
            "Status": "={{ $json.status }}",
            "Link_Arquivo": "={{ $('Salvar no Google Docs').item.json.webViewLink }}"
          }
        },
        "options": {}
      },
      "id": "5e1ffb09-a688-4462-ae41-4f1dd3105215",
      "name": "Registrar no Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1232,
        224
      ]
    },
    {
      "parameters": {
        "fromEmail": "seu-email@dominio.com",
        "toEmail": "={{ $('Processar Dados de Entrada').item.json.email || 'admin@empresa.com' }}",
        "subject": "🎬 Seu roteiro está pronto: {{ $('Processar Dados de Entrada').item.json.tema }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "577034b5-7044-4a3b-9fd0-620104767753",
      "name": "Enviar por Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1440,
        48
      ],
      "webhookId": "cb3dd9aa-961e-4f77-b702-2240076e86cc"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "webhook-condition",
              "leftValue": "={{ $('Processar Dados de Entrada').item.json.webhook_retorno }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94ffc492-7ae8-4ebe-9a7d-8f1440d03fa7",
      "name": "Verificar Webhook de Retorno",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Processar Dados de Entrada').item.json.webhook_retorno }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"success\",\n  \"roteiro_id\": \"{{ $json.titulo_arquivo }}\",\n  \"tema\": \"{{ $('Processar Dados de Entrada').item.json.tema }}\",\n  \"link_arquivo\": \"{{ $('Salvar no Google Docs').item.json.webViewLink }}\",\n  \"data_criacao\": \"{{ $json.data_criacao }}\",\n  \"preview\": \"{{ $json.roteiro_completo.substring(0, 200) }}...\"\n}",
        "options": {}
      },
      "id": "8b9bdc5c-f748-480a-a39e-f5284ea1003f",
      "name": "Resposta via Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1664,
        224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Roteiro criado com sucesso!\",\n  \"data\": {\n    \"roteiro_id\": \"{{ $json.titulo_arquivo }}\",\n    \"tema\": \"{{ $('Processar Dados de Entrada').item.json.tema }}\",\n    \"tipo\": \"{{ $('Processar Dados de Entrada').item.json.tipo_roteiro }}\",\n    \"duracao\": \"{{ $('Processar Dados de Entrada').item.json.duracao }}\",\n    \"link_arquivo\": \"{{ $('Salvar no Google Docs').item.json.webViewLink }}\",\n    \"data_criacao\": \"{{ $json.data_criacao }}\",\n    \"preview\": \"{{ $json.roteiro_completo.substring(0, 300) }}...\"\n  }\n}",
        "options": {}
      },
      "id": "cfff00b2-44d5-4377-9c15-70802be8ed46",
      "name": "Resposta Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1888,
        144
      ]
    },
    {
      "parameters": {},
      "id": "07928347-8dc6-44d6-af16-10ec8fc2816f",
      "name": "Sem Webhook",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1664,
        384
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1,3,5"
            }
          ]
        }
      },
      "id": "4595051b-07a3-4a91-abf0-dca26cfad0fe",
      "name": "Agendador (SEG/QUA/SEX 9h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        848
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-conteudo",
        "options": {}
      },
      "id": "5a5c7ca6-5a4d-426a-8ab2-9762c519d4d1",
      "name": "Webhook Manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        1008
      ],
      "webhookId": "blog-content-webhook"
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TechCrunch",
        "options": {
          "timeout": 10000
        }
      },
      "id": "5fc40efd-621b-4096-bcfa-836b4ed1900e",
      "name": "Buscar Trending Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-topics",
              "name": "trending_topics",
              "value": "={{ $json.rss.channel[0].item.slice(0, 5).map(item => ({ title: item.title[0], description: item.description[0].replace(/<[^>]*>/g, '').substring(0, 200) })) }}",
              "type": "array"
            },
            {
              "id": "timestamp",
              "name": "data_pesquisa",
              "value": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0d7b4750-62f9-40de-be53-f092421ce57d",
      "name": "Extrair Tendências",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        848
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "manual-topic",
              "name": "tema_manual",
              "value": "={{ $json.body?.tema || 'Inovações em tecnologia' }}",
              "type": "string"
            },
            {
              "id": "content-type",
              "name": "tipo_conteudo",
              "value": "={{ $json.body?.tipo || 'artigo' }}",
              "type": "string"
            },
            {
              "id": "word-count",
              "name": "palavras",
              "value": "={{ $json.body?.palavras || 800 }}",
              "type": "number"
            },
            {
              "id": "tone",
              "name": "tom",
              "value": "={{ $json.body?.tom || 'profissional' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "36eb708f-ee0c-4886-89ba-d8b51bd8ebea",
      "name": "Processar Entrada Manual",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        1008
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Você é um especialista em criação de conteúdo digital e copywriting.\n\n**DADOS DE ENTRADA:**\n{% if $('Extrair Tendências').item %}\n- **Tendências atuais**: {{ $('Extrair Tendências').item.json.trending_topics.slice(0, 3).map(t => t.title).join(', ') }}\n- **Contexto**: Baseado em tendências do mercado em {{ $('Extrair Tendências').item.json.data_pesquisa }}\n{% else %}\n- **Tema solicitado**: {{ $('Processar Entrada Manual').item.json.tema_manual }}\n- **Tipo**: {{ $('Processar Entrada Manual').item.json.tipo_conteudo }}\n- **Palavras**: {{ $('Processar Entrada Manual').item.json.palavras }}\n- **Tom**: {{ $('Processar Entrada Manual').item.json.tom }}\n{% endif %}\n\n**SUA MISSÃO:**\nCrie um artigo completo, otimizado para SEO e altamente engajante seguindo esta estrutura:\n\n---\n\n# [TÍTULO CHAMATIVO E OTIMIZADO PARA SEO]\n\n**Meta Description:** [Descrição de 150-160 caracteres]\n**Palavras-chave:** [3-5 palavras-chave relevantes]\n**Data:** {{ $now.format('dd/MM/yyyy') }}\n\n---\n\n## 🔥 Introdução\n[Gancho poderoso que capture atenção nos primeiros 30 segundos de leitura]\n\n## 📊 Contextualização\n[Apresente dados, estatísticas ou contexto atual sobre o tema]\n\n## 💡 Desenvolvimento Principal\n\n### Subtópico 1: [Nome impactante]\n[Conteúdo detalhado e valor agregado]\n\n### Subtópico 2: [Nome impactante]\n[Conteúdo detalhado e valor agregado]\n\n### Subtópico 3: [Nome impactante]\n[Conteúdo detalhado e valor agregado]\n\n## ⚡ Casos Práticos/Exemplos\n[Exemplos reais, estudos de caso ou aplicações práticas]\n\n## 🎯 Conclusão\n[Resumo dos pontos principais e insights finais]\n\n## 🚀 Call to Action\n[Ação específica para engajar o leitor]\n\n---\n\n**Tags:** #tag1 #tag2 #tag3 #tag4 #tag5\n\n**DIRETRIZES OBRIGATÓRIAS:**\n- ✅ Linguagem clara, objetiva e envolvente\n- ✅ Parágrafos curtos (máximo 3 linhas)\n- ✅ Use emojis estrategicamente para melhorar escaneabilidade\n- ✅ Inclua elementos visuais sugeridos [onde aplicável]\n- ✅ Otimize para featured snippets do Google\n- ✅ Tom humano, conversacional mas autoritativo\n- ✅ Crie urgência e curiosidade\n- ✅ Inclua dados e estatísticas quando possível\n\n**IMPORTANTE:** O artigo deve ter aproximadamente 800-1200 palavras e ser publicável imediatamente."
      },
      "id": "0d839072-329a-4014-9cdf-86946cd25c7b",
      "name": "Gerador de Conteúdo",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        912,
        928
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "format-content",
              "name": "artigo_completo",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "extract-title",
              "name": "titulo",
              "value": "={{ $json.text.split('\\n')[0].replace('#', '').trim() }}",
              "type": "string"
            },
            {
              "id": "extract-meta",
              "name": "meta_description",
              "value": "={{ $json.text.match(/\\*\\*Meta Description:\\*\\* (.+)/)?.[1] || 'Artigo completo sobre ' + $json.text.split('\\n')[0].replace('#', '').trim() }}",
              "type": "string"
            },
            {
              "id": "extract-tags",
              "name": "tags",
              "value": "={{ $json.text.match(/\\*\\*Tags:\\*\\* (.+)/)?.[1] || '#blog #conteudo #automatico' }}",
              "type": "string"
            },
            {
              "id": "slug",
              "name": "slug",
              "value": "={{ $json.text.split('\\n')[0].replace(/#/g, '').toLowerCase().replace(/[^a-z0-9\\s]/g, '').replace(/\\s+/g, '-').trim() }}",
              "type": "string"
            },
            {
              "id": "word-count-calc",
              "name": "contagem_palavras",
              "value": "={{ $json.text.split(' ').length }}",
              "type": "number"
            },
            {
              "id": "publish-date",
              "name": "data_publicacao",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3d3963c8-1360-469c-b69e-40ad86c32359",
      "name": "Formatar Artigo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        928
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "cfc4c4fd-c767-463f-a6bb-d0ed333fcbd9",
      "name": "Backup no Google Docs",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://seu-site.com/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"title\": \"{{ $json.titulo }}\",\n  \"content\": \"{{ $json.artigo_completo }}\",\n  \"excerpt\": \"{{ $json.meta_description }}\",\n  \"status\": \"draft\",\n  \"meta\": {\n    \"_yoast_wpseo_metadesc\": \"{{ $json.meta_description }}\",\n    \"_yoast_wpseo_focuskw\": \"{{ $json.tags.split(' ')[0].replace('#', '') }}\"\n  },\n  \"categories\": [1],\n  \"tags\": [\"automatico\", \"ia\", \"blog\"]\n}",
        "options": {}
      },
      "id": "5b21bec7-7c7e-46e3-93aa-0654a460feb0",
      "name": "Publicar no WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        960
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "planilha-controle-blog-id",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $json.data_publicacao }}",
            "Título": "={{ $json.titulo }}",
            "Slug": "={{ $json.slug }}",
            "Palavras": "={{ $json.contagem_palavras }}",
            "Tags": "={{ $json.tags }}",
            "Status": "rascunho",
            "Link_WordPress": "={{ $('Publicar no WordPress').item.json.link || 'Erro na publicação' }}",
            "Link_Backup": "={{ $('Backup no Google Docs').item.json.webViewLink }}",
            "Fonte": "{{ $('Extrair Tendências').item ? 'Automático (RSS)' : 'Manual' }}"
          }
        },
        "options": {}
      },
      "id": "3709aa0e-80b2-4679-943c-fbd29ce3296b",
      "name": "Registrar no Controle",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        800
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "start": "={{ $now.plus({ days: 1 }).set({ hour: 14, minute: 0 }).toISO() }}",
        "end": "={{ $now.plus({ days: 1 }).set({ hour: 15, minute: 0 }).toISO() }}",
        "additionalFields": {
          "description": "Revisar artigo criado automaticamente:\\n\\nTítulo: {{ $json.titulo }}\\nPalavras: {{ $json.contagem_palavras }}\\nLink: {{ $('Publicar no WordPress').item.json.link }}\\n\\nTarefas:\\n- [ ] Revisar conteúdo\\n- [ ] Verificar SEO\\n- [ ] Adicionar imagens\\n- [ ] Publicar",
          "summary": "📝 Revisar: {{ $json.titulo }}"
        }
      },
      "id": "d1fd61a2-dd3d-4e4f-8239-135d387779f5",
      "name": "Agendar Revisão",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        1600,
        960
      ]
    },
    {
      "parameters": {
        "fromEmail": "blog@sua-empresa.com",
        "toEmail": "admin@sua-empresa.com",
        "subject": "📰 Novo artigo criado: {{ $json.titulo }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "37374f57-6a52-444d-b4fb-85d1dbd50f4a",
      "name": "Notificação por Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1824,
        800
      ],
      "webhookId": "b72047f0-46a0-4ff1-8e5b-096c852dfd51"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/seu-webhook-slack",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"text\": \"📝 Novo artigo criado automaticamente!\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Novo artigo para revisão*\\n\\n*Título:* {{ $json.titulo }}\\n*Palavras:* {{ $json.contagem_palavras }}\\n*Fonte:* {{ $('Extrair Tendências').item ? 'Automático (Tendências)' : 'Manual' }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Ver no WordPress\"\n          },\n          \"url\": \"{{ $('Publicar no WordPress').item.json.link }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"Ver Backup\"\n          },\n          \"url\": \"{{ $('Backup no Google Docs').item.json.webViewLink }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "e18cb40f-bd04-4778-a2d3-8ce3b7321e74",
      "name": "Notificação Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        960
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Artigo criado com sucesso!\",\n  \"data\": {\n    \"titulo\": \"{{ $json.titulo }}\",\n    \"slug\": \"{{ $json.slug }}\",\n    \"palavras\": {{ $json.contagem_palavras }},\n    \"tags\": \"{{ $json.tags }}\",\n    \"wordpress_link\": \"{{ $('Publicar no WordPress').item.json.link }}\",\n    \"backup_link\": \"{{ $('Backup no Google Docs').item.json.webViewLink }}\",\n    \"data_criacao\": \"{{ $json.data_publicacao }}\",\n    \"preview\": \"{{ $json.artigo_completo.substring(0, 300) }}...\"\n  }\n}",
        "options": {}
      },
      "id": "cc99b702-970c-4fb0-b913-c8f742cfdeec",
      "name": "Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2080,
        864
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 3000,
          "temperature": 0.7
        }
      },
      "id": "d84f639f-73d5-45ad-84f7-caad9e90b2e1",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        960,
        1120
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        528,
        848
      ],
      "id": "d62f0153-0e26-4336-ab52-67c43d837e97",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "content": "## Conteúdo para Blog",
        "height": 540,
        "width": 2380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        720
      ],
      "id": "db53f823-ef48-4aed-ba4e-3c02e0c9660d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Criador de Roteiros",
        "height": 540,
        "width": 2200,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "10a03795-99dd-4fc1-ab34-3ebed2697813",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-25T16:23:58.142Z",
      "createdAt": "2025-08-25T16:23:58.142Z",
      "role": "workflow:owner",
      "workflowId": "dG0dvEWa2VI3stBh",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-08-25T16:23:51.171Z",
      "createdAt": "2025-08-25T16:23:51.171Z",
      "id": "wIbMR47MWHKlvw5X",
      "name": "Youtube"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T16:23:58.142Z",
  "versionId": "aee2deb7-775f-470f-8d24-874872006645"
}