workflows/Agente Base IA Dominando Automações.json
{
  "active": false,
  "connections": {
    "Receber Mensagem": {
      "main": [
        [
          {
            "node": "Fltrar os Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fltrar os Dados": {
      "main": [
        [
          {
            "node": "ConsultaCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaCliente": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriaCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaCliente": {
      "main": [
        [
          {
            "node": "ConsultaCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Converter Áudio em Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Junta Tudo",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Converter Imagem em Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Áudio em Base64": {
      "main": [
        [
          {
            "node": "Converter Áudio para Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Áudio para Arquivo": {
      "main": [
        [
          {
            "node": "Transcreve Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Imagem em Base64": {
      "main": [
        [
          {
            "node": "Converter Áudio para Arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Áudio para Arquivo1": {
      "main": [
        [
          {
            "node": "Transcreve a Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve Audio": {
      "main": [
        [
          {
            "node": "Junta Tudo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve a Imagem": {
      "main": [
        [
          {
            "node": "Junta Tudo",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Junta Tudo": {
      "main": [
        [
          {
            "node": "ResgistraMsgFila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResgistraMsgFila": {
      "main": [
        [
          {
            "node": "BuscaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaMensagem": {
      "main": [
        [
          {
            "node": "VerificaSeÉMaiorQue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaSeÉMaiorQue1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguarda 5 seg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 5 seg": {
      "main": [
        [
          {
            "node": "VerificaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaMensagem": {
      "main": [
        [
          {
            "node": "OrganizaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OrganizaMensagem": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Data_Hora": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Separa a Mensagem em Várias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa a Mensagem em Várias": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "PreparaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaMensagem": {
      "main": [
        [
          {
            "node": "Resposta Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Cliente": {
      "main": [
        [
          {
            "node": "Aguarda 1 segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 1 segundo": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-27T17:58:34.672Z",
  "id": "YwqC73R0hWdkRBsH",
  "isArchived": false,
  "meta": null,
  "name": "Agente Base IA Dominando Automações",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61284e77-ac2b-4571-a5e4-5de6bc081819",
              "name": "cliente.NomeDoCliente",
              "value": "= {{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "681ce946-28ee-42f7-a1ba-9b2913b7a3c7",
              "name": "cliente.Numero",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "00311c08-bf68-45cb-b590-4bd75eddb4d0",
              "name": "wpp.Mensagem",
              "value": "={{ $json.body.data.message?.base64 ||\n$json.body.data.message.messege?.base64 ||\n$json.body.data.message.conversation || null }}",
              "type": "string"
            },
            {
              "id": "d329035e-99c3-4284-a304-0cc497ddd076",
              "name": "cliente.Data",
              "value": "={{ $json.body.date_time.toDateTime().format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "25f27077-bad7-44b4-96b8-c4e5956738f9",
              "name": "cliente.UltimaMensagem",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "1b2effda-49a5-4dd8-ba63-3695d90bc246",
              "name": "wpp.TipoMenssagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        140
      ],
      "id": "97eb0f6c-f462-4e9f-a61e-bc0aee475eea",
      "name": "Fltrar os Dados"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e207df2a-40a2-4270-bb77-faf44dabe30e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1460,
        140
      ],
      "id": "7e2161d5-c635-4039-ac54-c7ebff8ffe0b",
      "name": "Receber Mensagem",
      "webhookId": "e207df2a-40a2-4270-bb77-faf44dabe30e"
    },
    {
      "parameters": {
        "databaseId": 249851,
        "tableId": 592265,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 4380495,
                "value": "={{ $json.cliente.Numero }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -1020,
        140
      ],
      "id": "899f9050-4010-4650-a4c6-8316399db40c",
      "name": "ConsultaCliente",
      "alwaysOutputData": true,
      "credentials": {
        "baserowApi": {
          "id": "5pptIKr5IorTFdpK",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9ebd56fa-253d-49b8-aa53-53734185b43e",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        140
      ],
      "id": "4d6a29dc-d573-4386-a4e1-929a9082661e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 249851,
        "tableId": 592265,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4380494,
              "fieldValue": "={{ $('Fltrar os Dados').item.json.cliente.NomeDoCliente }}"
            },
            {
              "fieldId": 4380495,
              "fieldValue": "={{ $('Fltrar os Dados').item.json.cliente.Numero }}"
            },
            {
              "fieldId": 4380496,
              "fieldValue": "={{ $('Fltrar os Dados').item.json.cliente.Data }}"
            },
            {
              "fieldId": 4380504,
              "fieldValue": "={{ $('Fltrar os Dados').item.json.cliente.UltimaMensagem }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -580,
        240
      ],
      "id": "3e7de3f7-4286-40d5-a4f8-65438f6c355f",
      "name": "CriaCliente",
      "credentials": {
        "baserowApi": {
          "id": "5pptIKr5IorTFdpK",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Parte 01 - Curso Dominando Automação",
        "height": 580,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        -120
      ],
      "typeVersion": 1,
      "id": "7935e930-4157-4f8f-ab62-43238363ab14",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Fltrar os Dados').item.json.wpp.TipoMenssagem }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "762140b6-9d9d-4ce0-9306-9f6342d1fe7e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "138be3a5-587f-4f1d-9e3b-9e1a8cd0da0f",
                    "leftValue": "={{ $('Fltrar os Dados').item.json.wpp.TipoMenssagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "93522259-2763-49dc-b309-313d454edff5",
                    "leftValue": "={{ $('Fltrar os Dados').item.json.wpp.TipoMenssagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -220,
        120
      ],
      "id": "29c4a678-c20b-4b3a-a209-538a0250a739",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.w3b.ae/chat/getBase64FromMediaMessage/cleberAI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Receber Mensagem').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -60
      ],
      "id": "3693f0e3-d667-49f0-a440-f4c4b1aca3bb",
      "name": "Converter Áudio em Base64",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ks8wd3wgPtRtGBlJ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.w3b.ae/chat/getBase64FromMediaMessage/cleberAI",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Receber Mensagem').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        260
      ],
      "id": "cac99ce6-caa3-43a8-843e-cff94feab77b",
      "name": "Converter Imagem em Base64",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ks8wd3wgPtRtGBlJ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        360,
        -60
      ],
      "id": "69e6d185-c5e1-4a71-99aa-9da2a94a70ed",
      "name": "Converter Áudio para Arquivo"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        580,
        -60
      ],
      "id": "b4c7cc31-1d61-4f2c-89e3-e496faab687b",
      "name": "Transcreve Audio",
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        400,
        260
      ],
      "id": "78087556-c4fe-4e23-9714-9a22ea3fe028",
      "name": "Converter Áudio para Arquivo1"
    },
    {
      "parameters": {
        "resource": "image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        620,
        260
      ],
      "id": "3da96f9a-ffa9-4346-8b83-971da82192d1",
      "name": "Transcreve a Imagem",
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Parte 02 - Curso Dominando Automações ",
        "height": 580,
        "width": 1520,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        -120
      ],
      "id": "4968b61c-28cd-4db5-8448-2f5202770603",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1000,
        120
      ],
      "id": "9742e819-567a-422b-b415-8b0757f083cc",
      "name": "Junta Tudo"
    },
    {
      "parameters": {
        "operation": "push"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1280,
        120
      ],
      "id": "f2255854-1a66-48ad-9c9e-ad2bbd325d24",
      "name": "ResgistraMsgFila",
      "credentials": {
        "redis": {
          "id": "5HEvdXU1EKCkt8VU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Name",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1520,
        120
      ],
      "id": "7996b4b1-1137-4748-bfff-59a225a6892c",
      "name": "BuscaMensagem",
      "credentials": {
        "redis": {
          "id": "5HEvdXU1EKCkt8VU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2100,
        -40
      ],
      "id": "abf72d85-8ad7-48d5-b327-1c335ea9fcf6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d739ac9-09b4-44c6-b85a-4ae8ca187d54",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1740,
        120
      ],
      "id": "09714365-9331-43bc-a7c3-1cb95beafa3c",
      "name": "VerificaSeÉMaiorQue1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        260
      ],
      "id": "093c6fa7-fdf4-4ed8-b288-1a19da905166",
      "name": "Aguarda 5 seg",
      "webhookId": "9a842868-a7cb-4a4b-9533-85f6139fc2b6"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Name",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2280,
        260
      ],
      "id": "b7cc1312-524b-4263-9efd-6ea4afc4a077",
      "name": "VerificaMensagem"
    },
    {
      "parameters": {
        "content": "# Parte 03 - Curso Dominando Automações",
        "height": 580,
        "width": 1680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        -120
      ],
      "id": "cd1e99bc-404b-4bf0-b571-4de1450b4387",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2500,
        260
      ],
      "id": "d3a19e42-e72e-4419-9cd7-93c4dc90f201",
      "name": "OrganizaMensagem"
    },
    {
      "parameters": {
        "operation": "delete"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2720,
        260
      ],
      "id": "030647d4-7987-4fbf-8350-b27d8780366b",
      "name": "Redis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Qual o horário nesse momento?",
        "options": {
          "systemMessage": "=Você é um agente de IA especialista em dizer a hora atual.\n\nConsulte a hora na tool: data_hora"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3120,
        -20
      ],
      "id": "627e5b4d-1ceb-44dd-80dd-5be2740ec44c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3060,
        220
      ],
      "id": "69cbd9a3-ceb8-4b90-b4be-b4c93a288e18",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3200,
        220
      ],
      "id": "ba356cc1-182a-4394-865d-9d119577a972",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "útil para informar a hora atual",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        3360,
        220
      ],
      "id": "b8022fc1-82de-4c70-bf54-ef829226917f",
      "name": "Data_Hora"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3500,
        -20
      ],
      "id": "880f197e-2f21-40ef-b481-afdd1a612eaf",
      "name": "Separa a Mensagem em Várias"
    },
    {
      "parameters": {
        "content": "# Parte 04 - Curso Dominando Automações",
        "height": 580,
        "width": 1020,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2980,
        -120
      ],
      "id": "609de1fb-a580-457d-a619-ea1bf059937a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3720,
        -20
      ],
      "id": "b690dc18-c261-4b3f-9b6c-a18ed318fa20",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4200,
        -20
      ],
      "id": "ce742e82-1e97-4a07-8606-bee7f4348a7e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        5180,
        240
      ],
      "id": "1604ba62-14a7-4b0f-a5f5-54744d9ba9f0"
    },
    {
      "parameters": {
        "content": "# Parte 05 - Curso Dominando Automações",
        "height": 580,
        "width": 1300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4080,
        -120
      ],
      "id": "7b2b7212-0993-4867-a20e-c8012483a058",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4400,
        120
      ],
      "id": "a9eec0ad-72db-48a8-9160-564fbe0871e1",
      "name": "PreparaMensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        120
      ],
      "id": "f5f6df37-f6ef-49ee-8bdf-4a988a3c64bd",
      "name": "Resposta Cliente"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4900,
        -40
      ],
      "id": "880d79b7-afbd-4106-b3c0-aa09208edcc4",
      "name": "Aguarda 1 segundo",
      "webhookId": "26d17ac0-e23b-4492-9686-c132c61918e7"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-06-27T17:58:34.672Z",
      "updatedAt": "2025-06-27T17:58:34.672Z",
      "role": "workflow:owner",
      "workflowId": "YwqC73R0hWdkRBsH",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-01T18:09:15.003Z",
  "versionId": "6983d8cf-6550-41b0-be52-b897ede6ae06"
}