workflows/Agente SDR com ligação.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Set campos 1": {
      "main": [
        [
          {
            "node": "Realizar chamada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set campos 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-08T13:14:53.742Z",
  "id": "e514dAhu8_9SN_qWX7eQk",
  "isArchived": false,
  "meta": null,
  "name": "Agente SDR com ligação",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "558b63e2-518a-4dfa-8059-f2850fdd085c",
              "name": "assistantId",
              "value": "12e722ed-f940-471d-b7b0-8557e43a",
              "type": "string"
            },
            {
              "id": "b7d8d74b-129e-42c2-bb2e-b16d723e77dc",
              "name": "phoneNumberId",
              "value": "75817e4f-44d7-4bd1-a854-978158",
              "type": "string"
            },
            {
              "id": "57ef1df5-e596-4f9a-b5b5-f9dc86ab5225",
              "name": "customer",
              "value": "={   \"number\": \"{{ $json.body.data.fields[2].value }}\" }",
              "type": "object"
            },
            {
              "id": "c0d3fa11-8378-4380-95fc-0782da533c9e",
              "name": "assistantOverrides",
              "value": "={ \"variableValues\": { \"email\": \"{{ $json.body.data.fields[1].value }}\", \"first_name\": \"{{ $json.body.data.fields[0].value }}\", \"telefone\": \"{{ $json.body.data.fields[2].value }}\" } }",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "6914d5c7-6773-4303-883e-1edfd74d121a",
      "name": "Set campos 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "8754608b-e9e7-4666-83c7-bbbecfe88454"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "assistantId",
              "value": "={{ $json.assistantId }}"
            },
            {
              "name": "=phoneNumberId",
              "value": "={{ $json.phoneNumberId }}"
            },
            {
              "name": "=customer.number",
              "value": "={{ $json.assistantOverrides.variableValues.telefone }}"
            },
            {
              "name": "=assistantOverrides",
              "value": "={{ $json.assistantOverrides }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        0
      ],
      "id": "0917e12a-76f7-4424-9f6c-6bcdf2ebee7e",
      "name": "Realizar chamada",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "430064f5-a1b6-4f62-951d-7d285db50770",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "37c0a146-1f5d-495c-bfc3-31d483cea3e6",
      "name": "Webhook",
      "webhookId": "430064f5-a1b6-4f62-951d-7d285db50770"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-08T13:14:53.742Z",
      "createdAt": "2026-01-08T13:14:53.742Z",
      "role": "workflow:owner",
      "workflowId": "e514dAhu8_9SN_qWX7eQk",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-08T13:14:53.742Z",
  "versionId": "2066d161-1943-4fda-a29a-d41c1e01d2e8"
}