workflows/Analisador de Currículos com IA.json
{
  "active": false,
  "connections": {
    "Receber Currículo": {
      "main": [
        [
          {
            "node": "Download Currículo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Currículo": {
      "main": [
        [
          {
            "node": "Extrair Texto PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Texto PDF": {
      "main": [
        [
          {
            "node": "Extrair Dados IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados IA": {
      "main": [
        [
          {
            "node": "Comparar com Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lista de Vagas": {
      "main": [
        [
          {
            "node": "Comparar com Vagas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extrair Dados IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Extrair Dados IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Comparar com Vagas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Comparar com Vagas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Comparar com Vagas": {
      "main": [
        [
          {
            "node": "Enviar Resumo por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T12:25:16.728Z",
  "id": "N8KOyFFBu8vblJXd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Analisador de Currículos com IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "curriculo",
        "options": {}
      },
      "id": "ca2c7936-d2c4-4930-b43b-89d1c9721139",
      "name": "Receber Currículo",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -64,
        -96
      ],
      "typeVersion": 2,
      "webhookId": "9050f172-3836-4185-990f-29597bd2e2d5"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c37824e2-122f-45e8-b02a-e188dc2797b7",
      "name": "Download Currículo",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        176,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "curriculoTexto",
        "options": {}
      },
      "id": "1485e935-80b5-4074-9f86-affb1e393795",
      "name": "Extrair Texto PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        400,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.curriculoTexto }}",
        "options": {
          "systemMessage": "Você é um extrator inteligente de currículos. Extraia os seguintes campos do texto: nome, idade, email, profissão, experiências (com empresa, cargo e período), habilidades e formação acadêmica. Retorne como JSON."
        }
      },
      "id": "bf3bf2a3-2f93-478b-b83a-000d64879e59",
      "name": "Extrair Dados IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        656,
        -96
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "id": "7cbc45c2-ed6d-414b-a1bb-340637f36273",
      "name": "Buscar Lista de Vagas",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1744,
        144
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LOJgWrBsYdHTsczQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rh@empresa.com",
        "subject": "Análise de Currículo",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "93d6f6ca-69f7-4784-a88b-20a9e14dd43f",
      "name": "Enviar Resumo por Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1744,
        -96
      ],
      "typeVersion": 2.1,
      "webhookId": "545a8e20-66a7-4729-80dd-41427135aeca",
      "credentials": {
        "gmailOAuth2": {
          "id": "jamCcogKZmfUAdpZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        160
      ],
      "id": "9c26b87d-ff7b-4c7f-8b52-66149ca0bab4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        160
      ],
      "id": "96aa2542-c701-4ce0-81f1-69a1a3b2f9bc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        144
      ],
      "id": "260d1e53-db78-40a0-950e-7b0bd9cd417c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1248,
        144
      ],
      "id": "786bd13c-5ad4-4315-bbd7-8aa24b07b4a8",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Baseie-se nestes dois elementos:\n1. O JSON a seguir representa o perfil extraído do currículo: {{ $json }}\n2. Esta é a lista de vagas: {{ $input.item(1).json }}\n\nCompare e gere um JSON com as vagas mais compatíveis, nota de 0 a 10 e justificativa curta.\n",
        "options": {
          "systemMessage": "Você é um recrutador inteligente. Com base neste perfil de candidato e na lista de vagas da empresa, indique as vagas mais compatíveis com notas de 0 a 10 e justifique brevemente. Responda como JSON."
        }
      },
      "id": "efae75fc-6c41-4cda-9dde-ca11b8a15c25",
      "name": "Comparar com Vagas",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1088,
        -96
      ],
      "typeVersion": 1.8,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-01T12:25:16.728Z",
      "updatedAt": "2025-08-01T12:25:16.728Z",
      "role": "workflow:owner",
      "workflowId": "N8KOyFFBu8vblJXd",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-01T12:56:51.370Z",
  "versionId": "3830e940-1563-4627-9280-581230055a2d"
}