workflows/Assistente de RH Automático.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Encontra Currículos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontra Currículos": {
      "main": [
        [
          {
            "node": "Baixa Arquivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa Arquivos": {
      "main": [
        [
          {
            "node": "Converte para Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte para Texto": {
      "main": [
        [
          {
            "node": "Profissional de RH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai Informações": {
      "main": [
        [
          {
            "node": "Ordena pela Nota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordena pela Nota": {
      "main": [
        [
          {
            "node": "Condicional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Condicional": {
      "main": [
        [
          {
            "node": "Aprovado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profissional de RH": {
      "main": [
        [
          {
            "node": "Extrai Informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-14T13:53:51.220Z",
  "id": "Re1yWXjDpymuw26L",
  "isArchived": false,
  "meta": null,
  "name": "Assistente de RH Automático",
  "nodes": [
    {
      "parameters": {},
      "id": "eee7f30b-2d5b-40f2-bd19-e902034bfb29",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        40,
        100
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Currículo",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1SweEgBGOWH-j7VWz9RyWM1k1UWbmtxBF",
            "mode": "list",
            "cachedResultName": "Currículos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1SweEgBGOWH-j7VWz9RyWM1k1UWbmtxBF"
          }
        },
        "options": {}
      },
      "id": "cd4c79ad-2e1c-4308-a713-5a8bae81e1c8",
      "name": "Encontra Currículos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        260,
        100
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "351320ea-a3d9-4339-bc8f-2fa7306274db",
      "name": "Baixa Arquivos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        500,
        100
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "ed4d6439-9f77-4515-9ac6-8dd4f5137f38",
      "name": "Converte para Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        720,
        100
      ]
    },
    {
      "parameters": {
        "content": "## Obtenção de Currículos",
        "height": 258.0964713064308,
        "width": 903.9029040203084
      },
      "id": "05f87c41-4535-4bef-8c9d-2a64005d8537",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70a257de-d64a-4995-9e67-a3d460aeee16",
              "name": "nota",
              "value": "={{ $json.message.content.match(/Nota final:\\s*(\\d+)/)[1] }}",
              "type": "number"
            },
            {
              "id": "3751665a-74bb-4d9d-83b3-44338bff66e3",
              "name": "analise",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "dcb005d5-ed73-45b7-b632-17a72aec8bc5",
              "name": "nome",
              "value": "={{ $json.message.content.match(/Nome do candidato:\\s*(.+)\\n/)[1].trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "13e4c2ce-3f19-45d3-9370-21b3b70d1f40",
      "name": "Extrai Informações",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        360
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "nota",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "e381de91-5504-4d93-8d8e-bb85cf099a7f",
      "name": "Ordena pela Nota",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        600,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b2065cd7-c0d2-4729-8c6b-3ffcec6a770d",
              "leftValue": "={{ $json.nota }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0d5d1fbb-5a73-41ee-ab53-897deb29a596",
      "name": "Condicional",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "listId": "673cba12004a47a4a6235933",
        "name": "=Currículo | {{ $json.nome }}",
        "description": "=**Análise**:\n\n{{ $json.analise }}",
        "additionalFields": {}
      },
      "id": "e9fe4750-219b-400d-be1b-5362d3d9990e",
      "name": "Aprovado",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1160,
        320
      ]
    },
    {
      "parameters": {
        "listId": "673cba173661101ba625d3bb",
        "name": "=Currículo | {{ $json.nome }}",
        "description": "=**Análise**:\n\n{{ $json.analise }}",
        "additionalFields": {}
      },
      "id": "78f1bf9a-32b0-44c5-b5ec-2d2f6ead099f",
      "name": "Reprovado",
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1160,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Analisa Currículo",
        "height": 248.67863570142632,
        "width": 909.3806694881863,
        "color": 4
      },
      "id": "5355f9bc-ecdc-4875-a519-40187340936a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Adiciona no Trello",
        "height": 410.302600770155,
        "width": 262.88480921327204,
        "color": 6
      },
      "id": "5868a27d-580e-41be-84a5-8890c78682c8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1100,
        240
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=<role>\nVocê é uma profissional de RH experiente com mais de 20 anos de atuação na área especializada em analisar currículos para a posição de Assistente Administrativo em um escritório de advocacia. Sua função é avaliar detalhadamente os currículos recebidos e atribuir uma nota final entre 0 e 100.\n</role>\n\n<instructions>\nAnalise o currículo fornecido utilizando a metodologia Chain of Thought (CoT), detalhando seu raciocínio passo a passo. No começo da análise, coloque o nome do candidato: \"Nome do candidato: N\", substituindo N pelo nome completo do candiato. Ao final da análise, apresente o texto: \"Nota final: X\", substituindo X pela nota atribuída. Utilize os critérios de avaliação definidos para orientar sua análise.\n</instructions>\n\n<context>\nA vaga disponível é para Assistente Administrativo em um escritório de advocacia renomado. O candidato ideal deve possuir habilidades administrativas sólidas, conhecimento em rotinas de escritório, familiaridade com o setor jurídico e excelente comunicação. </context>\n\n<evaluation_criteria>\n- Formação Acadêmica (até 20 pontos): Nível de escolaridade relevante para a função.\n- Experiência Profissional (até 30 pontos): Tempo e relevância da experiência na área administrativa.\n- Conhecimentos Específicos (até 20 pontos): Domínio de ferramentas administrativas e rotinas de escritório.\n- Experiência no Setor Jurídico (até 15 pontos): Vivência ou conhecimento específico em escritórios de advocacia ou áreas correlatas.\n- Habilidades Complementares (até 10 pontos): Idiomas, cursos extracurriculares, certificações relevantes.\n- Apresentação do Currículo (até 5 pontos): Clareza, organização e profissionalismo do documento. </evaluation_criteria>\n\n<general_rules>\n- Mantenha a objetividade e a clareza em sua análise.\n- Utilize linguagem formal e profissional.\n- Não revele os critérios de pontuação ao candidato.\n- Respeite a confidencialidade das informações apresentadas.\n- Evite comentários pessoais, preconceituosos ou discriminatórios.\n</general_rules>",
              "role": "system"
            },
            {
              "content": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a9a85a9-3299-4507-a0c3-4ba9fc0f1f16",
      "name": "Profissional de RH",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        40,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-14T13:53:51.220Z",
  "versionId": "ca5d6448-a42a-4b1c-9c89-b7a30b3a7470"
}