workflows/Atendimento WhatsApp.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Get Buffer Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input evolution": {
      "main": [
        [
          {
            "node": "Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Map": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Buffer Messages": {
      "main": [
        [
          {
            "node": "If no new messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no new messages": {
      "main": [
        [
          {
            "node": "Clear Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Buffer": {
      "main": [
        [
          {
            "node": "Formata Mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistant": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata Mensagens": {
      "main": [
        [
          {
            "node": "Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-15T14:47:40.179Z",
  "id": "866aJ1RXmeSf6hFJ",
  "isArchived": false,
  "meta": null,
  "name": "Atendimento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "amount": 3
      },
      "id": "cd569f03-44d6-4d97-8fd1-a07f6eceec33",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        380
      ],
      "webhookId": "750464c1-5a4c-4c90-8c9d-2142a312a177"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ak-bot-test",
        "options": {}
      },
      "id": "9266f974-b755-4cca-9ad0-d12932ec04db",
      "name": "input evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        400
      ],
      "webhookId": "69ea39b0-54b6-4354-8b13-d0e58420c0a7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Map').item.json.message.chat_id }}_chat",
        "contextWindowLength": 200
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        2380,
        600
      ],
      "id": "0a1bf056-8b20-4693-9af9-da11c8199b37",
      "name": "Redis Chat Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f16b1bf-1a3e-4029-8d7a-1bccb919ee43",
              "name": "message.message_id",
              "value": "={{ $('input evolution').item.json.body.data.key.id || '' }}",
              "type": "string"
            },
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $('input evolution').item.json.body.data.key.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $('input evolution').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('input evolution').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('input evolution').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $('input evolution').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('input evolution').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $('input evolution').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "dc3dc59c-90a3-4a45-bea2-de092c91083b",
              "name": "message.content_url",
              "value": "={{ $('input evolution').item.json.body.data.message.audioMessage?.url || '' }}{{ $('input evolution').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $('input evolution').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "b2f1f6b5-292f-4695-9e41-be200c6d7053",
              "name": "instance.name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "572fcce5-8a26-4e8f-a48a-ef0bee569dcd",
              "name": "instance.apikey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "e90043db-657b-461c-b040-2d6089abfbdb",
              "name": "instance.server_url",
              "value": "={{ $json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "03920f10-b7d3-43fc-86c0-5ed7d3f42b7a",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "45790e49-36f2-48f0-9336-0d6e4cf745f9",
      "name": "Map",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        400
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Map').item.json.message.chat_id }}",
        "messageData": "={{ $('Map').item.json.message.content }}",
        "tail": true
      },
      "id": "04c53315-d7ab-439e-9a5b-bf7293a72ce8",
      "name": "Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensagem",
        "key": "={{ $('Map').item.json.message.chat_id }}",
        "options": {}
      },
      "id": "917aff4d-e463-46bd-b2e1-f95038f2e7a1",
      "name": "Get Buffer Messages",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9e9b4155-e399-4936-a5db-2d79c8cb871f",
              "leftValue": "={{ $json.mensagem.last() }}",
              "rightValue": "={{ $('Buffer').item.json.message.content }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22146c1d-a7e2-4d6d-8a97-bf86c3d3d096",
      "name": "If no new messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        380
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Map').item.json.message.chat_id }}"
      },
      "id": "b9dae876-3047-444b-a942-72ab12cf5255",
      "name": "Clear Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1620,
        360
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_Bxk34hL5Ec9o3MHCVeAxCzQv",
          "mode": "list",
          "cachedResultName": "AK Bot V1"
        },
        "prompt": "define",
        "text": "={{ $json.mensagem || $json.chatInput}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2220,
        360
      ],
      "id": "b7cb6d97-6698-4071-a0ea-1f01122316d6",
      "name": "Assistant"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Map').item.json.instance.server_url }}/message/sendText/{{ $('Map').item.json.instance.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Map').item.json.instance.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Map').item.json.message.chat_id }}\",\n  \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}\n",
        "options": {}
      },
      "id": "9178f568-2a54-468e-b007-987c86aed847",
      "name": "Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2700,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1496757a-76f8-44d9-bb9e-bc0c9af17455",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": "incoming",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        400
      ],
      "id": "cb8bea9f-231d-426e-ac18-8367ae9f113b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem.join(\" \");\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"
      },
      "id": "79499e99-5359-4afa-9ee1-5792ffc845a9",
      "name": "Formata Mensagens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        360
      ]
    },
    {
      "parameters": {
        "content": "## Webhook da Evolution API\n### Teste: Recebe Mensagens apenas quando ativado manualmente\n### Production: Recebe todas as mensagens quando o fluxo é ativado\n",
        "height": 440,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        140
      ],
      "id": "89182b68-8df4-4ece-973b-8d2293732f50",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Mapeia variáveis\n",
        "height": 360,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "id": "3e98eef2-dbcf-464a-889f-37e1975e0da8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Filtra mensagens\n### Ignora mensagens do robô",
        "height": 360,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        220
      ],
      "id": "40038761-6710-45a0-b4c0-2771ffa2d034",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Debounce\nConcatena mensagens quebradas",
        "height": 360,
        "width": 1260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "a476c38f-33c0-43b8-925a-db360fa2938b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Formata Mensagens",
        "height": 360,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1860,
        220
      ],
      "id": "2a7fea07-22a5-4619-8d73-85a90c6a055e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Assistente responde mensagem",
        "height": 360,
        "width": 380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2160,
        220
      ],
      "id": "546544ff-9f31-4111-bb0b-c0d07ea3349d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Envia mensagem para Evolution",
        "height": 360,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2580,
        220
      ],
      "id": "168d3664-655f-48bd-8757-e12fcade4ee8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "```\n███▄▄▄▄    ▄█  ███▄▄▄▄        ▄█    ▄████████ \n███▀▀▀██▄ ███  ███▀▀▀██▄     ███   ███    ███ \n███   ███ ███▌ ███   ███     ███   ███    ███ \n███   ███ ███▌ ███   ███     ███   ███    ███ \n███   ███ ███▌ ███   ███     ███ ▀███████████ \n███   ███ ███  ███   ███     ███   ███    ███ \n███   ███ ███  ███   ███     ███   ███    ███ \n ▀█   █▀  █▀    ▀█   █▀  █▄ ▄███   ███    █▀  \n                         ▀▀▀▀▀▀               \n```",
        "height": 200,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ce680ad1-c2b2-4f1d-9c91-609a8e5e4ff8",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-06-15T14:47:40.179Z",
      "createdAt": "2025-06-15T14:47:40.179Z",
      "role": "workflow:owner",
      "workflowId": "866aJ1RXmeSf6hFJ",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-06-14T14:35:30.743Z",
      "createdAt": "2025-06-14T14:35:30.743Z",
      "id": "f7Ttu7FQN3EvRKX9",
      "name": "🥷🏼 Ninja Automações"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-15T14:47:40.179Z",
  "versionId": "ccf67256-42ba-458a-b99c-dfdd976c4ba6"
}