workflows/Backup Ninja Github.json
{
  "active": false,
  "connections": {
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Upsert Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Importa todas credenciais",
            "type": "main",
            "index": 0
          },
          {
            "node": "Importa todos Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Importa todos Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Importa todas credenciais": {
      "main": [
        [
          {
            "node": "JSON formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Upsert Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Credentials": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-14T14:35:46.730Z",
  "id": "7qFUdsWfhNhap1G8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup Ninja Github",
  "nodes": [
    {
      "parameters": {
        "content": "## Subworkflow -> Faz Upsert de Arquivos no Github",
        "height": 750.8363163824032,
        "width": 2086.845881354743,
        "color": 6
      },
      "id": "6994ae94-c9b5-42b5-b64b-23582c4a0883",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "5f2a4e0f-c971-4b3f-8d0a-ce7bb9e3f59d",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1880,
        740
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "32123610-5dbc-4c01-87ca-c904adec48e0",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        980,
        620
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "e9cddf6a-fd51-46e0-8d2d-44775b13ba9e",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        780,
        640
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "3621839c-3fe8-47dd-aba7-00be4940e6c2",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        780,
        900
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "f3452b69-399c-4e0f-bb7a-0a4e249da14b",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        980,
        900
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "954fe9bb-7a62-49ad-988b-d8a8514fbe95",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1200,
        900
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0bb413ad-857f-4e66-939f-4dfe1662b8f7",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1420,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2ba848b1-97be-476b-ac5d-74c8e3f4a124",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1420,
        900
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "271ac2b5-04f9-4b0e-8b55-00322d7e78ed",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1420,
        1060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.filepath }}",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "e1ee8263-d92b-4095-99fc-845c74af7f34",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1640,
        1060
      ],
      "typeVersion": 1,
      "webhookId": "4ae69801-7dbc-491e-9c11-b92ae183728c",
      "credentials": {
        "githubApi": {
          "id": "5Vhzmhb0DlXl9y5x",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.filepath }}",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "f3a70461-eabd-4693-a80f-8b450b3a30b6",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1640,
        880
      ],
      "typeVersion": 1,
      "webhookId": "66cf56e2-25a1-4929-a68a-579409e28243",
      "credentials": {
        "githubApi": {
          "id": "5Vhzmhb0DlXl9y5x",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "05e204ff-42d6-4636-81d2-726234a8b4e6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        700,
        60
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "f38f232f-58f3-4f7a-933d-650920341a94",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        20,
        260
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "# 🥷 Backup Ninja para GitHub – Workflows e Credenciais no Cofre\n\nEsse fluxo faz backup automático de **todos os seus workflows e credenciais do N8N direto para um repositório GitHub**.\n\nCada item é salvo como um arquivo `.json`, com o **ID como nome do arquivo**, organizado por pastas.\n\n---\n\n## ⚙️ Como Configurar\n\nAbra o nó `Globals` do fluxo e preencha os seguintes campos:\n\n- `repo.owner`: seu nome de usuário no GitHub  \n- `repo.name`: o nome do repositório onde os arquivos serão salvos  \n- `repo.path`: a pasta onde os backups vão ficar (se não existir, o fluxo cria)\n\n---\n\n### 💡 Exemplo Ninja:\n\nSe seu GitHub for `john-doe`, o repositório se chamar `n8n-backups`, e você quiser guardar os arquivos na pasta `backups/`, configure assim:\n\n- `repo.owner`: `john-doe`  \n- `repo.name`: `n8n-backups`  \n- `repo.path`: `backups/`\n\n---\n\nO fluxo se chama por subworkflow para **reduzir consumo de memória** durante o processo.\n\nSimples, seguro e no piloto automático. 🥷💾\n",
        "height": 836,
        "width": 1145,
        "color": 4
      },
      "id": "f4d7add9-4162-4ad4-8849-6d72d88ae141",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1180,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Loop Principal",
        "height": 515,
        "width": 1169,
        "color": 7
      },
      "id": "39efd105-83e1-499d-9708-298db361eba0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.filepath }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "4bc9d1ac-a187-4877-bfb0-a913a022fd4e",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        580,
        640
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "02e0dc42-0ecb-4d77-b1d5-0b6d0d5072f0",
      "credentials": {
        "githubApi": {
          "id": "5Vhzmhb0DlXl9y5x",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "diegohugo570"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "backup-n8n"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "={{ $json.type ? \"credentials\" : \"workflows\" }}/"
            },
            {
              "id": "2fc489f8-d818-45f4-8876-319bb85fec32",
              "name": "filepath",
              "value": "={{ $json.type ? \"credentials\" : \"workflows\" }}/{{ $json.type || $json.name}}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cdc72fbc-1109-4bf4-afc2-14a9a0e85662",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        380,
        800
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Function to beautify JSON\nfunction beautifyJson(jsonString) {\n  try {\n    // Parse the JSON string\n    const jsonObject = JSON.parse(jsonString);\n\n    // Format the JSON with indentation\n    return jsonObject; // Return the parsed object directly\n  } catch (error) {\n    // Return the error message if JSON is invalid\n    return `Invalid JSON: ${error.message}`;\n  }\n}\n\n// Retrieve the JSON object from the input data\nconst input = $input.all()[0].json;\n\n// Extract the JSON string from the stdout field\nconst jsonString = input.stdout.match(/\\[{.*}\\]/s);\n\n// Check if a valid JSON string is found\nif (!jsonString) {\n  return {\n    json: {\n      error: \"No valid JSON string found in stdout.\"\n    }\n  };\n}\n\n// Beautify the JSON\nconst beautifiedJson = beautifyJson(jsonString[0]);\n\n// Output the beautified JSON, ensuring each entry is in an object with a 'json' key\nconst output = beautifiedJson.map(entry => ({ json: entry }));\n\n// Return the output\nreturn output;\n"
      },
      "id": "5110ccca-ed15-4bae-8b29-5846bf809880",
      "name": "JSON formatting",
      "type": "n8n-nodes-base.code",
      "position": [
        460,
        180
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Edite esse Nó 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "57d85b01-6177-4e3a-bc90-444f000744ab",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4e937a3f-9ec8-4863-83b8-41a21719f21a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        100,
        920
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "f0738aad-91da-42ad-9a2c-a95d3361ea01",
      "name": "Importa todos Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        360,
        360
      ],
      "typeVersion": 1,
      "executeOnce": false,
      "credentials": {
        "n8nApi": {
          "id": "TcexyNIh3ZiaZTis",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "command": "npx n8n export:credentials --all --decrypted"
      },
      "id": "ea3187ab-de63-49f2-8761-1effbf6e53ff",
      "name": "Importa todas credenciais",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        280,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "29adb82e-0922-4e3e-b7fb-49f1377fc0c2",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        700,
        300
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "f9f4cbc2-9083-49e9-bae5-e3f7015f8293",
      "name": "Upsert Workflows",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        940,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "d381a414-fdee-43a0-9981-dd46ee3ad29c",
      "name": "Upsert Credentials",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        940,
        80
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-06-14T14:35:46.730Z",
      "updatedAt": "2025-06-14T14:35:46.730Z",
      "role": "workflow:owner",
      "workflowId": "7qFUdsWfhNhap1G8",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-14T14:35:30.743Z",
      "updatedAt": "2025-06-14T14:35:30.743Z",
      "id": "f7Ttu7FQN3EvRKX9",
      "name": "🥷🏼 Ninja Automações"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-14T14:55:00.990Z",
  "versionId": "3c26c781-beb7-4fad-acdc-0040dbc507b8"
}