workflows/Buscar ID grupo em massa EVO - Potto Flow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Buscar grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Adicionar na planilha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar na planilha": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar grupo": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-02T18:13:42.353Z",
  "id": "CnTLXT1lJ4Qfw0V0",
  "isArchived": false,
  "meta": null,
  "name": "Buscar ID grupo em massa EVO - Potto Flow",
  "nodes": [
    {
      "parameters": {},
      "id": "7928398b-d31d-4e8e-82d6-fea028af337f",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -880,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "200aa841-e906-46e3-a442-8599dc48f928",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BKf236F8bbJil70FQJxu6ke9yfSGepGPCjq-ydIdZn8",
          "mode": "list",
          "cachedResultName": "Id grupos EVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BKf236F8bbJil70FQJxu6ke9yfSGepGPCjq-ydIdZn8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BKf236F8bbJil70FQJxu6ke9yfSGepGPCjq-ydIdZn8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Grupo": "={{ $json.subject }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Grupo",
              "displayName": "Grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c5696eb0-a0d3-45b0-a0c0-6dadd3520ed5",
      "name": "Adicionar na planilha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        32,
        256
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 7
      },
      "id": "0f33d335-e20e-4abc-95e0-abb8cd8696a7",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        272,
        256
      ],
      "webhookId": "024c754e-2aeb-4c64-9d69-9556c1261cab"
    },
    {
      "parameters": {},
      "id": "084513c5-d097-48dc-8f7d-5c1effadb256",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -448,
        240
      ],
      "id": "d106902f-93bf-4538-b5c4-e3898067e751",
      "name": "Split Out",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "resource": "groups-api",
        "operation": "fetch-groups",
        "instanceName": "potto-evo",
        "searchMethod": "fetchAll"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -640,
        240
      ],
      "id": "0eb714e2-d41f-46ef-be41-a8c04c40871c",
      "name": "Buscar grupo",
      "notes": "Desenvolvido por Potto Flow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-02T18:13:42.353Z",
      "createdAt": "2026-01-02T18:13:42.353Z",
      "role": "workflow:owner",
      "workflowId": "CnTLXT1lJ4Qfw0V0",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-02T18:13:54.057Z",
  "versionId": "7fe1cb5a-31fd-4d7b-8785-8f03604a3608"
}