workflows/Disparo Inteligente de WhatsApp com IA.json
{
  "active": false,
  "connections": {
    "Curriculo Trigger": {
      "main": [
        [
          {
            "node": "IA Mensagem Personalizada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Mensagem Personalizada": {
      "main": [
        [
          {
            "node": "WhatsApp RH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo IA": {
      "ai_languageModel": [
        [
          {
            "node": "IA Mensagem Personalizada",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "IA Mensagem Personalizada",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T12:32:31.017Z",
  "id": "gwVDGqGwlKsn0eQD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Disparo Inteligente de WhatsApp com IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "novo-curriculo",
        "options": {}
      },
      "id": "82e14765-5413-4af5-97db-0eb14e07c042",
      "name": "Curriculo Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        0
      ],
      "webhookId": "2a4f6871-05a2-489e-adf4-fdc3c36ff167"
    },
    {
      "parameters": {
        "text": "=Nome: {{ $json.nome }}\nEmail: {{ $json.email }}\nTelefone: {{ $json.telefone }}\nResumo: {{ $json.resumo }}\n\nVagas Compatíveis:\n{{ $json.vagas.map(v => '- ' + v).join('\\\\n') }}\n",
        "options": {
          "systemMessage": "Você é um assistente de RH. Crie uma mensagem personalizada para o gestor de RH notificando que um novo currículo compatível foi recebido. A mensagem deve conter as informações do candidato e as vagas compatíveis, de forma clara e objetiva."
        }
      },
      "id": "8e4f7e90-bd34-4d1a-9c31-0ba1f4db66e5",
      "name": "IA Mensagem Personalizada",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ]
    },
    {
      "parameters": {
        "resource": "__CUSTOM_API_CALL__"
      },
      "id": "2203f45d-39fc-4c2e-b054-3783bc2640a0",
      "name": "WhatsApp RH",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "webhookId": "42e7b297-076b-43b1-9355-3ece2087880f",
      "credentials": {
        "whatsAppApi": {
          "id": "2zN13spDKTxHh5Zt",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "id": "40bb1faa-7535-4462-b079-19526489ffd9",
      "name": "Modelo IA",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        224
      ],
      "id": "b4bd2f05-8068-4326-a15b-a4bf52321196",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-01T17:52:47.300Z",
  "versionId": "b4bac4bd-1eda-4ecc-993b-55756b7669a5"
}