workflows/Evolution Tratamento Entrada e Saída.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CamposIniciais": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getbase64": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getbase64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getbaseImagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getbaseImagem": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "mensagemCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagemCliente": {
      "main": [
        [
          {
            "node": "resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resposta": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "CamposIniciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-25T14:00:33.747Z",
  "id": "1B0XngzWVsDRXhlR",
  "isArchived": false,
  "meta": null,
  "name": "Evolution Tratamento Entrada e Saída",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bd29410c-00dc-42df-a9d2-3f85b6917c47",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f515afd-306f-46b9-a543-be11e4bf4a33",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3400,
        400
      ]
    },
    {
      "parameters": {},
      "id": "16136505-57df-4309-bc85-d75aeb32b1d1",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2740,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionv2-evolutionv2.vd3lzd.easypanel.host/message/sendText/{{ $(\"CamposIniciais\").item.json.nomeInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $(\"CamposIniciais\").item.json.apiKey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $(\"CamposIniciais\").item.json.telefonecliente }}"
            },
            {
              "name": "text",
              "value": "={{ $json.responses }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "83be590c-1300-40ae-b48c-e81c3dad6d28",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0be85060-2697-469a-a35e-cda3b6a6b98f",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "4043ace3-90e5-451a-9cb0-d3c101246fb6",
              "name": "nome cliente",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "26896144-bde1-4475-b031-2e7136678e44",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "4a441a0f-95ae-4872-b93e-4ff6b661627b",
              "name": "telefonecliente",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "65e61dc9-5227-4c30-8ca4-723678ef6c07",
              "name": "mensagemTipo",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "fd809de9-2cb9-4dec-963e-5c72c22e4aa9",
              "name": "instanciaID",
              "value": "={{ $json.body.data.instanceId }}",
              "type": "string"
            },
            {
              "id": "a6baed4f-8d58-4108-9311-e98d97c0e79d",
              "name": "apiKey",
              "value": "={{ $json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "7b1cfa70-db7d-49e5-855d-2068f3826b72",
              "name": "telefoneEmpresa",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "id": "f9b69da3-fd51-44e3-a95c-2e008b7a35b9",
              "name": "nomeInstancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "caffb063-d784-4e34-b0d0-72501e301368",
              "name": "idMensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "4481e77a-a36e-4915-ba76-a25801a9bd8a",
              "name": "mensagemObjeto",
              "value": "={{ $json.body.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f3be5e6-25c7-4ac1-8476-502f70b6a914",
      "name": "CamposIniciais",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionv2-evolutionv2.vd3lzd.easypanel.host/chat/getBase64FromMediaMessage/{{ $json.nomeInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.keyAudio }}\"\n    }\n  },\n  \"convertToMp4\": false\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "0d7d94d8-c343-4b13-ac12-111ccff7e830",
      "name": "getbase64",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2940,
        920
      ]
    },
    {
      "parameters": {
        "jsCode": "// Decodificar Base64 OGG file\nconst base64Ogg = $json[\"base64\"];\nconst oggFilePath = '/tmp/audio.ogg';\n\n// Salvar o arquivo OGG\nreturn [\n  {\n    json: {\n      oggFilePath,\n    },\n    binary: {\n      data: {\n        data: Buffer.from(base64Ogg, 'base64'),\n        mimeType: 'audio/ogg',\n        fileName: 'audio.ogg',\n      }\n    }\n  }\n];\n"
      },
      "id": "78b93d95-d588-4f42-a7c2-e55494df9e59",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2760,
        920
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "b3e38278-f441-43ca-a2c4-edbfdb3d5632",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -2500,
        920
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mensagemTipo }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "cb649114-26dd-4725-8633-e911c759d18f",
                    "leftValue": "={{ $json.mensagemTipo }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5e0c660a-569e-4f68-9839-1f54a75bdb0b",
                    "leftValue": "={{ $json.mensagemTipo }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "id": "1601517e-5f87-4afd-9cfe-b3e7271231b3",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -3100,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionv2-evolutionv2.vd3lzd.easypanel.host/chat/getBase64FromMediaMessage/{{ $json.nomeInstancia }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.keyAudio }}\"\n    }\n  },\n  \"convertToMp4\": false\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "8e3069cc-0a0c-4768-b763-25f25de5181f",
      "name": "getbaseImagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2960,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "id": "c330ff90-4cd5-4797-bfb5-75d6975a9e7a",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2740,
        1080
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-2024-05-13",
          "mode": "list",
          "cachedResultName": "GPT-4O-2024-05-13"
        },
        "text": "descreva a imagem",
        "inputType": "base64",
        "options": {}
      },
      "id": "1faf3f09-f31e-46d2-826a-dca81e7ca727",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -2500,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=temp{{ $(\"CamposIniciais\").item.json.telefonecliente }}",
        "messageData": "={{ $json.mensagemObjeto }}",
        "tail": true
      },
      "id": "904c78f9-d56f-44f9-9c71-9f3a86080952",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2820,
        400
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=temp{{ $(\"CamposIniciais\").item.json.telefonecliente }}",
        "options": {}
      },
      "id": "bfaa73ad-8e12-4202-87b6-bfa4e70dc201",
      "name": "Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2620,
        400
      ]
    },
    {
      "parameters": {
        "amount": 20
      },
      "id": "42195f14-b783-494c-b660-97b39f22b6f6",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2280,
        620
      ],
      "webhookId": "97df1bb9-794e-4741-b512-d0aead3d7fda"
    },
    {
      "parameters": {},
      "id": "190f4e75-2958-4c1b-a4d1-1c757f1df6a9",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2240,
        220
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=temp{{ $(\"CamposIniciais\").item.json.telefonecliente }}"
      },
      "id": "ca2e46bd-c674-4979-b2e0-9169b8b10414",
      "name": "Redis2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2180,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a59b63de-cb02-4461-a2bb-40c5f2a83f11",
              "name": "conversacliente",
              "value": "={{ $json.propertyName.map(value => JSON.parse(value).message.conversation).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f8fc87b3-56f0-42f5-bafd-6fb01223fd3a",
      "name": "mensagemCliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23fd96a3-9230-41d9-9aec-36e6353c3e05",
              "name": "resposta",
              "value": "olá, tudo bem com você? seguem as  informações solicitadas",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e4ac4de4-e4d0-482f-9d7f-139b03b2efc0",
      "name": "resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const resposta = $json[\"resposta\"]; // Recebe a resposta da variável do campo de entrada\n\n// Função para dividir a resposta em partes com base em delimitadores de frases.\nfunction dividirResposta(texto) {\n    const delimitadores = /(?<=\\.\\s)|(?<=!\\s)|(?<=\\?\\s)/; // Ponto, exclamação ou interrogação seguidos de espaço\n    return texto.split(delimitadores)\n        .map(parte => parte.trim()) // Remove espaços extras nas extremidades\n        .filter(parte => parte.length > 0); // Remove frases vazias\n}\n\n// Divide a resposta em partes\nconst partesDivididas = dividirResposta(resposta);\n\n// Retorna as partes divididas como um array no formato JSON\nreturn {\n    json: {\n        responses: partesDivididas\n    }\n};"
      },
      "id": "a49f20d9-20f7-4281-94b2-1907b932fa6e",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b72a00d5-f5c5-4393-a7ff-cfc741158f65",
        "options": {}
      },
      "id": "f7f14dcc-d55d-4d8c-92e2-7b0b22543ac4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3820,
        400
      ],
      "webhookId": "b72a00d5-f5c5-4393-a7ff-cfc741158f65"
    },
    {
      "parameters": {
        "fieldToSplitOut": "responses",
        "options": {}
      },
      "id": "aab050e9-6efe-477c-ac4e-b0fc54166f36",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -620,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b6968580-b305-4e93-b6bf-6f7e19f1973c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        400
      ]
    },
    {
      "parameters": {},
      "id": "a83d5734-d604-49a8-9e99-c102604d7271",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        200,
        420
      ]
    },
    {
      "parameters": {},
      "id": "f1d67e9c-99dc-457e-8cb8-47ef12ad1aad",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        820
      ],
      "webhookId": "cb3d883b-a88a-4b8c-991d-64e39aed7ef0"
    },
    {
      "parameters": {},
      "id": "994ecdcd-7b98-4bf4-9944-7833ab9e0c70",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "44484858-5d16-4795-9c2f-f4828a75c6ae",
                    "leftValue": "={{ JSON.parse($json.propertyName.first()).key.id}}",
                    "rightValue": "={{ $('CamposIniciais').item.json.idMensagem }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "nadaafazer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "44484858-5d16-4795-9c2f-f4828a75c6ae",
                    "leftValue": "={{ JSON.parse($json.propertyName.last()).messageTimestamp.toDateTime('s').toISO() }}",
                    "rightValue": "={{ $now.minus(20, 'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continuar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "e3e398fb-5b22-4fb9-a1ec-3326856c3087",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        -2400,
        400
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-317a.up.railway.app",
            "user-agent": "axios/1.7.5",
            "content-length": "873",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "137.184.141.147",
            "x-forwarded-host": "primary-production-317a.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-request-id": "kjQjIny7Tx2jRva0JkUeTA_603524580",
            "x-real-ip": "137.184.141.147"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "evo01 jp",
            "data": {
              "key": {
                "remoteJid": "5519982642702@s.whatsapp.net",
                "fromMe": false,
                "id": "FE329E9218FC1B6E271D1D84ACFFF969"
              },
              "pushName": "João Paulo",
              "message": {
                "conversation": "Oi",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "zeZNkSYga/jNLA==",
                    "senderTimestamp": "1725455265",
                    "recipientKeyHash": "iqzMNnD1twGZeA==",
                    "recipientTimestamp": "1725997003"
                  },
                  "deviceListMetadataVersion": 2
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1726094232,
              "instanceId": "d9a19537-2e0e-4d66-8679-95c8854b884f",
              "source": "android"
            },
            "destination": "https://primary-production-317a.up.railway.app/webhook-test/b72a00d5-f5c5-4393-a7ff-cfc741158f65",
            "date_time": "2024-09-11T19:37:12.940Z",
            "sender": "5519971453289@s.whatsapp.net",
            "server_url": "https://evolutionv2-evolutionv2.vd3lzd.easypanel.host",
            "apikey": "0507AB41C00A-460E-A20C-562E2B4259CE"
          },
          "webhookUrl": "https://primary-production-317a.up.railway.app/webhook-test/b72a00d5-f5c5-4393-a7ff-cfc741158f65",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-25T14:00:33.747Z",
  "versionId": "449664a4-c855-4e80-9475-6c2b18e42d0f"
}