workflows/Exemplo com OpenAI + Follow-up.json
{
  "active": false,
  "connections": {
    "OpenAI - Primeira Resposta": {
      "main": [
        [
          {
            "node": "OpenAI - Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Follow-up": {
      "main": [
        [
          {
            "node": "Extrair Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-21T20:31:35.799Z",
  "id": "ZlOCDmiFGmPk1BKY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Exemplo com OpenAI + Follow-up",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4",
        "options": {},
        "requestOptions": {}
      },
      "id": "babc4719-e6db-4968-b9f7-74c90d04da55",
      "name": "OpenAI - Primeira Resposta",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ],
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {},
        "requestOptions": {}
      },
      "id": "fdbcce9c-a038-4d29-a0fc-fef4c43bdf50",
      "name": "OpenAI - Follow-up",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        112,
        -32
      ],
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { mensagem: $json.choices[0].message.content } }];"
      },
      "id": "f57fe9d9-f171-4284-9593-39df5eed9049",
      "name": "Extrair Texto",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        368,
        -32
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-21T20:33:31.803Z",
  "versionId": "b12eb3c7-1ece-4fe6-88fc-fdb5dfebfe39"
}