workflows/Forma__o_Agente_de_IA_com_N8N____Gerador_de_Shorts_Automaticos_com_VEO_3___By_RicNeves.json.json
{
  "active": false,
  "connections": {
    "Completed?": {
      "main": [
        [
          {
            "node": "Pega URL do Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Espera 1 minuto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca linha para gerar o video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta Infos": {
      "main": [
        [
          {
            "node": "Cria Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria Video": {
      "main": [
        [
          {
            "node": "Espera 1 minuto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega Status": {
      "main": [
        [
          {
            "node": "Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega URL do Video": {
      "main": [
        [
          {
            "node": "Gera Titulo do Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera Titulo do Video": {
      "main": [
        [
          {
            "node": "Baixa o Arquivo do Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixa o Arquivo do Video": {
      "main": [
        [
          {
            "node": "Salva no Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Posta no Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva no Drive": {
      "main": [
        [
          {
            "node": "Atualizar URL do VIDEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Espera 1 minuto": {
      "main": [
        [
          {
            "node": "Pega Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posta no Youtube": {
      "main": [
        [
          {
            "node": "Atualiza URL do Youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca linha para gerar o video": {
      "main": [
        [
          {
            "node": "Seta Infos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-29T20:29:17.457Z",
  "id": "EJikaSnOX8NC3bTK",
  "isArchived": false,
  "meta": null,
  "name": "Forma__o_Agente_de_IA_com_N8N____Gerador_de_Shorts_Automaticos_com_VEO_3___By_RicNeves.json",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "e4a019a1-5e55-456a-82ad-44a13996a5e5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -224,
        512
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "383d112e-2cc6-4dd4-8985-f09ce0bd1781",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "2419bbde-255d-4ae5-a117-66a3c66e866f",
      "name": "Completed?",
      "type": "n8n-nodes-base.if",
      "position": [
        1088,
        512
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "Seta a API KEY DA FAL.AI",
        "height": 340,
        "width": 220,
        "color": 7
      },
      "id": "4dd8f49c-4109-4e4c-885f-ab4081fdb9da",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Seta o USERNAME DO Youtube",
        "height": 300,
        "color": 7
      },
      "id": "d05516a1-7196-49f1-bfec-50e96c896d71",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c713d31f-9abd-496a-ac79-e8e2efe60aa0",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.PROMPT }}. Duration of the video: {{ $json.DURACAO }}"
            }
          ]
        },
        "options": {}
      },
      "id": "135cdcf7-9129-43d9-a391-6678a883314b",
      "name": "Seta Infos",
      "type": "n8n-nodes-base.set",
      "position": [
        224,
        512
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n     \"prompt\": \"{{$json.prompt}}\"\n}",
        "options": {}
      },
      "id": "1c79280b-43cf-4017-a495-bf987e1659a6",
      "name": "Cria Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        448,
        512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $('Cria Video').item.json.request_id }}/status ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "bdd662cd-6561-4348-bd09-644852d268e9",
      "name": "Pega Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        880,
        512
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "b4577047-4b30-4328-a39e-fa67451dab20",
      "name": "Pega URL do Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1344,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Input: {{ $('Busca linha para gerar o video').item.json.PROMPT }}"
            },
            {
              "content": "You are a YouTube SEO expert specialized in creating engaging and optimized titles.\n\nYour task is to generate an effective title for a YouTube video based on the user's video description.\n\nGUIDELINES:\n- Maximum 60 characters to avoid truncation\n- Use relevant keywords for SEO\n- Make the title catchy and clickable\n- Avoid excessive or misleading clickbait\n- Consider the target audience of the content\n- Use numbers, questions, or power words when appropriate\n- IMPORTANT: Generate the title in the same language as the input description\n\nOUTPUT FORMAT:\nProvide only the title, without additional explanations.\n\nEXAMPLE:\nInput: \"Tutorial video on how to cook perfect pasta carbonara\"\nOutput: \"PERFECT Carbonara in 10 Minutes - Chef's Secrets\"",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "id": "bd96f82e-cab6-4066-b5c6-fdc256c394ab",
      "name": "Gera Titulo do Video",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1584,
        480
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "url": "={{ $('Pega URL do Video').item.json.video.url }}",
        "options": {}
      },
      "id": "b4689f6b-d918-4a4c-8367-7f91af7c2f04",
      "name": "Baixa o Arquivo do Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyyLLddHHmmss') }}-{{ $('Pega URL do Video').item.json.video.file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "id": "3e9d063e-d66d-4631-b2eb-c322c0761044",
      "name": "Salva no Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2272,
        288
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "",
        "height": 780,
        "width": 3760,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        144
      ],
      "id": "93ddc405-775b-47e1-8dfe-896fe205bfe5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "▔▇▇▇▔▇▔▔▇▔▔▇▇▔▔▇▇▇▔▔▇▇▇▇▇▔▔▇▇▇▔▔▔▇▇▔▔▇▔▔▇▔▇▇▇▇▇▔▔▇▇▔▔▇▇▔▇▇▔▔▇▇▔▔▇▇▇▇▇▔▇▔▔▇▇▇▔▔▇▇▔▔▔▇▇▇▔▔▔▇▇▇▔▔▇▇▔▔▇▇▔▇▇▔▔▔▇▇▇▔▔▇▇▔▔▔▇▇▔▔▔▇▇▇▔▇▔▔▔▔▇▇▇▇▔▔▇▔▔▇▔▇▇▇▇▔▔▇▇▔▔▇▇▔▔▔▔▔▔▔▔▇▇▇▔▔▇▔▔▔▇▔▔▇▇▇▔▔▇▔▔▇▇▇▔▇▔▔▇▔▇▇▇▇▔▇▔▔▇▔▇▇▇▇▔▔▇▇▇\n▇▔▔▔▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▔▔▇▔▔▔▇▔▔▔▔▔▇▔▔▇▔▇▔▔▇▔▔▔▇▔▔▔▇▔▔▇▔▇▔▇▔▇▔▇▔▔▇▔▔▔▇▔▔▔▇▔▇▔▔▔▔▇▔▔▇▔▇▔▔▔▔▔▇▔▔▔▔▇▔▔▇▔▇▔▇▔▇▔▔▇▔▔▔▔▇▔▔▇▔▇▔▔▇▔▇▔▔▔▔▇▔▔▔▔▇▔▔▔▔▔▇▔▔▇▔▇▔▔▔▔▇▔▔▇▔▔▔▇▔▔▔▔▔▔▔▇▔▔▇▔▇▔▔▔▇▔▔▇▔▔▇▔▇▔▇▔▔▔▔▇▇▔▇▔▇▔▔▔▔▇▔▔▇▔▇▔▔▔▔▇▔▔▔\n▔▇▇▔▔▇▇▇▇▔▇▔▔▇▔▇▇▇▔▔▔▔▇▔▔▔▔▇▇▔▔▔▇▇▇▇▔▇▔▔▇▔▔▔▇▔▔▔▇▔▔▇▔▇▔▇▔▇▔▇▇▇▇▔▔▔▇▔▔▔▇▔▇▔▔▔▔▇▔▔▇▔▔▇▇▔▔▔▇▔▔▔▔▇▔▔▇▔▇▔▇▔▇▔▔▇▔▇▇▔▇▔▔▇▔▇▔▔▇▔▇▔▇▇▔▇▔▔▔▔▇▇▇▔▔▔▇▔▔▇▔▇▇▇▔▔▇▔▔▇▔▇▇▔▔▔▇▇▇▔▔▇▇▇▔▔▔▇▔▇▔▔▔▇▇▇▔▔▇▔▇▔▔▔▔▇▔▇▇▔▇▇▇▔▔▇▔▔▇▔▇▇▇▔▔▔▇▇▔\n▔▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▔▔▇▔▔▔▔▔▔▇▔▔▇▔▔▇▔▇▔▔▇▔▔▔▇▔▔▔▇▔▔▇▔▇▔▔▔▇▔▇▔▔▇▔▔▔▇▔▔▔▇▔▇▔▔▔▔▇▔▔▇▔▔▔▔▇▔▔▇▔▔▔▔▇▔▔▇▔▇▔▔▔▇▔▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▔▔▇▔▔▔▔▔▔▇▔▇▔▇▔▔▔▔▇▔▔▇▔▔▔▇▔▔▔▔▔▔▔▇▔▔▇▔▔▔▇▔▔▔▔▇▔▔▇▔▇▔▇▔▔▔▔▇▔▔▇▔▇▔▔▔▔▔▇▔▇▔▇▔▔▔▔▔▔▔▇\n▇▇▇▔▔▇▔▔▇▔▔▇▇▔▔▇▔▔▇▔▔▔▇▔▔▔▇▇▇▔▔▔▇▔▔▇▔▔▇▇▔▔▔▔▇▔▔▔▔▇▇▔▔▇▔▔▔▇▔▇▔▔▇▔▔▔▇▔▔▔▇▔▔▇▇▇▔▔▇▇▔▔▇▇▇▔▔▔▔▇▇▇▔▔▇▇▔▔▇▔▔▔▇▔▔▔▇▇▔▔▔▇▇▔▔▔▇▇▔▔▔▇▇▔▔▇▇▇▇▔▇▇▇▇▔▔▔▔▇▔▔▇▇▇▇▔▔▇▇▔▔▇▇▔▔▔▔▔▔▔▔▇▇▇▔▔▔▔▇▔▔▔▔▇▔▔▇▔▇▔▔▇▇▇▔▇▔▔▇▔▇▇▇▇▔▔▔▇▔▔▇▇▇▇▔▇▇▇▔\n▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔",
        "width": 2960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "13758b24-72dc-47fa-969a-fb5c4988903b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "749758d6-1424-4390-acde-d28c6efeb953",
      "name": "Espera 1 minuto",
      "type": "n8n-nodes-base.wait",
      "position": [
        672,
        512
      ],
      "webhookId": "490facb8-d0ae-402e-ab59-a87720cf0bdd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upload-post.com/api/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Gera Titulo do Video').item.json.message.content }}"
            },
            {
              "name": "user",
              "value": "YOUR_USERNAME"
            },
            {
              "name": "platform[]",
              "value": "youtube"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "9a0635d1-b4f4-4444-a9e1-629524fdc019",
      "name": "Posta no Youtube",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2272,
        624
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "Salva no Drive",
        "height": 260,
        "color": 7
      },
      "id": "23389319-56e1-493b-8afe-2c4043388576",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA",
          "mode": "list",
          "cachedResultName": "VEO 3 - BY RIC NEVES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "VEO3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "VIDEO": "={{ $('Pega URL do Video').item.json.video.url }}",
            "row_number": "={{ $('Busca linha para gerar o video').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "PROMPT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "PROMPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "DURATION",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "DURATION",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "VIDEO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "YOUTUBE_URL",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "YOUTUBE_URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4e84547d-ab3b-4712-a2d9-feb449a8d3c9",
      "name": "Atualizar URL do VIDEO",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2560,
        272
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA",
          "mode": "list",
          "cachedResultName": "VEO 3 - BY RIC NEVES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "VEO3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Busca linha para gerar o video').item.json.row_number }}",
            "YOUTUBE_URL": "https://youtu.be/{{ $json.results.youtube.video_id }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "PROMPT",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "PROMPT",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "DURATION",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "DURATION",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "VIDEO",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "VIDEO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "YOUTUBE_URL",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "YOUTUBE_URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e60c64e0-87c0-4cc5-8197-0ec6230ac0b8",
      "name": "Atualiza URL do Youtube",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2560,
        624
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA",
          "mode": "list",
          "cachedResultName": "VEO 3 - BY RIC NEVES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "VEO3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gBxplt6HMh9EyvUND-bwVdISuMgdpoJ4DvVkMjulSLA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "VIDEO_URL"
            }
          ]
        },
        "options": {}
      },
      "id": "4057ecc0-5b7b-4556-8308-c041f08b7526",
      "name": "Busca linha para gerar o video",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        0,
        512
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "content": "## Formação - Agente N8N\n![Source example](https://i.postimg.cc/zDL8sNR7/logo-agentes-de-IA.png)\n\n## https://agentes-n8n.com.br",
        "height": 500,
        "width": 500,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        288
      ],
      "typeVersion": 1,
      "id": "5fc2edc2-4988-404a-82fd-cd8dba96b476",
      "name": "Sticky Note28"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-29T20:29:17.457Z",
      "updatedAt": "2025-08-29T20:29:17.457Z",
      "role": "workflow:owner",
      "workflowId": "EJikaSnOX8NC3bTK",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-29T20:29:17.457Z",
  "versionId": "492c2ac0-cd78-446a-9623-258ab023ca5b"
}