workflows/Gestor de Comunidade Notícias diarias.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Envia resumo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-21T13:32:48.263Z",
  "id": "QmE3pjyIZrqfioOS",
  "isArchived": false,
  "meta": null,
  "name": "Gestor de Comunidade Notícias diarias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "1b08ad40-1067-4839-baa7-3f18cf70752d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sua chave api"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"artificial intelligence, technology, innovation, startups, digital marketing, business growth, automation tools\",\n  \"topic\": \"news\",\n  \"search_depth\": \"advanced\",\n  \"max_results\": 5,\n  \"time_range\": \"day\",\n  \"days\": 1,\n  \"include_answer\": false,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "id": "eab8a177-5608-49ef-beeb-94c30fc0bd21",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.results.map(r => `URL: ${r.url}\\nTitulo: ${r.title}\\nConteudo: ${r.content}`).join('\\n\\n') }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um curador de notícias para uma comunidade focada em tecnologia, inovação e inteligência artificial.\n\nReceberá uma lista de notícias recentes, cada uma com um título, resumo e link.\n\n## Sua tarefa é:\n1. Avaliar quais notícias são relevantes para empreendedores e criadores interessados em IA e negócios digitais.\n2. Para cada notícia relevante, gere um pequeno resumo com linguagem leve e direta, seguido do link para leitura completa.\n3. Ignore notícias que forem repetitivas, fora de contexto ou pouco úteis.\n\nRetorne o texto final em formato de lista, pronto para envio em grupo de comunidade.\n\n## Exemplo:\n*Título:* Novos modelos de IA são anunciados\n*Resumo:* A infraestrutura de dados, antes ignorada, agora é o foco de grandes aquisições no setor de IA. O investimento global em IA deve crescer 76% em 2025.\n*Link:* https://www.reuters.com/...\n\n## Rules:\n1. Sempre entregue o resumo 100% em português, incluíndo os títulos.\n2. Nunca inclua introduções, vá direto ao conteúdo\n3. SEMPRE siga o formato do exemplo\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        580,
        0
      ],
      "id": "9d1a8f29-a3f3-4d20-9dc2-9968c3c7b449",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        500,
        180
      ],
      "id": "04ef7f0d-d9b0-4ae4-b0d6-bb1c944934d3",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolutionapi.seu dominio.com/message/sendText/sua instancia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sua chave api"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=120363399514150691@g.us"
            },
            {
              "name": "text",
              "value": "=🔥 *Notícias do dia!*\n\n{{ $json.output.noticias.map(n => `*Título:* ${n.Título}\\n*Resumo:* ${n.Resumo}\\n*Link:* ${n.URL}`).join('\\n\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        0
      ],
      "id": "b402bbfc-ac62-4ab7-9ed4-9442cbbc479e",
      "name": "Envia resumo"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        660,
        180
      ],
      "id": "f6a172ba-89ca-4202-8693-8b69d33c4970",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        380
      ],
      "id": "38527b18-977e-43a8-978e-4689d999668a",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"noticias\": [\n{\n\"Título\": \"titulo da noticia\",\n\"Resumo\": \"Resumo da noticia\",\n\"URL\": \"link da noticia\"\n},\n{\n\"Título\": \"titulo da noticia\",\n\"Resumo\": \"Resumo da noticia\",\n\"URL\": \"link da noticia\"\n}\n]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        740,
        340
      ],
      "id": "30eb6b5b-1e86-4819-81d3-13582c66d3b4",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-06-21T13:32:48.263Z",
      "updatedAt": "2025-06-21T13:32:48.263Z",
      "role": "workflow:owner",
      "workflowId": "QmE3pjyIZrqfioOS",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-21T13:33:30.720Z",
  "versionId": "94689d21-ee7d-4a99-a8da-cc8e644a03d0"
}