workflows/Gestor de Comunidade Webhooks Lovable.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-21T13:38:49.943Z",
  "id": "JVDQeMEhBiNwgoYi",
  "isArchived": false,
  "meta": null,
  "name": "Gestor de Comunidade Webhooks Lovable",
  "nodes": [
    {
      "parameters": {
        "path": "2d27ceb6-84c5-42fe-a1af-6c83c328289c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "9031af6d-f514-4845-bf2f-b216d4f1511a",
      "name": "Webhook",
      "webhookId": "2d27ceb6-84c5-42fe-a1af-6c83c328289c"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "resumos",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        260,
        0
      ],
      "id": "40e5faec-9e30-479a-a776-176ee6c40ac9",
      "name": "Supabase"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        940,
        0
      ],
      "id": "6f8e574a-6a9f-4012-9163-8457d89e1811",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81856471-3390-44ea-b24e-083c0d3e5cd5",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "diario-cs",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        500,
        0
      ],
      "id": "02e323f9-6fd9-4605-b803-72d594d03e6f",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f4ca85d-134c-4dc4-ac4d-69b895cf7916",
              "name": "data",
              "value": "={{ new Date($json.created_at).toLocaleDateString('pt-BR') }}",
              "type": "string"
            },
            {
              "id": "b60f7764-3e03-453b-95e9-ae45bfd64b53",
              "name": "conteudo",
              "value": "={{ $json.conteudo }}",
              "type": "string"
            },
            {
              "id": "0f24adad-f196-4fb5-a1cc-469f2cd5bb83",
              "name": "tipo",
              "value": "={{ $json.tipo }}",
              "type": "string"
            },
            {
              "id": "b9986829-450f-4a97-bc54-6a335a8a49bf",
              "name": "audio_url",
              "value": "={{ $json.audio_url }}",
              "type": "string"
            },
            {
              "id": "006d4408-a61c-42e6-b8a2-f1ece2fd8769",
              "name": "ranking",
              "value": "={{ $json.ranking }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        0
      ],
      "id": "2af22de9-f9d3-4d53-be1d-d0f3ad93eb26",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => {\n  return ($json.data || []).map(item => ({\n    data: item.data,\n    tipo: item.tipo,\n    conteudo: item.conteudo,\n    audio_url: item.audio_url ?? null,\n    ranking: item.ranking ? item.ranking.split('\\n').filter(Boolean) : []\n  }));\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1120,
        0
      ],
      "id": "4048c5bb-2088-4373-b1be-60a885f23dd3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-06-21T13:38:49.943Z",
      "updatedAt": "2025-06-21T13:38:49.943Z",
      "role": "workflow:owner",
      "workflowId": "JVDQeMEhBiNwgoYi",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-21T13:39:09.731Z",
  "versionId": "7756d1d9-ec39-49a6-9ee3-c61051280c2b"
}