workflows/Google Maps Extractor 2.0.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Gera Bairros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Gera Bairros",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gera Bairros",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tem Website?": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Google": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trata Dados": {
      "main": [
        [
          {
            "node": "Busca Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Tem Website?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrai E-mails1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Error Not Empty": {
      "main": [
        [
          {
            "node": "Extrai E-mails1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Site1": {
      "main": [
        [
          {
            "node": "If Error Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Add Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Site1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Site": {
      "main": [
        [
          {
            "node": "Extrai E-mails2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Scrape Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera Bairros": {
      "main": [
        [
          {
            "node": "Trata Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T16:45:01.433Z",
  "id": "3067EbvA7UIYDNLa",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Google Maps Extractor 2.0",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Google Maps Scraper",
        "formDescription": "Gere uma lista de leads a partir do Google Maps",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Termo da Busca",
              "placeholder": "dentista; petshop; agência de marketing...",
              "requiredField": true
            },
            {
              "fieldLabel": "Cidade",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -16,
        1248
      ],
      "id": "59c1bc1b-8fee-4c02-bea3-56b31fbcc25f",
      "name": "On form submission",
      "webhookId": "SEU_WEBHOOK_ID"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"bairros\": [\n    \"Batel\",\n    \"Centro\",\n    \"Água Verde\",\n    \"Santa Felicidade\",\n    \"Cabral\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        1472
      ],
      "id": "181d59ea-3573-4378-955c-2d01697a5d03",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        128,
        1488
      ],
      "id": "680a22a9-be34-4a84-a4f2-53b2b6ff92ca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "58nXg6cOh7QVFFh8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ebeb453d-bbaf-4e9e-b610-612337297b08",
              "leftValue": "={{ $json.website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "90d99c77-50b2-4d6f-90f5-8898313cb3c4",
              "leftValue": "={{ $json.website }}",
              "rightValue": "bit.ly",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "caf59970-6deb-4d13-a466-80faa63ad0a7",
              "leftValue": "={{ $json.website }}",
              "rightValue": "doctoralia",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "bfb3c998-981d-4ecb-b302-fc989e495780",
              "leftValue": "={{ $json.website }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "8549d125-ff0a-404a-b27c-55fdcf95836d",
              "leftValue": "={{ $json.website }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "5cdbd689-c1e6-4685-bee8-d44b54369eb5",
              "leftValue": "={{ $json.website }}",
              "rightValue": "facebook",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "6ec6a750-709b-474e-a98d-7263617e06fb",
              "leftValue": "={{ $json.website }}",
              "rightValue": "encurtador",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "c6befdb9-ba9c-4088-887f-f1473b3b9974",
              "leftValue": "={{ $json.website }}",
              "rightValue": "wa.me",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        1184
      ],
      "id": "c40270a0-3572-4966-8cab-cbfcf0ee9a3a",
      "name": "Tem Website?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/maps",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('On form submission').item.json['Termo da Busca'] }} no {{ $json.bairro }} - {{ $('On form submission').item.json.Cidade }}"
            },
            {
              "name": "hl",
              "value": "pt-br"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        1248
      ],
      "id": "60181a07-2451-470f-92a6-28c155628ef2",
      "name": "Busca Google"
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.output.bairros.map(bairro => {\n  return { json: { bairro } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        1248
      ],
      "id": "77f9d57a-8f93-48cc-a4be-07f292e3b22e",
      "name": "Trata Dados"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        1248
      ],
      "id": "c965ab79-9648-4e86-9001-72e3c30f98d4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "SUA_PLANILHA_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/SUA_PLANILHA_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefone": "={{ \"'\" + $('Loop Over Items').item.json.phoneNumber }}",
            "Nome": "={{ $('Loop Over Items').item.json.title }}",
            "Bairro": "={{ $('Trata Dados').item.json.bairro }}",
            "Cidade": "={{ $('On form submission').item.json.Cidade }}",
            "Website": "={{ $('Loop Over Items').item.json.website }}",
            "E-mail": "={{ $json.emails[0] }}",
            "E-mail2": "={{ $json.emails[1] }}"
          },
          "matchingColumns": [
            "Telefone"
          ],
          "schema": [
            {
              "id": "Cidade",
              "displayName": "Cidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bairro",
              "displayName": "Bairro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail2",
              "displayName": "E-mail2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1904,
        944
      ],
      "id": "d7b2f00f-1195-4718-af8e-d65b5d12ba81",
      "name": "Add Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LOJgWrBsYdHTsczQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json.data || \"\";\n\n// Regex básica para capturar e-mails\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nlet found = input.match(regex) || [];\n\n// Remove duplicados\nfound = [...new Set(found)];\n\n// Remove e-mails com extensões de imagem\nfound = found.filter(email => !email.match(/\\.(jpeg|jpg|png|gif|webp|svg)$/i));\n\n// Blacklist de domínios/termos \"fakes\"\nconst blacklist = [\n  \"exemplo.com\", \"example.com\", \"test.com\", \"teste.com\", \"email.com\", \"oj.com\", \"emailteste.com\", \"dominio.com\", \"meudominio.com\", \"domain.com\"\n];\n\n// Função para checar se o e-mail é fake\nfunction isFakeEmail(email) {\n  // Checa domínio na blacklist\n  const domain = email.split(\"@\")[1] || \"\";\n  return blacklist.some(bl => domain.toLowerCase().includes(bl))\n      || email.toLowerCase().includes(\"exemplo\")\n      || email.toLowerCase().includes(\"teste\")\n      || email.toLowerCase().includes(\"test\")\n      || email.toLowerCase().includes(\"sample\")\n      || email.toLowerCase().includes(\"fake\");\n}\n\n// Filtra e-mails reais\nfound = found.filter(email => !isFakeEmail(email));\n\n// Limita a 2 resultados (ajuste conforme quiser)\nconst emails = found.slice(0, 2);\n\nreturn {\n  json: {\n    emails\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        1200
      ],
      "id": "da895df3-25ec-4255-862f-f8a36b7f8051",
      "name": "Extrai E-mails1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "67a46d8d-b923-4cec-85e9-0ba1cc6a343e",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2112,
        1200
      ],
      "id": "fb56be44-b30e-4dec-a85e-2d9157d43ac0",
      "name": "If Error Not Empty"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        1184
      ],
      "id": "89911546-67c7-474e-9aed-2618f3f7da91",
      "name": "Scrape Site1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1728,
        1152
      ],
      "id": "3fe4078b-1f1a-45a8-9dad-7f77a476f7ee",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1264,
        1408
      ],
      "id": "f4716523-2682-4876-bf7a-1dfe55584f3e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://exemplo.com.br/",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        560
      ],
      "id": "55270675-733b-4be1-8f89-cd7eadcfac86",
      "name": "Scrape Site",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        560
      ],
      "id": "bd5ac652-7501-4244-a69c-d2371834686b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json.data || \"\";\n\n// Regex básica para capturar e-mails\nconst regex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/g;\nlet found = input.match(regex) || [];\n\n// Remove duplicados\nfound = [...new Set(found)];\n\n// Remove e-mails com extensões de imagem\nfound = found.filter(email => !email.match(/\\.(jpeg|jpg|png|gif|webp|svg)$/i));\n\n// Blacklist de domínios/termos \"fakes\"\nconst blacklist = [\n  \"exemplo.com\", \"example.com\", \"test.com\", \"teste.com\", \"email.com\", \"oj.com\", \"emailteste.com\", \"dominio.com\", \"meudominio.com\", \"domain.com\"\n];\n\n// Função para checar se o e-mail é fake\nfunction isFakeEmail(email) {\n  // Checa domínio na blacklist\n  const domain = email.split(\"@\")[1] || \"\";\n  return blacklist.some(bl => domain.toLowerCase().includes(bl))\n      || email.toLowerCase().includes(\"exemplo\")\n      || email.toLowerCase().includes(\"teste\")\n      || email.toLowerCase().includes(\"test\")\n      || email.toLowerCase().includes(\"sample\")\n      || email.toLowerCase().includes(\"fake\");\n}\n\n// Filtra e-mails reais\nfound = found.filter(email => !isFakeEmail(email));\n\n// Limita a 2 resultados (ajuste conforme quiser)\nconst emails = found.slice(0, 2);\n\nreturn {\n  json: {\n    emails\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        560
      ],
      "id": "8e868fb7-3f7e-4e2a-ad40-e883b340134c",
      "name": "Extrai E-mails2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        544,
        128
      ],
      "id": "7605937a-6753-4e61-8892-54f718a0ad84",
      "name": "Run an Actor"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-firecrawl.fireCrawl",
      "typeVersion": 1,
      "position": [
        288,
        128
      ],
      "id": "93d98bfc-b82f-4fce-9301-6da352a3df26",
      "name": "Scrape A Url And Get Its Content",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Cidade para buscar os bairros: {{ $json.Cidade }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Sua especialidade é geografia do Brasil. Sua missão é encontrar o nome de bairros em cidades do Brasil. \n\nO usuário te dará o nome de uma cidade e você deve listar o nome dos 5 principais bairros daquela cidade. \n\n# Importante:\n- Nunca invente informações. Nunca mesmo."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        1248
      ],
      "id": "1a76897e-3e5c-4b64-8cf6-9a4d25747512",
      "name": "Gera Bairros"
    },
    {
      "parameters": {
        "content": "## Nós da Comunidade\nEsses nós são do Firecrawl e Apify. Só vão funcionar se você instalar os comunity-nodes",
        "height": 320,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95968076-35ba-4df6-845a-a78c33972afa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Teste\nNós para testar scrape",
        "height": 320,
        "width": 816
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        416
      ],
      "id": "6d57eabb-ed75-4ae0-aa12-841767f85a8d",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-20T16:45:01.433Z",
      "createdAt": "2025-10-20T16:45:01.433Z",
      "role": "workflow:owner",
      "workflowId": "3067EbvA7UIYDNLa",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-20T16:45:52.664Z",
  "versionId": "6e003e9a-5074-4769-a29c-d67b5f51390b"
}