workflows/Infoproduto.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Simplificação de dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simplificação de dados1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simplificação de dados2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simplificação de dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplificação de dados": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplificação de dados1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplificação de dados2": {
      "main": [
        [
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplificação de dados3": {
      "main": [
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Enviar texto4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-02T18:18:40.540Z",
  "id": "HfGC1RuJgBiQ3Zr3",
  "isArchived": false,
  "meta": null,
  "name": "Infoproduto",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0de23040-b8b5-4b84-9ede-eac6c7471eb6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        384
      ],
      "id": "ee745f62-e7ed-4614-83bd-345dad3db99d",
      "name": "Webhook",
      "webhookId": "0de23040-b8b5-4b84-9ede-eac6c7471eb6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_APPROVED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "967960c4-a2b9-430d-8c73-1e16d1eb093e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "compra aprovada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "647c5207-ce8a-497a-8bc5-e38da6829636",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_OUT_OF_SHOPPING_CART",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "carrinho abandonado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7f2798b-dab9-4e9f-a22e-ed99d6c8e9b5",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "PURCHASE_REFUNDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "compra reembolsada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9cfe1ab7-e197-4955-a12e-8dad43d8be06",
                    "leftValue": "={{ $json.body.event }}",
                    "rightValue": "=PURCHASE_CANCELED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "compra cancelada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -576,
        352
      ],
      "id": "62d9bfd3-7dc3-4e5e-875c-d0e599bc73fa",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbd2a3ee-4de0-4c01-94ac-87f926d9da1f",
              "name": "e-mail",
              "value": "={{ $json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "d301832e-b6c6-4c76-b337-4551cd35d36f",
              "name": "nome",
              "value": "={{ $json.body.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "a059fdf1-d6b3-4d0a-9235-d393f84b2a37",
              "name": "whatsapp",
              "value": "={{ $json.body.data.buyer.checkout_phone }}",
              "type": "string"
            },
            {
              "id": "94a19c00-167b-4c8e-ac16-8c58b0da97fb",
              "name": "status",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "46efb402-fd47-42da-9f12-cd68326ebd9b",
              "name": "cep",
              "value": "={{ $json.body.data.buyer.address.zipcode }}",
              "type": "string"
            },
            {
              "id": "7f20c6f8-ff08-4905-9c53-958b6f9b9987",
              "name": "pais",
              "value": "={{ $json.body.data.buyer.address.country }}",
              "type": "string"
            },
            {
              "id": "91972d31-2946-4a29-87e3-554d8f9a1301",
              "name": "endereço",
              "value": "={{ $json.body.data.buyer.address.address }}",
              "type": "string"
            },
            {
              "id": "09ae1af6-6c92-4c37-8765-fb6dbdc77d3e",
              "name": "numero",
              "value": "={{ $json.body.data.buyer.address.number }}",
              "type": "string"
            },
            {
              "id": "de3f35c8-ee2e-4634-be5e-e3d6843eb3f6",
              "name": "complemento",
              "value": "={{ $json.body.data.buyer.address.complement }}",
              "type": "string"
            },
            {
              "id": "7d716c19-47d3-4d02-a134-1f4f695c95e8",
              "name": "bairro",
              "value": "={{ $json.body.data.buyer.address.neighborhood }}",
              "type": "string"
            },
            {
              "id": "50785a0b-fdfa-49ba-b812-256e21bcd6c0",
              "name": "cidade",
              "value": "={{ $json.body.data.buyer.address.city }}",
              "type": "string"
            },
            {
              "id": "b06a415d-467c-420e-a5ae-cc56581b1e85",
              "name": "id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "87b9d266-2702-4241-b13d-e4485b185ad2",
              "name": "produto",
              "value": "={{ $json.body.data.product.name }}",
              "type": "string"
            },
            {
              "id": "4f36c3e2-cfb0-4dca-a1f8-9f29283039b8",
              "name": "valor",
              "value": "={{ $json.body.data.purchase.original_offer_price.value }}",
              "type": "string"
            },
            {
              "id": "ddb43926-ff6e-40cc-844f-9f82827b9736",
              "name": "transação",
              "value": "={{ $json.body.data.purchase.order_bump.parent_purchase_transaction }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "ac55b3f4-79bf-4b66-833a-850a3dda4f21",
      "name": "Simplificação de dados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbd2a3ee-4de0-4c01-94ac-87f926d9da1f",
              "name": "e-mail",
              "value": "={{ $json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "d301832e-b6c6-4c76-b337-4551cd35d36f",
              "name": "nome",
              "value": "={{ $json.body.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "a059fdf1-d6b3-4d0a-9235-d393f84b2a37",
              "name": "whatsapp",
              "value": "={{ $json.body.data.buyer.phone }}",
              "type": "string"
            },
            {
              "id": "94a19c00-167b-4c8e-ac16-8c58b0da97fb",
              "name": "status",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "b06a415d-467c-420e-a5ae-cc56581b1e85",
              "name": "id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "87b9d266-2702-4241-b13d-e4485b185ad2",
              "name": "produto",
              "value": "={{ $json.body.data.product.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        208
      ],
      "id": "8b60dd7d-7cea-4ee7-85db-6ee71526af73",
      "name": "Simplificação de dados1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbd2a3ee-4de0-4c01-94ac-87f926d9da1f",
              "name": "e-mail",
              "value": "={{ $json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "d301832e-b6c6-4c76-b337-4551cd35d36f",
              "name": "nome",
              "value": "={{ $json.body.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "a059fdf1-d6b3-4d0a-9235-d393f84b2a37",
              "name": "whatsapp",
              "value": "={{ $json.body.data.buyer.checkout_phone_code }}",
              "type": "string"
            },
            {
              "id": "94a19c00-167b-4c8e-ac16-8c58b0da97fb",
              "name": "status",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "b06a415d-467c-420e-a5ae-cc56581b1e85",
              "name": "id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "87b9d266-2702-4241-b13d-e4485b185ad2",
              "name": "produto",
              "value": "={{ $json.body.data.product.name }}",
              "type": "string"
            },
            {
              "id": "97ef222e-74be-49b5-925c-7cb5ac873de4",
              "name": "transação",
              "value": "={{ $json.body.data.purchase.order_bump.parent_purchase_transaction }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        416
      ],
      "id": "b8476b29-1821-4fab-90bb-c91ea33917be",
      "name": "Simplificação de dados2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cbd2a3ee-4de0-4c01-94ac-87f926d9da1f",
              "name": "e-mail",
              "value": "={{ $json.body.data.buyer.email }}",
              "type": "string"
            },
            {
              "id": "d301832e-b6c6-4c76-b337-4551cd35d36f",
              "name": "nome",
              "value": "={{ $json.body.data.buyer.name }}",
              "type": "string"
            },
            {
              "id": "a059fdf1-d6b3-4d0a-9235-d393f84b2a37",
              "name": "whatsapp",
              "value": "={{ $json.body.data.buyer.checkout_phone }}",
              "type": "string"
            },
            {
              "id": "94a19c00-167b-4c8e-ac16-8c58b0da97fb",
              "name": "status",
              "value": "={{ $json.body.event }}",
              "type": "string"
            },
            {
              "id": "46efb402-fd47-42da-9f12-cd68326ebd9b",
              "name": "cep",
              "value": "={{ $json.body.data.buyer.address.zipcode }}",
              "type": "string"
            },
            {
              "id": "7f20c6f8-ff08-4905-9c53-958b6f9b9987",
              "name": "pais",
              "value": "={{ $json.body.data.buyer.address.country }}",
              "type": "string"
            },
            {
              "id": "91972d31-2946-4a29-87e3-554d8f9a1301",
              "name": "endereço",
              "value": "={{ $json.body.data.buyer.address.address }}",
              "type": "string"
            },
            {
              "id": "09ae1af6-6c92-4c37-8765-fb6dbdc77d3e",
              "name": "numero",
              "value": "={{ $json.body.data.buyer.address.number }}",
              "type": "string"
            },
            {
              "id": "de3f35c8-ee2e-4634-be5e-e3d6843eb3f6",
              "name": "complemento",
              "value": "={{ $json.body.data.buyer.address.complement }}",
              "type": "string"
            },
            {
              "id": "7d716c19-47d3-4d02-a134-1f4f695c95e8",
              "name": "bairro",
              "value": "={{ $json.body.data.buyer.address.neighborhood }}",
              "type": "string"
            },
            {
              "id": "50785a0b-fdfa-49ba-b812-256e21bcd6c0",
              "name": "cidade",
              "value": "={{ $json.body.data.buyer.address.city }}",
              "type": "string"
            },
            {
              "id": "b06a415d-467c-420e-a5ae-cc56581b1e85",
              "name": "id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "87b9d266-2702-4241-b13d-e4485b185ad2",
              "name": "produto",
              "value": "={{ $json.body.data.product.name }}",
              "type": "string"
            },
            {
              "id": "4f36c3e2-cfb0-4dca-a1f8-9f29283039b8",
              "name": "valor",
              "value": "={{ $json.body.data.purchase.original_offer_price.value }}",
              "type": "string"
            },
            {
              "id": "ddb43926-ff6e-40cc-844f-9f82827b9736",
              "name": "transação",
              "value": "={{ $json.body.data.purchase.order_bump.parent_purchase_transaction }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        640
      ],
      "id": "f8a26e14-9634-4c68-a37f-aac9572101d0",
      "name": "Simplificação de dados3"
    },
    {
      "parameters": {
        "tableId": "Hotmart - Compra aprovada",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "e-mail",
              "fieldValue": "={{ $json['e-mail'] }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.whatsapp }}"
            },
            {
              "fieldId": "evento",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "produto",
              "fieldValue": "={{ $json.produto }}"
            },
            {
              "fieldId": "transação",
              "fieldValue": "={{ $json['transação'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "6c1d9803-f639-4caa-8adb-56e348a27752",
      "name": "Create a row"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "ADICIONAR SUA INSTANCIA",
        "remoteJid": "={{ $json.telefone }}",
        "messageText": "=Olá, {{ $json.nome }}\n\nSua compra do curso {{ $json.produto }} foi aprovada com sucesso!\n\nVocê recebeu um e-mail com as informações de acesso pela Hotmart.\n\nQualquer dúvida entre em contato com o nosso suporte: pottoflow@gmail.com",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "01c4daf7-a347-4061-ab09-a2aa37d3fef7",
      "name": "Enviar texto"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Hotmart - Compra aprovada",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "f01ac14f-e60e-4f21-ad07-0f44e5090d34",
      "name": "Get many rows",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "ADICIONAR SUA INSTANCIA",
        "remoteJid": "={{ $('Simplificação de dados1').item.json.whatsapp }}",
        "messageText": "=Oi {{ $('Simplificação de dados1').item.json.nome }}! 😊 Percebemos que você começou sua inscrição no curso, mas não finalizou. As vagas ainda estão abertas, e estamos te esperando para começar essa jornada de aprendizado com a gente!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        864,
        48
      ],
      "id": "9af0dde4-82da-453f-9aa2-9a33a67a84d8",
      "name": "Enviar texto1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "ADICIONAR SUA INSTANCIA",
        "remoteJid": "={{ $json.whatsapp }}",
        "messageText": "=Olá {{ $json.nome }}! Tudo bem? \n\nVimos que você solicitou um reembolso e gostaríamos de entender melhor o motivo, para que possamos melhorar cada vez mais nossos cursos e atendimentos.\nPode nos contar o que aconteceu?",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        208,
        416
      ],
      "id": "4eb89d1d-ead2-4b3f-9872-417e581eaa3e",
      "name": "Enviar texto2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "ADICIONAR SUA INSTANCIA",
        "remoteJid": "={{ $json.whatsapp }}",
        "messageText": "=Olá {{ $json.nome }}! Tudo bem? \n\nVimos que você solicitou o cancelamento e gostaríamos de entender melhor o motivo, para que possamos melhorar cada vez mais nossos cursos e atendimentos.\nPode nos contar o que aconteceu?",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        208,
        640
      ],
      "id": "5199640d-3618-49f4-bedb-c5817c812800",
      "name": "Enviar texto3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        544,
        208
      ],
      "id": "e4231e5d-d7a0-4763-b89e-81df849aede3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['e-mail'] }}",
                    "rightValue": "={{ $('Simplificação de dados1').item.json['e-mail'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "e6513ec8-82bb-4fb0-89af-831bc0159ae4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email diferente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a8ef3af3-6095-4c13-ae26-9e8dc87eaada",
                    "leftValue": "={{ $json['e-mail'] }}",
                    "rightValue": "={{ $('Simplificação de dados1').item.json['e-mail'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "e-mail igual"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        864,
        224
      ],
      "id": "6585b5b7-9c00-4d19-89b6-b0427c8b3fc0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get many rows').item.json.produto }}",
                    "rightValue": "={{ $('Simplificação de dados1').item.json.produto }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "cb92cd22-5cda-4e00-9be9-a82560682039"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "diferente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7917ad0a-b2d3-4e4d-99c6-62db46c3be6d",
                    "leftValue": "={{ $('Get many rows').item.json.produto }}",
                    "rightValue": "={{ $('Simplificação de dados1').item.json.produto }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "igual"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1328,
        240
      ],
      "id": "9d122805-c695-45fe-bb33-3184c9e855dd",
      "name": "Switch2"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        208
      ],
      "id": "36a992ae-4e6e-42c2-8ddb-02fa6fb251a0",
      "name": "Wait",
      "webhookId": "f8d7f8df-a213-40c3-a416-6cb895d2c2a4"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "ADICIONAR SUA INSTANCIA",
        "remoteJid": "={{ $('Simplificação de dados1').item.json.whatsapp }}",
        "messageText": "=Oi {{ $('Simplificação de dados1').item.json.nome }}! 😊 Percebemos que você começou sua inscrição no curso, mas não finalizou. As vagas ainda estão abertas, e estamos te esperando para começar essa jornada de aprendizado com a gente!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1584,
        128
      ],
      "id": "eea6937e-ebba-499a-b8cd-256a6a452470",
      "name": "Enviar texto4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        384
      ],
      "id": "0da61384-c6e1-48d5-8f4c-c2e45ec8e0b0",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-02T18:18:40.540Z",
      "createdAt": "2026-01-02T18:18:40.540Z",
      "role": "workflow:owner",
      "workflowId": "HfGC1RuJgBiQ3Zr3",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-02T18:18:40.540Z",
  "versionId": "cb29ab99-5414-442d-a3c2-938897d66419"
}