workflows/Integração n8n e Notion.json
{
  "active": false,
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-01T14:00:37.224Z",
  "id": "rjtPJ3H24cdsqHgT",
  "isArchived": false,
  "meta": null,
  "name": "Integração n8n e Notion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "28059acd-63cb-804a-8a77-d3122133a441",
          "mode": "list",
          "cachedResultName": "Registro de reuniões",
          "cachedResultUrl": "https://www.notion.so/28059acd63cb804a8a77d3122133a441"
        }
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        0
      ],
      "id": "7f0687a6-5096-4b09-aaa6-5fc26749e0af",
      "name": "Notion Trigger"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "30c59785-ebd3-419c-93ed-9c4f0f9cef5d",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "e0cef747-2cf4-48fc-903b-0d37a2000d24",
      "name": "Update a database page"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-01T14:00:37.224Z",
      "updatedAt": "2025-11-01T14:00:37.224Z",
      "role": "workflow:owner",
      "workflowId": "rjtPJ3H24cdsqHgT",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-01T14:00:37.224Z",
  "versionId": "78803853-4038-441e-bc3b-8606feb478f9"
}