workflows/Loop Principal Github Importar Credenciais e Workflows.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Get Credentials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Importa todos Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Workflows": {
      "main": [
        [
          {
            "node": "JSON formatting - Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Credentials": {
      "main": [
        [
          {
            "node": "JSON formatting - Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting - Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON formatting - Credentials": {
      "main": [
        [
          {
            "node": "Loop Over Items - Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Upsert Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - Credentials": {
      "main": [
        [
          {
            "node": "Upsert Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Importa todos Workflows": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-08T14:58:59.455Z",
  "id": "44C34g_eMR-x5bVtSn-cz",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Loop Principal Github Importar Credenciais e Workflows",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "36d00f2b-819d-46fb-9c9a-da254dca4a5f",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.hiperautomacoes.shop/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "af79e699-a908-4d2d-9e96-1b2f911313ad",
      "name": "HTTP Request - Get Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ks8wd3wgPtRtGBlJ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n.hiperautomacoes.shop/api/v1/credentials",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "22f32464-2cd6-4529-a843-4933eac49c2e",
      "name": "HTTP Request - Get Credentials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ks8wd3wgPtRtGBlJ",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formata workflows para JSON\nconst items = $input.all();\nconst workflows = items.map(item => item.json);\n\nreturn {\n  json: {\n    workflows: workflows,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "53aacb35-f7f5-48ac-9b63-37083e4775fa",
      "name": "JSON formatting - Workflows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Formata credenciais para JSON (remove dados sensíveis)\nconst items = $input.all();\nconst credentials = items.map(item => ({\n  id: item.json.id,\n  name: item.json.name,\n  type: item.json.type,\n  createdAt: item.json.createdAt,\n  updatedAt: item.json.updatedAt\n  // Não exporta dados sensíveis como tokens\n}));\n\nreturn {\n  json: {\n    credentials: credentials,\n    timestamp: new Date().toISOString(),\n    note: 'Credential data removed for security'\n  }\n};"
      },
      "id": "541c7343-8c4e-4b1c-8dd0-c325faac0c08",
      "name": "JSON formatting - Credentials",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        288
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "061cb76d-ea9a-46a4-921e-5c90a8cea664",
      "name": "Importa todos Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        384,
        80
      ],
      "credentials": {
        "n8nApi": {
          "id": "TcexyNIh3ZiaZTis",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "workflows",
        "options": {}
      },
      "id": "20edc53d-9f20-48cf-987e-235aebdf7fcf",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        704,
        -128
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "credentials",
        "options": {}
      },
      "id": "159fd023-84d2-4cd2-b0a4-62b38fc5beba",
      "name": "Loop Over Items - Credentials",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        704,
        288
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "diegohgo570",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "backup-n8n",
          "mode": "name"
        },
        "filePath": "=workflows/{{ $json.name }}.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=Update workflow: {{ $json.name }}"
      },
      "id": "d73d703a-61ed-446e-9009-4cd70cd80493",
      "name": "Upsert Workflows",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        912,
        -128
      ],
      "webhookId": "d4df3e9d-5117-4ebe-8da2-a62ad0884345",
      "credentials": {
        "githubApi": {
          "id": "5Vhzmhb0DlXl9y5x",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "diegohugo570",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "backup-n8n",
          "mode": "name"
        },
        "filePath": "=credentials/{{ $json.name }}.json",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=Update credential metadata: {{ $json.name }}"
      },
      "id": "f94d829d-7153-41ea-921a-6c854c01ba43",
      "name": "Upsert Credentials",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        912,
        288
      ],
      "webhookId": "0bd26a26-61c7-47c0-bfa6-7eeb6fd63075",
      "credentials": {
        "githubApi": {
          "id": "5Vhzmhb0DlXl9y5x",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-08T14:58:59.455Z",
      "createdAt": "2026-01-08T14:58:59.455Z",
      "role": "workflow:owner",
      "workflowId": "44C34g_eMR-x5bVtSn-cz",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-08T15:07:35.339Z",
  "versionId": "45f803f0-1495-46db-90e6-ea4eced98298"
}