workflows/Mensagem Romântica Diária às 9h por Email (Gmail).json
{
  "active": false,
  "connections": {
    "Agendador 9h": {
      "main": [
        [
          {
            "node": "Agente IA - Mensagem Romântica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA - Mensagem Romântica": {
      "main": [
        [
          {
            "node": "Enviar por Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-22T12:50:10.013Z",
  "id": "BfXscDlAUFaclsWI",
  "isArchived": false,
  "meta": null,
  "name": "Mensagem Romântica Diária às 9h por Email (Gmail)",
  "nodes": [
    {
      "parameters": {},
      "id": "d2a60a58-87a6-42e5-b823-192fdcf6a1fc",
      "name": "Agendador 9h",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        180,
        -40
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Crie uma mensagem romântica curta, com um toque poético, para surpreender alguém especial pela manhã.",
        "options": {
          "systemMessage": "Você é um poeta romântico que está escrevendo mensagens de amor inspiradoras. Mantenha o tom suave, amoroso e breve."
        }
      },
      "id": "1123d281-aaaf-4b83-8630-cf967d1ddd52",
      "name": "Agente IA - Mensagem Romântica",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        480,
        -40
      ]
    },
    {
      "parameters": {
        "sendTo": "SEU_EMAIL_AQUI@gmail.com",
        "subject": "🌹 Mensagem Romântica do Dia",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "eee4188d-1ed0-44aa-846d-30357c78b87e",
      "name": "Enviar por Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        -40
      ],
      "webhookId": "e5538e5f-b338-4b0f-b147-ca0538d271c0"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-06-22T12:50:10.013Z",
      "updatedAt": "2025-06-22T12:50:10.013Z",
      "role": "workflow:owner",
      "workflowId": "BfXscDlAUFaclsWI",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-22T12:50:28.849Z",
  "versionId": "7e3e4d59-46e5-46ff-bde3-1bf1ce48da72"
}