workflows/Mensuração de campanha para mensagem (Meta Ads).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-04T12:03:40.141Z",
  "id": "EEewdRWLiIwqESEQ",
  "isArchived": false,
  "meta": null,
  "name": "Mensuração de campanha para mensagem (Meta Ads)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff5da403-e15b-4a56-a848-4198f6101fe4",
              "name": "conta_anuncio",
              "value": "ID CONTA DE ANÚNCIO",
              "type": "string"
            },
            {
              "id": "37491d50-0bc5-4f5a-a6aa-c2fd4d053aa9",
              "name": "grupo_cliente",
              "value": "NÚMERO WPP OU GRUPO CLIENTE",
              "type": "string"
            },
            {
              "id": "99f927de-2dc6-4451-8f4a-443b4bc94367",
              "name": "de_data",
              "value": "={{$today.minus({days: 7}).toFormat('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "5206933e-a7d6-44e2-a6d4-d0d0ece08eae",
              "name": "ate_data",
              "value": "={{$today.minus({days: 1}).toFormat('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "af6e9f83-0563-4fd4-9269-ed299931247a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "=act_{{ $json.conta_anuncio }}",
        "edge": "insights",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "time_increment",
                "value": "1"
              },
              {
                "name": "level",
                "value": "account"
              },
              {
                "name": "fields",
                "value": "spend, actions"
              },
              {
                "name": "limit",
                "value": "3000"
              },
              {
                "name": "time_range",
                "value": "={\n  \"since\":\"{{ $json.de_data }}\",\n  \"until\":\"{{ $json.ate_data }}\"\n} "
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "9e30481a-3484-4438-bf70-0d7a6ddd27bc",
      "name": "Facebook Graph API",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "064b999a-7cac-4ce7-956c-e6d410141a58",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Captura todos os itens de entrada\n\n// Inicializa as variáveis para soma dos valores\nlet totalGasto = 0;\nlet totalMensagens = 0;\n\n// Define a ação que queremos capturar\nconst targetActionType = 'onsite_conversion.messaging_conversation_started_7d';  // Conversões de mensagens\n\n// Percorre todos os itens para calcular as somas\nitems.forEach(item => {\n  const data = item.json;\n  \n  // Soma o valor gasto\n  totalGasto += parseFloat(data.spend) || 0;\n\n  // Verifica se há ações e soma as mensagens iniciadas\n  if (data.actions) {\n    data.actions.forEach(action => {\n      if (action.action_type === targetActionType) {\n        totalMensagens += parseInt(action.value) || 0;\n      }\n    });\n  }\n});\n\n// Calcula o custo por conversão (mensagem iniciada)\nconst custoPorMensagem = totalMensagens > 0\n  ? (totalGasto / totalMensagens).toFixed(2).replace(\".\", \",\")\n  : \"0,00\";\n\n// Formata o resultado final\nreturn [\n  {\n    json: {\n      \"Total Gasto (R$)\": totalGasto.toFixed(2).replace(\".\", \",\"),  // Soma total do gasto\n      \"Total de Conversões\": totalMensagens,                        // Soma total das mensagens iniciadas\n      \"Custo por Conversão (R$)\": custoPorMensagem                  // Custo por mensagem iniciada\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "7583b87f-8743-4621-b2a7-d7fe69073eb7",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SUA INSTANCIA AQUI",
        "remoteJid": "={{ $('Edit Fields').first().json.grupo_cliente }}",
        "messageText": "=Bom dia, Thayná!\n\nSegue o relatório com os resultados da campanha no período de {{$today.minus({days: 7}).toFormat('dd/MM')}} a {{$today.minus({days: 1}).toFormat('dd/MM')}}:\n\n• Investimento Total: R$ {{ $json['INVESTIMENTO TOTAL'] }}\n• total de Mesangens: {{ $json['TOTAL DE CONVERSÕES'] }}\n• Custo por Conversão: R$ {{ $json['CUSTO POR CONVERSÃO'] }}\n\nQualquer dúvida ou ponto que queira alinhar, estamos à disposição!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1264,
        0
      ],
      "id": "2bdb3a68-0a14-41c3-a230-2fb31946f346",
      "name": "Enviar texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff5da403-e15b-4a56-a848-4198f6101fe4",
              "name": "conta_anuncio",
              "value": "ID CONTA DE ANÚNCIO",
              "type": "string"
            },
            {
              "id": "37491d50-0bc5-4f5a-a6aa-c2fd4d053aa9",
              "name": "grupo_cliente",
              "value": "NÚMERO WPP OU GRUPO CLIENTE",
              "type": "string"
            },
            {
              "id": "99f927de-2dc6-4451-8f4a-443b4bc94367",
              "name": "de_data",
              "value": "={{$today.minus({months: 1}).startOf('month').toFormat('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "5206933e-a7d6-44e2-a6d4-d0d0ece08eae",
              "name": "ate_data",
              "value": "={{$today.minus({months: 1}).endOf('month').toFormat('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        256
      ],
      "id": "d173a2d7-3a5e-4bcb-ae6f-f9d17b2674c9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "=act_{{ $json.conta_anuncio }}",
        "edge": "insights",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "time_increment",
                "value": "1"
              },
              {
                "name": "level",
                "value": "account"
              },
              {
                "name": "fields",
                "value": "spend, actions"
              },
              {
                "name": "limit",
                "value": "3000"
              },
              {
                "name": "time_range",
                "value": "={\n  \"since\":\"{{ $json.de_data }}\",\n  \"until\":\"{{ $json.ate_data }}\"\n} "
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        416,
        256
      ],
      "id": "7e283347-6d3c-4bf3-b125-abe0cbe5bb0a",
      "name": "Facebook Graph API1",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "id": "3051e5c0-265d-41dc-88ec-beb0703a777b",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Captura todos os itens de entrada\n\n// Inicializa as variáveis para soma dos valores\nlet totalGasto = 0;\nlet totalMensagens = 0;\n\n// Define a ação que queremos capturar\nconst targetActionType = 'onsite_conversion.messaging_conversation_started_7d';  // Conversões de mensagens\n\n// Percorre todos os itens para calcular as somas\nitems.forEach(item => {\n  const data = item.json;\n  \n  // Soma o valor gasto\n  totalGasto += parseFloat(data.spend) || 0;\n\n  // Verifica se há ações e soma as mensagens iniciadas\n  if (data.actions) {\n    data.actions.forEach(action => {\n      if (action.action_type === targetActionType) {\n        totalMensagens += parseInt(action.value) || 0;\n      }\n    });\n  }\n});\n\n// Calcula o custo por conversão (mensagem iniciada)\nconst custoPorMensagem = totalMensagens > 0\n  ? (totalGasto / totalMensagens).toFixed(2).replace(\".\", \",\")\n  : \"0,00\";\n\n// Formata o resultado final\nreturn [\n  {\n    json: {\n      \"Total Gasto (R$)\": totalGasto.toFixed(2).replace(\".\", \",\"),  // Soma total do gasto\n      \"Total de Conversões\": totalMensagens,                        // Soma total das mensagens iniciadas\n      \"Custo por Conversão (R$)\": custoPorMensagem                  // Custo por mensagem iniciada\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        256
      ],
      "id": "6a062136-56df-4709-b2c3-91c98aec5447",
      "name": "Code1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        256
      ],
      "id": "b28abdb7-5a20-48ad-93b3-ff9e090559cc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 277705,
        "tableId": 648997,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 5312757,
              "fieldValue": "={{ $('Edit Fields').first().json.de_data }}"
            },
            {
              "fieldId": 5312758,
              "fieldValue": "={{ $('Edit Fields').first().json.ate_data }}"
            },
            {
              "fieldId": 5312759,
              "fieldValue": "={{ $json['Total Gasto (R$)'] }}"
            },
            {
              "fieldId": 5312769,
              "fieldValue": "={{ $json['Total de Conversões'] }}"
            },
            {
              "fieldId": 5312770,
              "fieldValue": "={{ $json['Custo por Conversão (R$)'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "e273f289-77fa-4fc8-aacb-aa85847ded6e",
      "name": "Create a row"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 277705,
        "tableId": 649001,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 5312771,
              "fieldValue": "={{$today.minus({ months: 1 }).setLocale('pt-BR').toFormat(\"LLLL 'de' yyyy\")}}"
            },
            {
              "fieldId": 5312773,
              "fieldValue": "={{ $json['Total Gasto (R$)'] }}"
            },
            {
              "fieldId": 5312774,
              "fieldValue": "={{ $json['Total de Conversões'] }}"
            },
            {
              "fieldId": 5312775,
              "fieldValue": "={{ $json['Custo por Conversão (R$)'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1040,
        256
      ],
      "id": "d254a986-41b0-4a08-90ba-bea92c4ff3a6",
      "name": "Create a row1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "ab944f8e-3365-47ea-86a3-d116c9a15c71",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "SUA INSTANCIA AQUI",
        "remoteJid": "={{ $('Edit Fields').first().json.grupo_cliente }}",
        "messageText": "=Bom dia, Thayná!\n\nSegue o relatório com os resultados da campanha referentes ao mês de: {{$today.minus({ months: 1 }).setLocale('pt-BR').toFormat(\"LLLL 'de' yyyy\")}}\n\n• Investimento Total: R$ {{ $json['INVESTIMENTO TOTAL'] }}\n• total de Mesangens: {{ $json['TOTAL DE CONVERSÕES'] }}\n• Custo por Conversão: R$ {{ $json['CUSTO POR CONVERSÃO'] }}\n\nQualquer dúvida ou ponto que queira alinhar, estamos à disposição!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1264,
        256
      ],
      "id": "1c2ca298-fad0-471d-809e-16b242819179",
      "name": "Enviar texto1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-04T12:03:40.141Z",
      "createdAt": "2026-02-04T12:03:40.141Z",
      "role": "workflow:owner",
      "workflowId": "EEewdRWLiIwqESEQ",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-04T12:03:40.141Z",
  "versionId": "9a909c3d-1cca-4864-b470-63aa192aed25"
}