workflows/Nano Banana By RichNeves Template.json
{
  "active": false,
  "connections": {
    "Request via Open Router": {
      "main": [
        [
          {
            "node": "Seta dados de retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta dados de retorno": {
      "main": [
        [
          {
            "node": "Enviar imagem no Zap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulário": {
      "main": [
        [
          {
            "node": "Prompt da Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt da Imagem": {
      "main": [
        [
          {
            "node": "Request via Open Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-29T20:19:22.874Z",
  "id": "1Pv7FH8XPtSTGX4N",
  "isArchived": false,
  "meta": null,
  "name": "Nano Banana By RichNeves Template",
  "nodes": [
    {
      "parameters": {
        "content": "## Gerador de Imagen - NANO BANANA",
        "height": 388,
        "width": 1368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        128
      ],
      "id": "5f0bea8a-d9d9-4256-8eb9-b8443f583350",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-2.5-flash-image-preview:free\",\n  \"modalities\": [\"image\", \"text\"],\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content.prompt }}\"\n    }\n  ]\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        272
      ],
      "id": "66aa0c51-0323-4abc-aaba-9b1958bcc90f",
      "name": "Request via Open Router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "393caf3e-e367-4490-8ee3-28bfc83318b1",
              "name": "base64",
              "value": "={{$json[\"choices\"][0][\"message\"][\"images\"][0][\"image_url\"][\"url\"].split(\",\")[1]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        272
      ],
      "id": "afde85c1-191f-41aa-861d-c70aeb572672",
      "name": "Seta dados de retorno"
    },
    {
      "parameters": {
        "path": "banana",
        "formTitle": "Nano Banana - Image Generator - By RicNeves",
        "formDescription": "=Informe uma descrição para sua imagem",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Tema da Imagem",
              "placeholder": "Coloque aqui",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Gerar imagem",
          "customCss": "/* ===== Tema Dark Futurista / Neon ===== */\n:root {\n  --bg-0: #0b0f14;\n  --bg-1: #0f141a;\n  --bg-2: #111720;\n  --txt-0: #e6f4ea;\n  --txt-1: #a8b3ad;\n  --neon: #39ff14;          /* verde neon */\n  --neon-2: #00f5ff;        /* ciano neon */\n  --danger: #ff3b3b;\n  --ring: rgba(57, 255, 20, 0.35);\n  --shadow-neon: 0 0 12px rgba(57,255,20,.25), 0 0 32px rgba(0,245,255,.15);\n}\n\nbody {\n  background:\n    radial-gradient(1200px 600px at 80% -20%, rgba(57,255,20,.06), transparent 60%),\n    radial-gradient(1000px 500px at -10% 80%, rgba(0,245,255,.05), transparent 60%),\n    linear-gradient(180deg, var(--bg-0), var(--bg-1));\n  min-height: 100dvh;\n  color: var(--txt-0);\n  font-family: 'Open Sans', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;\n}\n\n/* Container com borda neon animada (glass + glow) */\n.form-nano-banana {\n  width: min(100%, 520px);\n  margin: 32px auto;\n  position: relative;\n  background: linear-gradient(180deg, rgba(255,255,255,.02), rgba(255,255,255,.01));\n  border: 1px solid rgba(57,255,20,.25);\n  border-radius: 14px;\n  padding: 28px;\n  box-shadow: var(--shadow-neon);\n  backdrop-filter: blur(8px);\n  overflow: hidden;\n}\n\n.form-nano-banana::before {\n  content: \"\";\n  position: absolute;\n  inset: -2px;\n  border-radius: 16px;\n  background: conic-gradient(from 120deg,\n    transparent 0deg,\n    rgba(57,255,20,.25) 90deg,\n    rgba(0,245,255,.25) 180deg,\n    transparent 270deg);\n  filter: blur(12px);\n  opacity: .35;\n  z-index: -1;\n  animation: spin 6s linear infinite;\n}\n@keyframes spin { to { transform: rotate(360deg); } }\n\n/* Cabeçalho */\n.form-nano-banana h1 {\n  font-size: 28px;\n  line-height: 1.1;\n  margin: 0 0 8px;\n  letter-spacing: .5px;\n  text-shadow: 0 0 10px rgba(57,255,20,.35);\n}\n\n.form-nano-banana .sub {\n  color: var(--txt-1);\n  font-size: 14px;\n  margin-bottom: 22px;\n}\n\n/* Grid dos campos */\n.form-nano-banana .grid {\n  display: grid;\n  gap: 16px;\n}\n\n/* Label com detalhe neon */\n.form-nano-banana label {\n  display: inline-flex;\n  align-items: center;\n  gap: 8px;\n  font-size: 13px;\n  color: var(--txt-1);\n  text-transform: uppercase;\n  letter-spacing: .08em;\n}\n.form-nano-banana label::before {\n  content: \"\";\n  width: 6px; height: 6px;\n  border-radius: 2px;\n  background: linear-gradient(90deg, var(--neon), var(--neon-2));\n  box-shadow: 0 0 8px rgba(57,255,20,.8);\n}\n\n/* Inputs / Select / Textarea */\n.form-nano-banana input,\n.form-nano-banana select,\n.form-nano-banana textarea {\n  width: 100%;\n  background: linear-gradient(180deg, rgba(255,255,255,.03), rgba(255,255,255,.01));\n  border: 1px solid rgba(255,255,255,.08);\n  border-radius: 10px;\n  padding: 12px 14px;\n  font-size: 14px;\n  color: var(--txt-0);\n  outline: none;\n  transition: border .15s ease, box-shadow .15s ease, transform .05s ease;\n}\n\n.form-nano-banana input::placeholder,\n.form-nano-banana textarea::placeholder {\n  color: rgba(255,255,255,.35);\n}\n\n.form-nano-banana input:focus,\n.form-nano-banana select:focus,\n.form-nano-banana textarea:focus {\n  border-color: var(--neon);\n  box-shadow: 0 0 0 3px var(--ring), inset 0 0 18px rgba(57,255,20,.08);\n  transform: translateZ(0) scale(1.005);\n}\n\n/* Select com seta custom */\n.form-nano-banana select {\n  appearance: none;\n  background-image:\n    linear-gradient(45deg, transparent 50%, var(--neon) 50%),\n    linear-gradient(135deg, var(--neon) 50%, transparent 50%);\n  background-position: calc(100% - 18px) 54%, calc(100% - 12px) 54%;\n  background-size: 6px 6px, 6px 6px;\n  background-repeat: no-repeat;\n}\n\n/* Linha sutil entre seções */\n.form-nano-banana .divider {\n  height: 1px;\n  background: linear-gradient(90deg, transparent, rgba(255,255,255,.1), transparent);\n  margin: 4px 0 12px;\n}\n\n/* Botão primário neon */\n.form-nano-banana .btn {\n  position: relative;\n  width: 100%;\n  height: 48px;\n  border: 0;\n  border-radius: 12px;\n  cursor: pointer;\n  color: #0b0f14;\n  font-weight: 700;\n  font-size: 15px;\n  letter-spacing: .02em;\n  background: linear-gradient(90deg, var(--neon), var(--neon-2));\n  box-shadow: 0 0 18px rgba(57,255,20,.35), 0 0 28px rgba(0,245,255,.2);\n  transition: transform .08s ease, box-shadow .15s ease, filter .15s ease;\n}\n.form-nano-banana .btn:hover {\n  transform: translateY(-1px);\n  box-shadow: 0 0 22px rgba(57,255,20,.45), 0 0 34px rgba(0,245,255,.28);\n  filter: saturate(1.1);\n}\n.form-nano-banana .btn:active {\n  transform: translateY(0);\n}\n\n/* Avisos/erros */\n.form-nano-banana .error {\n  color: var(--danger);\n  font-size: 12px;\n  margin-top: -8px;\n  text-shadow: 0 0 8px rgba(255,59,59,.25);\n}\n\n/* Rodapé mini-infos */\n.form-nano-banana .meta {\n  margin-top: 14px;\n  font-size: 12px;\n  color: var(--txt-1);\n  display: flex;\n  align-items: center;\n  gap: 10px;\n}\n.form-nano-banana .pill {\n  border: 1px dashed rgba(57,255,20,.45);\n  color: var(--neon);\n  padding: 4px 8px;\n  border-radius: 999px;\n  font-weight: 700;\n  letter-spacing: .05em;\n}"
        }
      },
      "id": "3a71f193-6840-431d-a135-e053e09aca29",
      "name": "Formulário",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        176,
        272
      ],
      "webhookId": "a35eb005-f795-4c85-9d00-0fe9797cb509",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "ricardo-neves",
        "remoteJid": "5511982561489",
        "media": "={{ $json.base64 }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1248,
        272
      ],
      "id": "f66fc3ae-e8ba-4b7e-94cf-d2a59402668b",
      "name": "Enviar imagem no Zap"
    },
    {
      "parameters": {
        "content": "▇▔▔▇▔▔▇▇▔▔▇▔▔▇▔▔▇▇▔▔▔▇▇▇▔▔▔▇▇▔▔▇▔▔▇▔▔▇▇▔▔▇▔▔▇▔▔▇▇▔▔▔▔▔▔▔▔▇▇▇▔▔▇▔▔▔▇▔▔▇▇▇▔▔▇▔▔▇▇▇▔▇▔▔▇▔▇▇▇▇▔▇▔▔▇▔▇▇▇▇▔▔▇▇▇\n▇▇▔▇▔▇▔▔▇▔▇▇▔▇▔▇▔▔▇▔▔▇▔▔▇▔▇▔▔▇▔▇▇▔▇▔▇▔▔▇▔▇▇▔▇▔▇▔▔▇▔▔▔▔▔▔▔▇▔▔▇▔▇▔▔▔▇▔▔▇▔▔▇▔▇▔▇▔▔▔▔▇▇▔▇▔▇▔▔▔▔▇▔▔▇▔▇▔▔▔▔▇▔▔▔\n▇▔▇▇▔▇▇▇▇▔▇▔▇▇▔▇▔▔▇▔▔▇▇▇▔▔▇▇▇▇▔▇▔▇▇▔▇▇▇▇▔▇▔▇▇▔▇▇▇▇▔▔▇▇▇▔▔▇▇▇▔▔▔▇▔▇▔▔▔▇▇▇▔▔▇▔▇▔▔▔▔▇▔▇▇▔▇▇▇▔▔▇▔▔▇▔▇▇▇▔▔▔▇▇▔\n▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▔▔▔▔▔▔▇▔▔▇▔▔▔▇▔▔▔▔▇▔▔▇▔▇▔▇▔▔▔▔▇▔▔▇▔▇▔▔▔▔▔▇▔▇▔▇▔▔▔▔▔▔▔▇\n▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▔▇▇▔▔▔▇▇▇▔▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▇▔▔▇▔▔▔▔▔▔▔▇▇▇▔▔▔▔▇▔▔▔▔▇▔▔▇▔▇▔▔▇▇▇▔▇▔▔▇▔▇▇▇▇▔▔▔▇▔▔▇▇▇▇▔▇▇▇▔\n▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔▔",
        "height": 112,
        "width": 1520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "50ebc2e1-267f-4d63-8e2a-e46fd99efda1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Task:\nYou are an advanced AI specializing in transforming a short user-provided description into a hyper-realistic, cinematic first-image prompt. This single prompt is optimized for both text-to-image and text-to-video AI models such as Flux, MidJourney, Stable Diffusion, Runway Gen-3 Alpha, and Pika Labs.\n\nuser-provided description: {{ $json['Tema da Imagem'] }}\n\nFINAL REMINDER:\n\n- Output MUST be less than 950 characters \n- Output MUST be one json:\n    { \"prompt\": \"Generated text output here...\" }\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        368,
        272
      ],
      "id": "88016deb-d0cd-4d1a-8039-b9d3567e7b0d",
      "name": "Prompt da Imagem"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-29T20:19:22.874Z",
      "updatedAt": "2025-08-29T20:19:22.874Z",
      "role": "workflow:owner",
      "workflowId": "1Pv7FH8XPtSTGX4N",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-29T20:19:22.874Z",
  "versionId": "51f7510d-3dcb-43e7-9011-197e45b67c3d"
}