workflows/Ninja Mail | Gmail + Gsheets.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Send a message (Gmail)": {
      "main": [
        [
          {
            "node": "Update Message Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Customer Messages Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Retrieve Customer Messages Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a message (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Message Status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-15T14:55:29.747Z",
  "id": "wTxoLJf53kQ8e2vd",
  "isArchived": false,
  "meta": null,
  "name": "Ninja Mail | Gmail + Gsheets",
  "nodes": [
    {
      "parameters": {
        "content": "# 🧾 Descrição dos Nodes do Fluxo\n\n## 📄 Retrieve Customer Messages Data (Google Sheets)\n\n### 📌 Função:\nBusca os dados de mensagens de clientes de uma planilha do Google Sheets.\n\n### 🛠️ Usos comuns:\n- Listar contatos para campanhas.\n- Buscar feedbacks ou respostas.\n- Atualizar registros de clientes automaticamente.\n\n\n## 📧 Gmail\n\n### 📌 Função:\nEnvia e-mails usando Gmail com base nos dados filtrados.\n\n### 📬 Informações puxadas dos dados:\n- Destinatário (email)\n- Assunto\n- Conteúdo da mensagem\n\n---\n\n## 📝 Update Message Status (Google Sheets)\n\n### 📌 Função:\nAtualiza colunas específicas na planilha do Google Sheets.\n\n### ⚙️ Parâmetros:\n- Modo: **Atualizar**\n- Escolhe quais colunas atualizar com base nos dados do fluxo.\n",
        "height": 911,
        "width": 923,
        "color": 4
      },
      "id": "453c4df3-bd83-47cd-aa66-8455d161e3cb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Workflow",
        "height": 579,
        "width": 1487
      },
      "id": "4eea51f4-2b22-4f35-b598-0826531cc3f8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        340
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dGpzi_L9oCa58LPpPWsAxwhkQHRLrVXTEnE8yf5Szag",
          "mode": "list",
          "cachedResultName": "Planilha sem título",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dGpzi_L9oCa58LPpPWsAxwhkQHRLrVXTEnE8yf5Szag/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dGpzi_L9oCa58LPpPWsAxwhkQHRLrVXTEnE8yf5Szag/edit#gid=0"
        },
        "options": {}
      },
      "id": "387ddca5-28d2-44aa-a44e-b43c3e052dfe",
      "name": "Retrieve Customer Messages Data",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1200,
        520
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1dGpzi_L9oCa58LPpPWsAxwhkQHRLrVXTEnE8yf5Szag",
          "mode": "list",
          "cachedResultName": "Planilha sem título",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dGpzi_L9oCa58LPpPWsAxwhkQHRLrVXTEnE8yf5Szag/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dGpzi_L9oCa58LPpPWsAxwhkQHRLrVXTEnE8yf5Szag/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Sent",
            "row_number": "={{ $('Retrieve Customer Messages Data').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Nome completo",
              "displayName": "Nome completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "609a7a47-485f-41cd-99b0-790e8d8b2d18",
      "name": "Update Message Status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1920,
        540
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "sendTo": "={{ $json['E-mail'] }}",
        "subject": "=AULA NOVA",
        "message": "=<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <title>Aula Nova Disponível!</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        background-color: #f5f7fa;\n        color: #333333;\n        padding: 20px;\n      }\n      .container {\n        background-color: #ffffff;\n        border-radius: 8px;\n        padding: 30px;\n        max-width: 600px;\n        margin: auto;\n        box-shadow: 0 0 10px rgba(0,0,0,0.05);\n      }\n      h1 {\n        color: #00b894;\n      }\n      p {\n        font-size: 16px;\n        line-height: 1.6;\n      }\n      .highlight {\n        background-color: #dfe6e9;\n        padding: 10px;\n        border-radius: 4px;\n        font-size: 14px;\n        margin-top: 20px;\n        font-style: italic;\n      }\n      .button {\n        display: inline-block;\n        margin-top: 25px;\n        padding: 12px 20px;\n        background-color: #0984e3;\n        color: #ffffff;\n        text-decoration: none;\n        border-radius: 5px;\n        font-weight: bold;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      <h1>🚀 Aula nova disponível!</h1>\n      <p>Olá {{ $json['Nome completo'] }} 👊</p>\n      <p>\n        A nova aula já está disponível na nossa plataforma! Nela, você vai aprender como usar o \n        <strong>Function Node</strong> e o <strong>SplitInBatches</strong> para processar listas de dados \n        de forma inteligente e dinâmica no <strong>n8n</strong>.\n      </p>\n      <p>\n        Essa aula é um passo essencial para criar automações mais poderosas e flexíveis — e o mais legal:\n        <strong>o próprio fluxo que você vai estudar foi usado para enviar este e-mail para você!</strong> 😎\n      </p>\n\n      <div class=\"highlight\">\n        \"Você aprende n8n com n8n em ação. Automação real, ensinando automação.\"\n      </div>\n\n      <a class=\"button\" href=\"https://seu-link-da-aula.com\" target=\"_blank\">👉 Acessar aula agora</a>\n\n      <p style=\"margin-top: 40px;\">Nos vemos na aula,<br/>Equipe N8N Ninjas ⚡</p>\n    </div>\n  </body>\n</html>\n",
        "options": {}
      },
      "id": "157a2528-3e20-4d46-a248-3702c846875f",
      "name": "Send a message (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1700,
        540
      ],
      "notesInFlow": false,
      "typeVersion": 2.1,
      "alwaysOutputData": false,
      "webhookId": "5f521834-d560-4ef0-bb60-7f9d81d1ea5f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1000,
        520
      ],
      "id": "098f2d87-6ef0-4a88-bc0d-477f29ef64f3",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        520
      ],
      "id": "a4feb587-19ea-4a09-bee2-c8ad273f7fae",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "```\n███▄▄▄▄    ▄█  ███▄▄▄▄        ▄█    ▄████████ \n███▀▀▀██▄ ███  ███▀▀▀██▄     ███   ███    ███ \n███   ███ ███▌ ███   ███     ███   ███    ███ \n███   ███ ███▌ ███   ███     ███   ███    ███ \n███   ███ ███▌ ███   ███     ███ ▀███████████ \n███   ███ ███  ███   ███     ███   ███    ███ \n███   ███ ███  ███   ███     ███   ███    ███ \n ▀█   █▀  █▀    ▀█   █▀  █▄ ▄███   ███    █▀  \n                         ▀▀▀▀▀▀               \n```",
        "height": 200,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1260,
        60
      ],
      "id": "3b5854ed-2384-4eaa-9cf3-093ec7818937",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-06-15T14:55:29.747Z",
      "createdAt": "2025-06-15T14:55:29.747Z",
      "role": "workflow:owner",
      "workflowId": "wTxoLJf53kQ8e2vd",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-06-14T14:35:30.743Z",
      "createdAt": "2025-06-14T14:35:30.743Z",
      "id": "f7Ttu7FQN3EvRKX9",
      "name": "🥷🏼 Ninja Automações"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-15T14:55:29.747Z",
  "versionId": "de7253b5-e4b1-4b19-a2ee-de1e59f926d1"
}