workflows/Potto Flow - Agente SDR 2 agendamento.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "deletar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "criar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-17T12:23:23.292Z",
  "id": "LFXNyYEA9JONLgO4",
  "isArchived": false,
  "meta": null,
  "name": "Potto Flow - Agente SDR 2 agendamento",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=<OBJETIVO>\nVocﾃｪ ﾃｩ um agente virtual responsﾃ｡vel por:\n\nAgendar, reagendar e cancelar reuniﾃｵes.\n\nConfirmar sempre os dados antes de qualquer aﾃｧﾃ｣o.\n\nGarantir comunicaﾃｧﾃ｣o eficiente, clara e profissional.\n\n</OBJETIVO>\n\n<USO DA TOOL>\n\nPassos para Novo Agendamento:\nPergunte para a pessoa:\n\nQual o dia desejado para agendamento.\n\nSolicite tambﾃｩm:\n\nNome completo\n\nE-mail\n\nAntes de realizar o agendamento consulte se o hﾃｳrario estﾃ｡ disponivel, Utilize a funﾃｧﾃ｣o/tool: <buscar_evento>\n\nNﾃ｣o fale que estﾃ｡ todos os hﾃｳrarios dispiniveis para as pessoas. Apenas pergunte um horario.\n\nSe o horﾃ｡rio Nﾃグ estiver disponﾃｭvel:\n\nSugira 3 horﾃ｡rios seguintes disponﾃｭveis prﾃｳximos do horﾃ｡rio desejado.\n\nExemplo de mensagem:\n\nHorﾃ｡rios disponﾃｭveis para [data]:\n\n套 [data] 08:00\n套 [data] 09:00\n套 [data] 10:00\n\nEscolha um horﾃ｡rio confortﾃ｡vel para vocﾃｪ para prosseguir com o agendamento.\n\nConfirme com o lead:\n\nData e horﾃ｡rio escolhido.\n\nRealize o agendamento no Google Calendar:\n\nTﾃｭtulo do evento: Reuniﾃ｣o - [Nome do lead]\n\nInclua o lead como convidado (usando o e-mail fornecido).\n\nInclua o organizador como convidado tambﾃｩm.\n\nResponda ao lead conforme o tipo e data do agendamento:\n\nExemplo de CONFIRMAﾃﾃグ para HOJE:\n笨 Agendamento confirmado para hoje ﾃs [horﾃ｡rio escolhido]!\n\nExemplo de CONFIRMAﾃﾃグ para DATA FUTURA - Reuniﾃ｣o PRESENCIAL:\n笨 Agendamento confirmado para [data escolhida] ﾃs [horﾃ｡rio escolhido]!\n\nDetalhes do seu agendamento:\nData: [data escolhida]\nHorﾃ｡rio: [horﾃ｡rio escolhido]\n\n\nAguardamos vocﾃｪ! Caso tenha dﾃｺvidas, estamos ﾃ disposiﾃｧﾃ｣o.\n\nFLUXO DE CANCELAMENTO:\nPassos para Cancelamento:\nSolicite ao lead o e-mail utilizado no agendamento, para seguranﾃｧa.\n\nUse a funﾃｧﾃ｣o/tool:\n<buscar_evento>getAll: event</buscar_evento>\npara localizar o evento usando o e-mail fornecido.\n\nObtenha o Event_ID do evento e realize o cancelamento.\n\nConfirme o cancelamento com mensagem clara:\n\n笨 Agendamento cancelado com sucesso! \nCaso deseje reagendar ou tenha alguma dﾃｺvida, estamos ﾃ disposiﾃｧﾃ｣o.\n\nFLUXO DE AtUALIZAﾃﾃグ:\nSolicite ao lead o e-mail utilizado no agendamento, para seguranﾃｧa.\n\nUse a funﾃｧﾃ｣o/tool:\n<buscar_evento>getAll: event</buscar_evento>\npara localizar o evento usando o e-mail fornecido.\n\nObtenha o Event_ID do evento e realize a atualizaﾃｧﾃ｣o do evento.\n\nSolicite a nova data e faﾃｧa a atualizaﾃｧﾃ｣o do evento usando a tool <atualizar_evento>\n\nExemplo de mensagem:\n\n笨 Agendamento atualizado com sucesso!\n\nEnvie a data nova para o usuario \n\n</USO DA TOOL>\n\nSeguindo o padrﾃ｣o brasileiro de data e hora (DD/MM/AAAA e HH), o assistente opera no fuso horﾃ｡rio \"America/Sao_Paulo\". hora atual: \n\n<dateAndTime>\n\n    - Today is {{ $now.setLocale('en').weekdayLong }}, {{ $now.format('yyyy/MM/dd') }} - {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n    - Tomorrow is {{ $now.setLocale('en').plus(1, 'days').weekdayLong }}, {{ $now.plus(1, 'days').format('yyyy/MM/dd') }}\n\n    - The day after tomorrow is {{ $now.setLocale('en').plus(2, 'days').weekdayLong }}, {{ $now.plus(2, 'days').format('yyyy/MM/dd') }}\n\n    - {{ $now.setLocale('en').plus(3, 'days').weekdayLong }} is {{ $now.plus(3, 'days').format('yyyy/MM/dd') }}\n\n    - {{ $now.setLocale('en').plus(4, 'days').weekdayLong }} is {{ $now.plus(4, 'days').format('yyyy/MM/dd') }}\n\n    - {{ $now.setLocale('en').plus(5, 'days').weekdayLong }} is {{ $now.plus(5, 'days').format('yyyy/MM/dd') }}\n\n    - {{ $now.setLocale('en').plus(6, 'days').weekdayLong }} is {{ $now.plus(6, 'days').format('yyyy/MM/dd') }}\n\n  </dateAndTime> \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        544,
        112
      ],
      "id": "417b5f0a-635b-44f1-af99-8436ca1818a4",
      "name": "AI Agent",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pottoflow@gmail.com",
          "mode": "list",
          "cachedResultName": "pottoflow@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `data que o usuﾃ｡rio escolheu para o agendamento`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `30 minutos a partir da data e hora que o usuﾃ｡rio escolheu`, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', `Um lembrete de 30 minutos antes e um lembrete um dia antes do evento `, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Adicione na descriﾃｧﾃ｣o um pequeno resumo da conversa e a intenﾃｧﾃ｣o do usuﾃ｡rio `, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Altere o titulo do agendamento para o [nome completo do usuﾃ｡rio] `, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        800,
        352
      ],
      "id": "058680f8-db05-4ff4-a30e-882cf5f72390",
      "name": "criar_evento"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "pottoflow@gmail.com",
          "mode": "list",
          "cachedResultName": "pottoflow@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Data do inicio do evento escolhido pelo usuﾃ｡rio`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Data apﾃｳs uma semana da data selecionada pelo usuﾃ｡rio `, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        944,
        352
      ],
      "id": "97514773-24a9-4abe-a0d4-47a0130172ff",
      "name": "buscar_evento",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "pottoflow@gmail.com",
          "mode": "list",
          "cachedResultName": "pottoflow@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `event id deve ser excluﾃｭdo, gerado na conversa do agendamento com o usuﾃ｡rio`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1104,
        352
      ],
      "id": "df378b3d-fc6c-419b-8f4f-7c4616f598b1",
      "name": "deletar_evento"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "pottoflow@gmail.com",
          "mode": "list",
          "cachedResultName": "pottoflow@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `atualizar o evento do usuﾃ｡rio`, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1264,
        352
      ],
      "id": "cca12324-247a-41da-a990-2eaf51f58dae",
      "name": "atualizar_evento"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome"
            },
            {
              "name": "message"
            },
            {
              "name": "telefone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        112
      ],
      "id": "b42d7bbe-b279-49c9-b4f0-7d67e368e48d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c658b99-92c5-4102-992b-26b353068b15",
              "name": "mensagem",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "3149db0a-f74b-463e-a311-542cbef04e04",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "bba3616a-b9cf-418a-870c-062bc2d5e768",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        112
      ],
      "id": "847b24da-c00e-4715-80e2-f64f3d901c3d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        432,
        368
      ],
      "id": "448c909f-d47e-448f-a78d-00fd40f823a8",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        368
      ],
      "id": "8d44c610-bb65-4d33-9217-38e97aa80fb8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "## Agendamento\n",
        "height": 540,
        "width": 1380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "bf2986f9-47fb-47a4-ac95-68c5414a81a6",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-17T12:23:23.292Z",
      "createdAt": "2025-12-17T12:23:23.292Z",
      "role": "workflow:owner",
      "workflowId": "LFXNyYEA9JONLgO4",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T12:23:23.292Z",
  "versionId": "86c5e433-ac2a-42d4-8c49-5eca16874c81"
}