workflows/Potto Flow - Agente com Follow Up.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filtro de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro de mensagens": {
      "main": [
        [
          {
            "node": "simplificação de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simplificação de dados": {
      "main": [
        [
          {
            "node": "Supabase buscar usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase buscar usuário": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase criar usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase criar usuário": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request Z API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_desejo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Z API": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "10 min",
            "type": "main",
            "index": 0
          },
          {
            "node": "24h",
            "type": "main",
            "index": 0
          },
          {
            "node": "3 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 min": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24h": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 dias": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Supabase4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Supabase3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-17T12:24:10.935Z",
  "id": "oRiaow1UdhyBFwKY",
  "isArchived": false,
  "meta": null,
  "name": "Potto Flow - Agente com Follow Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9f1f54be-eff8-4301-9ca9-91d8de905d2a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1728,
        208
      ],
      "id": "e34bb9fc-60c6-4d63-92b8-458cecdb0e16",
      "name": "Webhook",
      "webhookId": "9f1f54be-eff8-4301-9ca9-91d8de905d2a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3eb5bf76-173d-4344-a48e-33509bfbcf2b",
              "leftValue": "={{ $json.body.waitingMessage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "55f93291-f1b1-48ba-b1b7-e95bcb223115",
              "leftValue": "={{ $json.body.isEdit }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "a97d6f2a-cbb9-4688-8382-269f232881e7",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "57662324-c41f-42cf-acb8-c36700667887",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "8b51dbca-8110-4aed-9925-27ffdcd3bfa1",
              "leftValue": "={{ $json.body.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1504,
        208
      ],
      "id": "806beb63-1cc1-4f01-a49a-46ea72338409",
      "name": "Filtro de mensagens"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e70aaff7-15f2-4208-8dd8-138d55c899c1",
              "name": "whatsapp",
              "value": "={{ $('Webhook').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "976e115d-5bc0-446c-9d3e-968a3d03767b",
              "name": "nome",
              "value": "={{ $('Webhook').item.json.body.chatName }}",
              "type": "string"
            },
            {
              "id": "f04e8cdc-6048-4d24-821f-5d2beb075186",
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.text.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        208
      ],
      "id": "4f501d67-c02d-444f-aabc-8fb95e8adaf4",
      "name": "simplificação de dados"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Agente Follow UP",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $json.whatsapp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1056,
        208
      ],
      "id": "b3246b37-1a83-4b60-aa9e-ad25cf2d0fd9",
      "name": "Supabase buscar usuário",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c9859ec-014e-46c0-89d7-961307f7b595",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        208
      ],
      "id": "7a6534b1-5967-4369-8ed0-5fe69eff4d73",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "Agente Follow UP",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('simplificação de dados').item.json.nome }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('simplificação de dados').item.json.whatsapp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -656,
        432
      ],
      "id": "ad5b3767-ab47-41d8-9add-03e0d12efa95",
      "name": "Supabase criar usuário"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -496,
        208
      ],
      "id": "a495a8b4-3db8-43db-96d4-999d95e93b06",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.text.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "ca7ccddf-60fd-425d-89bc-5f3b3b9394f7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "587e0156-bfed-4464-9745-96728b1ce152",
                    "leftValue": "={{ $('Webhook').item.json.body.audio.audioUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "áudio "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17afdd94-ded8-46da-a63a-804b540c1eca",
                    "leftValue": "={{ $('Webhook').item.json.body.image.imageUrl }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        208
      ],
      "id": "258e8e30-e01e-4a33-90fa-d0f845bb9abb",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.audio.audioUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        224
      ],
      "id": "1552b1dc-bb7c-4314-bf02-db345dfaa044",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        208,
        224
      ],
      "id": "e8ec99aa-5ebb-4be1-a22d-0bd7cc45e817",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afe3fd17-523a-454c-8e7c-57048fbad207",
              "name": "mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        224
      ],
      "id": "7baf2058-2d0b-4d08-b626-5c489cc8efc9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE8B7E0C5AB203F004E4E20A388CB1E/token/D6C681645D55E6E8104FB950/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('simplificação de dados').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "Olá, desculpe não consigo interpretar ou responder a conteúdos enviados em formato de imagem. Poderia descrevê-lo em texto ou áudio para que eu possa ajudar melhor?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        448
      ],
      "id": "6873a729-d284-40e7-852e-7c1bf8624c39",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41c5a8f4-c726-4914-83e9-e4e4f536c717",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.text.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "429dbb3d-9389-487d-b2b5-4b2deb2e1cab",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        672,
        160
      ],
      "id": "745871bf-6dc1-485b-8779-1b041b45ab68",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=<prompt>\n\n<instruções>\nVocê é a Michelle, uma secretaria da clinica Viver Bem. Sua missão é responder clientes por WhatsApp.\n    - Seja educada, amigável e objetiva.\n    - Varie a linguagem para evitar parecer robótica, mantendo clareza e eficiência. \n    - Responda de forma clara e objetiva\n   - Não invente informações.\nQuando pedirem informações sobre a consulta primeiro entender o que o paciente precisa.\nNão enviar todas as informações de vez.\nSomente enviar informações que ele pedir.\nNão inventar tratamentos médicos.\n\n  </instruções>\n\n\n  <uso_de_tools>\n\n Tool 1 - Supabase_desejo \n\nUse a tool de supabase somente quando o usuario falar qual é a intenção dele com a mensagem. Não preencha antes somente com uma saldação. \n\n<exemplo>\n\nMensagem do usuario: \"olá, tudo bem?\" Não preencher o desejo\n\nMensagem do usuario: \"olá, quero agendar uma consulta\" Preencher o desejo\n\n</exemplo>\n\n    </uso_de_tools>\n\n\n</prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        880,
        160
      ],
      "id": "e1324116-6f2d-4091-91b5-a214ce817c62",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        432
      ],
      "id": "8391730c-a2ca-43e2-a52b-f7105a79d238",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('simplificação de dados').item.json.whatsapp }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        448
      ],
      "id": "c8ead59f-21a6-4efa-aa61-27caba4a52d0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE8B7E0C5AB203F004E4E20A388CB1E/token/D6C681645D55E6E8104FB950/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('simplificação de dados').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        160
      ],
      "id": "b550b429-36ab-4210-8778-f9cdd2062b6e",
      "name": "HTTP Request Z API"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Agente Follow UP",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Merge').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "desejo",
              "fieldValue": "={{ $fromAI('desejo', 'desejo que o usuário citou que possui de maneira detalhada. Preencher aepnas quando ele falar o desejo') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1168,
        432
      ],
      "id": "b2785545-eaf9-4a36-a3ea-cd7ef3cb5e03",
      "name": "Supabase_desejo"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Agente Follow UP",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Merge').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ultimamensagem",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1600,
        160
      ],
      "id": "8550d0f4-a509-4082-aa1b-b704ab124896",
      "name": "Supabase",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1568,
        992
      ],
      "id": "65297ecc-362e-4855-8260-8000490bd58c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Agente Follow UP",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1344,
        992
      ],
      "id": "010099d4-e4e5-433e-9535-806f26bcac4f",
      "name": "Supabase1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26fab166-b1b4-4b10-a14e-dfeb01eb69a6",
              "name": "=timeformatado",
              "value": "={{ $json.ultimamensagem.toDateTime().minus(3, 'hours') }}",
              "type": "string"
            },
            {
              "id": "174e8f30-e88c-48ac-a86f-8eb62fcf0ea0",
              "name": "etapa",
              "value": "={{ $json.etapa }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        992
      ],
      "id": "73bc7de1-8a89-4684-850d-206212036a4d",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE8B7E0C5AB203F004E4E20A388CB1E/token/D6C681645D55E6E8104FB950/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Supabase1').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "=Olá  {{ $('Supabase1').item.json.nome }}, podemos dar continuidade no nosso atendimento?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        960
      ],
      "id": "7705ff38-b6a2-4ca9-aff5-226f51b31f82",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Agente Follow UP",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa",
              "fieldValue": "1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        960
      ],
      "id": "0406fd1a-8345-4417-8093-ccc0db147504",
      "name": "Supabase2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cdda125e-a8e6-4e62-b7c6-cd9a4cb64d09",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.timeformatado.toDateTime().plus(1440, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "b92146c1-3452-44a1-b81e-0761a7277da8",
              "leftValue": "={{ $('Supabase1').item.json.etapa }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -560,
        1200
      ],
      "id": "8692639b-f72a-49e5-bd72-9c2c96db95df",
      "name": "24h"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cdda125e-a8e6-4e62-b7c6-cd9a4cb64d09",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.timeformatado.toDateTime().plus(10, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "b92146c1-3452-44a1-b81e-0761a7277da8",
              "leftValue": "={{ $json.etapa }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -560,
        960
      ],
      "id": "0c4e403f-5a03-4c2f-b7a6-19ae9a92c101",
      "name": "10 min",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cdda125e-a8e6-4e62-b7c6-cd9a4cb64d09",
              "leftValue": "={{ $now }}",
              "rightValue": "={{ $json.timeformatado.toDateTime().plus(4320, 'minutes') }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "b92146c1-3452-44a1-b81e-0761a7277da8",
              "leftValue": "={{ $('Supabase1').item.json.etapa }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -560,
        1440
      ],
      "id": "51927381-f8f5-40b0-b2e4-749ff80c9540",
      "name": "3 dias"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE8B7E0C5AB203F004E4E20A388CB1E/token/D6C681645D55E6E8104FB950/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Supabase1').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "=Olá {{ $('Supabase1').item.json.nome }}, só passando pra garantir que você não ficou com nenhuma dúvida.\nEstamos aqui pra cuidar de você com toda atenção que merece.\nSe quiser agendar ou saber mais, é só me chamar por aqui!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        1200
      ],
      "id": "e3c270fc-baec-4b38-9c1b-3331facad23e",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE8B7E0C5AB203F004E4E20A388CB1E/token/D6C681645D55E6E8104FB950/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Supabase1').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "=Olá {{ $('Supabase1').item.json.nome }}, tudo bem? Ainda estamos te esperando por aqui 😊\nAs vagas dessa semana estão quase preenchidas. Se quiser garantir um horário especial, é só me avisar que agendo rapidinho pra você!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        1440
      ],
      "id": "89dad1f1-1714-4307-8601-66f81a29a0a3",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Agente Follow UP",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa",
              "fieldValue": "2"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        1200
      ],
      "id": "0ed96933-de4d-4bae-ba3c-06d48534bad7",
      "name": "Supabase3",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Agente Follow UP",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Supabase1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "etapa",
              "fieldValue": "3"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        1440
      ],
      "id": "7f9f368d-dd53-419f-b6d6-3398926d1a6c",
      "name": "Supabase4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-17T12:24:10.935Z",
      "createdAt": "2025-12-17T12:24:10.935Z",
      "role": "workflow:owner",
      "workflowId": "oRiaow1UdhyBFwKY",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T12:24:10.935Z",
  "versionId": "4abf6f58-d473-4390-8699-26631b21e890"
}