workflows/Potto Flow - Analise de ligação.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "simplificação de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simplificação de dados": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-17T12:23:47.768Z",
  "id": "ymklqOabnt5b6H8f",
  "isArchived": false,
  "meta": null,
  "name": "Potto Flow - Analise de ligação",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3fa3537a-66f5-4d1f-b4d3-ee93df67fe43",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        160
      ],
      "id": "80b5dd17-f4f2-43da-a058-27dfbad163bc",
      "name": "Webhook",
      "webhookId": "3fa3537a-66f5-4d1f-b4d3-ee93df67fe43"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f49b2a6d-08ea-4975-8c7d-448a7c9a4762",
              "name": "duration",
              "value": "={{ $json.body.duration }}",
              "type": "string"
            },
            {
              "id": "5b6d9d49-618e-4f59-bdf5-1b0650076c0b",
              "name": "recordUrl",
              "value": "={{ $json.body.recordUrl }}",
              "type": "string"
            },
            {
              "id": "5e554668-d7ca-462a-a001-9bec355d7252",
              "name": "caller",
              "value": "={{ $json.body.caller }}",
              "type": "string"
            },
            {
              "id": "68464d3a-103e-498d-8c0b-7523ecd06e18",
              "name": "id",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "3c437dbc-3fbc-404e-b9f0-704b158cae1f",
              "name": "numero_record",
              "value": "={{ $json.body.called }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        160
      ],
      "id": "a061e24a-258d-4233-a61d-61c63a1d89e3",
      "name": "simplificação de dados",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "url": "={{ $json.recordUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "record_ligacao"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        160
      ],
      "id": "1ee57981-22bc-4b49-9633-754621833769",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "inputDataFieldName": "record_ligacao",
        "name": "={{ $('Webhook').item.json.body.id }} de {{ $('Webhook').item.json.body.caller }} para {{ $('Webhook').item.json.body.called }} data {{ $('Webhook').item.json.body.startedAt }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1lYVL4GDZifKUIXdfdKWWcgkllDefzRAa",
          "mode": "list",
          "cachedResultName": "Aula Voip",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lYVL4GDZifKUIXdfdKWWcgkllDefzRAa"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "3eb2066a-31a6-45eb-93ba-d0769c606afe",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "record_ligacao",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        304
      ],
      "id": "7210de89-0e7f-495f-8c92-ea8458a3c2f7",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=<Prompt>\n    <Funcao>\n\nClassificacao de Chamadas e Gestao de Leads</Funcao>\n\n  <Objetivo>\n\n        Analisar gravações de chamadas, e enviar e-mail para o diretor comercial  e para o vendedor responsável\n\n    </Objetivo>\n\n    <Instrucoes>\n\n        <Passo1>\n\n            <Descricao >Analisar a gravação da chamada utilizando a melhor ferramenta de transcrição e análise de sentimentos. </Descricao>\n            \n            <Exemplo>\n                <Gravacao>\"Olá, estou interessado no seu produto.\"</Gravacao>\n                <Analise>\n                    <Sentimento>Positivo</Sentimento>\n                </Analise>\n            </Exemplo>\n        </Passo1>\n\n     \n    </Instrucoes>\n</Prompt>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        224,
        304
      ],
      "id": "f410ace8-6cc1-49bd-9bee-3b283a66219f",
      "name": "AI Agent",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        544
      ],
      "id": "a9b3bf18-2fb0-49a6-bb2f-70c760f4c975",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('simplificação de dados').item.json.numero_record }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        544
      ],
      "id": "d8895711-48c7-4c3a-ae4f-95f75d8c3ec3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "pottoflow@gmail.com",
        "subject": "=Resumo de ligação  {{ $('simplificação de dados').item.json.caller }} id{{ $('simplificação de dados').item.json.id }} para {{ $('simplificação de dados').item.json.numero_record }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Resumo da Ligação</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f9f9f9;\n      color: #333;\n    }\n    .email-container {\n      max-width: 600px;\n      margin: auto;\n      background: #fff;\n      border-radius: 10px;\n      border: 1px solid #ddd;\n    }\n    .email-header {\n      background-color: #39176f;\n      color: #fff;\n      padding: 20px;\n      text-align: center;\n      border-top-left-radius: 10px;\n      border-top-right-radius: 10px;\n    }\n    .email-content {\n      padding: 20px;\n    }\n    .section-title {\n      font-size: 20px;\n      color: #39176f;\n      margin-bottom: 10px;\n    }\n    .transcript-box {\n      background: #f4f4f4;\n      padding: 15px;\n      border-radius: 5px;\n      white-space: pre-wrap;\n    }\n    .action-placeholder {\n      background: #fff5cc;\n      padding: 10px;\n      border-left: 4px solid #ffc107;\n      border-radius: 5px;\n      margin-top: 15px;\n    }\n    .email-footer {\n      background-color: #39176f;\n      color: white;\n      text-align: center;\n      padding: 10px;\n      border-bottom-left-radius: 10px;\n      border-bottom-right-radius: 10px;\n      font-size: 12px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"email-container\">\n    <div class=\"email-header\">\n      <h1>Transcrição da Ligação de Prospecção</h1>\n    </div>\n    <div class=\"email-content\">\n      <h2 class=\"section-title\">Transcrição:</h2>\n      <div class=\"transcript-box\">\n        {{ $json.output }}\n      </div>\n      <div class=\"action-placeholder\">\n        <strong>Próximas ações (a preencher manualmente ou por IA):</strong>\n        <ul>\n          <li>—</li>\n        </ul>\n      </div>\n    </div>\n    <div class=\"email-footer\">\n      Gerado automaticamente por Inteligência Artificial - Potto Aceleradora\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        592,
        304
      ],
      "id": "1ca4727f-67e4-4fd8-b1ae-49908ece5dbf",
      "name": "Gmail",
      "webhookId": "223c205a-757e-4f0b-95fa-35c7fc4c9b55"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-17T12:23:47.768Z",
      "createdAt": "2025-12-17T12:23:47.768Z",
      "role": "workflow:owner",
      "workflowId": "ymklqOabnt5b6H8f",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T12:23:47.768Z",
  "versionId": "126ba2b7-04ae-4c02-abe7-06aff1315c99"
}