workflows/Potto Flow Agente de agendamento.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "simplificaﾃｧﾃ｣o de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simplificaﾃｧﾃ｣o de dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "criar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "buscar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "deletar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-02T18:14:26.653Z",
  "id": "2UACJJFSttFGQoiz",
  "isArchived": false,
  "meta": null,
  "name": "Potto Flow Agente de agendamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fa4ac463-aeb4-48ca-a135-d6088cd98990",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "31bca44b-d26a-454a-af50-bcfa0d884e6d",
      "name": "Webhook",
      "webhookId": "fa4ac463-aeb4-48ca-a135-d6088cd98990"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55f41c61-8568-4b33-8cf4-a8fb0648843c",
              "name": "whatsapp",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "87b50a77-71c0-459f-90a5-7c4269353681",
              "name": "nome",
              "value": "={{ $json.body.chatName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "6b2d1bf1-f279-419d-8fb6-f89a65d2e406",
      "name": "simplificaﾃｧﾃ｣o de dados",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.text.message }}",
        "options": {
          "systemMessage": "=<OBJETIVO>\nVocﾃｪ ﾃｩ um agente virtual responsﾃ｡vel por:\n\nAgendar, reagendar e cancelar consultas.\n\nConfirmar sempre os dados antes de qualquer aﾃｧﾃ｣o.\n\nGarantir comunicaﾃｧﾃ｣o eficiente, clara e profissional.\n\n</OBJETIVO>\n\n<USO DA TOOL>\n\nPassos para Novo Agendamento:\nPergunte para a pessoa:\n\nQual o dia desejado para agendamento.\n\nSolicite tambﾃｩm:\n\nNome completo\n\nE-mail\n\nAntes de realizar o agendamento consulte se o hﾃｳrario estﾃ｡ disponivel, Utilize a funﾃｧﾃ｣o/tool: <buscar_evento>\n\nNﾃ｣o fale que estﾃ｡ todos os hﾃｳrarios dispiniveis para as pessoas. Apenas pergunte um horario.\n\nSe o horﾃ｡rio Nﾃグ estiver disponﾃｭvel:\n\nSugira 3 horﾃ｡rios seguintes disponﾃｭveis prﾃｳximos do horﾃ｡rio desejado.\n\nExemplo de mensagem:\n\nHorﾃ｡rios disponﾃｭveis para [data]:\n\n套 [data] 08:00\n套 [data] 09:00\n套 [data] 10:00\n\nEscolha um horﾃ｡rio confortﾃ｡vel para vocﾃｪ para prosseguir com o agendamento.\n\nConfirme com o paciente:\n\nData e horﾃ｡rio escolhido.\n\nRealize o agendamento no Google Calendar:\n\nTﾃｭtulo do evento: Consulta - [Nome do Paciente]\n\nInclua o paciente como convidado (usando o e-mail fornecido).\n\nInclua o organizador como convidado tambﾃｩm.\n\nResponda ao paciente conforme o tipo e data do agendamento:\n\nExemplo de CONFIRMAﾃﾃグ para HOJE:\n笨 Agendamento confirmado para hoje ﾃs [horﾃ｡rio escolhido]!\n\nExemplo de CONFIRMAﾃﾃグ para DATA FUTURA - CONSULTA PRESENCIAL:\n笨 Agendamento confirmado para [data escolhida] ﾃs [horﾃ｡rio escolhido]!\n\nDetalhes do seu agendamento:\nConsulta: Presencial\nData: [data escolhida]\nHorﾃ｡rio: [horﾃ｡rio escolhido]\nEndereﾃｧo: Rua Feliz 123, Sﾃ｣o Paulo - SP\n\nAguardamos vocﾃｪ! Caso tenha dﾃｺvidas, estamos ﾃ disposiﾃｧﾃ｣o.\n\nFLUXO DE CANCELAMENTO:\nPassos para Cancelamento:\nSolicite ao paciente o e-mail utilizado no agendamento, para seguranﾃｧa.\n\nUse a funﾃｧﾃ｣o/tool:\n<buscar_evento>getAll: event</buscar_evento>\npara localizar o evento usando o e-mail fornecido.\n\nObtenha o Event_ID do evento e realize o cancelamento.\n\nConfirme o cancelamento com mensagem clara:\n\n笨 Agendamento cancelado com sucesso! \nCaso deseje reagendar ou tenha alguma dﾃｺvida, estamos ﾃ disposiﾃｧﾃ｣o.\n\nFLUXO DE AtUALIZAﾃﾃグ:\nSolicite ao paciente o e-mail utilizado no agendamento, para seguranﾃｧa.\n\nUse a funﾃｧﾃ｣o/tool:\n<buscar_evento>getAll: event</buscar_evento>\npara localizar o evento usando o e-mail fornecido.\n\nObtenha o Event_ID do evento e realize a atualizaﾃｧﾃ｣o do evento.\n\nSolicite a nova data e faﾃｧa a atualizaﾃｧﾃ｣o do evento usando a tool <atualizar_evento>\n\nExemplo de mensagem:\n\n笨 Agendamento atualizado com sucesso!\n\nEnvie a data nova para o usuario \n\n</USO DA TOOL>\n\nSeguindo o padrﾃ｣o brasileiro de data e hora (DD/MM/AAAA e HH), o assistente opera no fuso horﾃ｡rio \"America/Sao_Paulo\". hora atual: <dateAndTime>\n\n    - Today is {{ $now.setLocale('en').weekdayLong }}, {{ $now.format('yyyy/MM/dd') }} - {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n\n    - Tomorrow is {{ $now.setLocale('en').plus(1, 'days').weekdayLong }}, {{ $now.plus(1, 'days').format('yyyy/MM/dd') }}\n\n    - The day after tomorrow is {{ $now.setLocale('en').plus(2, 'days').weekdayLong }}, {{ $now.plus(2, 'days').format('yyyy/MM/dd') }}\n\n    - {{ $now.setLocale('en').plus(3, 'days').weekdayLong }} is {{ $now.plus(3, 'days').format('yyyy/MM/dd') }}\n\n    - {{ $now.setLocale('en').plus(4, 'days').weekdayLong }} is {{ $now.plus(4, 'days').format('yyyy/MM/dd') }}\n\n    - {{ $now.setLocale('en').plus(5, 'days').weekdayLong }} is {{ $now.plus(5, 'days').format('yyyy/MM/dd') }}\n\n    - {{ $now.setLocale('en').plus(6, 'days').weekdayLong }} is {{ $now.plus(6, 'days').format('yyyy/MM/dd') }}\n\n  </dateAndTime> \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ],
      "id": "38a9722c-de98-437d-96dd-71d442be1fe3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        224
      ],
      "id": "b24d8640-6c27-4fe1-862a-14f0f7b509e8",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.whatsapp }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        224
      ],
      "id": "d13cb1a5-f551-4f07-b062-b53b82df10a9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pottoflow@gmail.com",
          "mode": "list",
          "cachedResultName": "pottoflow@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `data que o usuﾃ｡rio escolheu para o agendamento`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `30 minutos a partir da data e hora que o usuﾃ｡rio escolheu`, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', `Um lembrete de 30 minutos antes e um lembrete um dia antes do evento `, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Adicione na descriﾃｧﾃ｣o um pequeno resumo da conversa e a intenﾃｧﾃ｣o do usuﾃ｡rio `, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Altere o titulo do agendamento para o [nome completo do usuﾃ｡rio] `, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        704,
        240
      ],
      "id": "1d12c9b0-05db-476b-af9c-6f755e8b0b50",
      "name": "criar_evento"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "pottoflow@gmail.com",
          "mode": "list",
          "cachedResultName": "pottoflow@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `Data do inicio do evento escolhido pelo usuﾃ｡rio`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `Data apﾃｳs uma semana da data selecionada pelo usuﾃ｡rio `, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        848,
        240
      ],
      "id": "6263d5ae-4cb4-4614-ad1a-6c97a9c0f1cf",
      "name": "buscar_evento"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "pottoflow@gmail.com",
          "mode": "list",
          "cachedResultName": "pottoflow@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `event id deve ser excluﾃｭdo, gerado na conversa do agendamento com o usuﾃ｡rio`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1008,
        240
      ],
      "id": "ac4a6a07-3c89-4491-a8ab-55c72d08bd1f",
      "name": "deletar_evento",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "pottoflow@gmail.com",
          "mode": "list",
          "cachedResultName": "pottoflow@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `atualizar o evento do usuﾃ｡rio`, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1168,
        240
      ],
      "id": "db25e78c-892b-4bc4-9d24-456e21f6754e",
      "name": "atualizar_evento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE8B7E0C5AB203F004E4E20A388CB1E/token/D6C681645D55E6E8104FB950/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('simplificaﾃｧﾃ｣o de dados').item.json.whatsapp }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        0
      ],
      "id": "cb0cefc4-5170-477f-be32-22ef5bf01a68",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-02T18:14:26.653Z",
      "createdAt": "2026-01-02T18:14:26.653Z",
      "role": "workflow:owner",
      "workflowId": "2UACJJFSttFGQoiz",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-02T18:14:26.653Z",
  "versionId": "4b39eaad-723a-45b5-a987-5c5e46b08754"
}