workflows/Potto Flow - Agente para gerar leads (Google Maps).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-17T12:26:09.770Z",
  "id": "19Ebbq77bkuRlQDz",
  "isArchived": false,
  "meta": null,
  "name": "Potto Flow - Agente para gerar leads (Google Maps)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f27f23a4-ab24-49c7-92b5-a6b62050e1b7",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4ede619-75f9-4610-8857-0a9531d39bf5",
              "name": "query",
              "value": "clínica de estética ",
              "type": "string"
            },
            {
              "id": "60b718ca-149f-4146-b7c0-0bcad673e19c",
              "name": "location",
              "value": "Campinas",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "7c7702e1-7585-4ce9-9913-b79093daaaa0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.app.outscraper.com/maps/search-v3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "Mzk3NGRmODZiNzQ0NDNjYTg2MWYxZGY1Yzc4MjQ4OjhukTh8YzEwZDFhZTIwMg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": [\"{{ $json.query }}{{ $json.location }}\"],\n  \"limit\": 1,\n  \"language\": \"pt\",\n  \"region\": \"br\",\n  \"enrichment\": [\"domains_service\"],\n  \"async\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "efb4d3f3-e823-4539-b477-f98a9873d1b8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Access the data from Outscraper response\nconst data = $input.item.json.data;\n\n// Make sure we have data to work with\nif (!data || !Array.isArray(data) || data.length === 0) {\n  return [{ error: \"No data found in first level\" }];\n}\n\n// Check if data is nested in another array\nconst businessesArray = Array.isArray(data[0]) ? data[0] : data;\n\n// Process each business in the correct array\nconst results = [];\nfor (const business of businessesArray) {\n  results.push({\n    name: business.name || \"\",\n    address: business.full_address || \"\",\n    phone: (business.phone || \"\").toString().replace(/\\+/g, \"\"),\n    website: business.site || business.website || \"\",\n    email: business.email_1 || \"\",\n    additional_email: business.email_2 || \"\",\n    rating: business.rating || \"\",\n    reviews: business.reviews || \"\",\n    category: business.category || \"\",\n    hours: business.working_hours_old_format || \"\"\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "a12beb89-e289-4fdf-97f3-7e363515d624",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bsSV5kTFDU5uj3wgH6X-bhGWNE1qwCRaOQqafDFcWso",
          "mode": "list",
          "cachedResultName": "Planilha leads outscraper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bsSV5kTFDU5uj3wgH6X-bhGWNE1qwCRaOQqafDFcWso/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bsSV5kTFDU5uj3wgH6X-bhGWNE1qwCRaOQqafDFcWso/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.name }}",
            "Address": "={{ $json.address }}",
            "Phone": "={{ $json.phone }}",
            "Website": "={{ $json.website }}",
            "Email": "={{ $json.email }}",
            "Additional Email": "={{ $json.additional_email }}",
            "Rating": "={{ $json.rating }}",
            "Reviews": "={{ $json.reviews }}",
            "Category": "={{ $json.category }}",
            "Hours": "={{ $json.hours }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Additional Email",
              "displayName": "Additional Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews",
              "displayName": "Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hours",
              "displayName": "Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        0
      ],
      "id": "4bde9bb2-41ad-4acb-b5ae-e856d5e2bd05",
      "name": "Google Sheets"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-17T12:26:09.770Z",
      "createdAt": "2025-12-17T12:26:09.770Z",
      "role": "workflow:owner",
      "workflowId": "19Ebbq77bkuRlQDz",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T12:26:37.790Z",
  "versionId": "5497ce30-cdcd-4c53-9e0c-a43856e95865"
}