workflows/Potto Flow - RAG.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "simplificação de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simplificação de dados": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-17T12:21:59.423Z",
  "id": "HJu9nY59uqIooVu8",
  "isArchived": false,
  "meta": null,
  "name": "Potto Flow - RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 18
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1OBXbGyuky7wFlOkKaAJA-A1z_Mkt5vzh",
          "mode": "list",
          "cachedResultName": "Aula RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1OBXbGyuky7wFlOkKaAJA-A1z_Mkt5vzh"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4a62b701-17b9-4f46-9daa-29fd01c90f99",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2f79300-6cb2-4446-a8bc-d61c7d5a2266",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a7dee9d0-9214-42cc-9c8c-4f0bfdd1f4e9",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "f547122e-7b45-4af1-ad88-e0a1b8e015a1",
              "name": "file_time",
              "value": "={{ $json.createdTime }}",
              "type": "string"
            },
            {
              "id": "f47906fe-3f26-423f-9d2c-bfb399dbb7a2",
              "name": "file_name",
              "value": "={{ $json.owners[0].displayName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "1638196f-2232-4148-8fe8-0fca5562f9aa",
      "name": "simplificação de dados"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "be80797a-3a55-4460-9ab5-015778cdcf23",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "245a439e-93ad-4aa1-9808-441f1a04526c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19a8e06e-293b-486b-a304-619af4844890",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "id": "c13359df-778b-49db-b09a-cabcfc8a29d5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1104,
        0
      ],
      "id": "259c0412-5074-4749-84c0-67ae71965e16",
      "name": "Supabase Vector Store",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        240
      ],
      "id": "ab91c049-ebcd-4e3f-a26c-c44060dd5c6a",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('simplificação de dados').item.json.file_id }}"
              },
              {
                "name": "file_type",
                "value": "={{ $('simplificação de dados').item.json.file_type }}"
              },
              {
                "name": "file_time",
                "value": "={{ $('simplificação de dados').item.json.file_time }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1280,
        224
      ],
      "id": "a239c25e-4a84-4155-bd4f-39b5e9992d0a",
      "name": "Default Data Loader",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1360,
        400
      ],
      "id": "673914f4-b99f-4f5d-94d1-8e700ed32c1f",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-17T12:21:59.423Z",
      "createdAt": "2025-12-17T12:21:59.423Z",
      "role": "workflow:owner",
      "workflowId": "HJu9nY59uqIooVu8",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T12:21:59.423Z",
  "versionId": "6a8231e7-4d96-451c-945d-6798212ba515"
}