workflows/Projeto Análise de Sentimentos.json
{
  "active": false,
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T19:47:37.294Z",
  "id": "rMCMgtom7roRRoKB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Projeto Análise de Sentimentos",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "37328cc2-e1d8-4df9-b1ef-387a19a0dfb9",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "rJS5FMTDokdvIVls",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "795acc84-e4b6-49be-a438-01e69c17d8f4",
              "name": "name",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "02e1b1dd-fce8-4e9e-ab88-e16d3ae64928",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "650db02e-8b80-4a82-afb3-3d6b56535a62",
              "name": "comment",
              "value": "={{ $json['comentário'] }}",
              "type": "string"
            },
            {
              "id": "b764d8e6-7f56-4c61-ab1b-992a1f0f3681",
              "name": "date",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "dd1fe084-c881-4824-90c3-5dad7a9af42f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "52fa4428-d98a-4ea6-8a6c-33cad614ec4c",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "8e541b6b-9dda-4d25-bf54-d135eb877baa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "inputText": "={{ $j('Edit Fields').item.json.comment }}",
        "options": {
          "categories": "Positivo, Neutro, Negativo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        1616,
        0
      ],
      "id": "c2147af0-6a5a-47c7-a003-2ad2708014e9",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1504,
        288
      ],
      "id": "46f0e96e-67ee-42bb-b9a4-2bc02be34123",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Kw92FJmxGzRzQKKq",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2240,
        48
      ],
      "id": "b581194a-9add-4349-9c57-cbc826d57640",
      "name": "Wait",
      "webhookId": "f88051e4-5580-40ea-8a0f-379dbe5dd7e9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1584,
        -208
      ],
      "id": "cc27b37d-dd1a-436c-9bea-07f0e3047d78",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "fieldsUi": {
          "fieldValues": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2032,
        48
      ],
      "id": "df419f7c-0a2f-4d0c-adab-e1f1404561a2",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "IbOICFLx28vkTb6x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        960,
        32
      ],
      "id": "d94424a2-f6cf-4fd7-bcc3-f85596aa7c34",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "IbOICFLx28vkTb6x",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6bef2e1-0584-4d9a-add0-9d0e11272799",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        32
      ],
      "id": "02ede2d7-ae57-4237-acd5-4c8cb53fb98f",
      "name": "If"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T19:47:37.294Z",
      "updatedAt": "2025-10-28T19:47:37.294Z",
      "role": "workflow:owner",
      "workflowId": "rMCMgtom7roRRoKB",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T20:22:06.920Z",
  "versionId": "d06bcaff-d9c4-4b98-9ffe-dcd01ed5ff70"
}