workflows/Projeto Atendente com WhatsApp.json
{
  "active": false,
  "connections": {
    "Receba mensagem": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "IA Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "IA Atendente": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "IA Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-28T14:09:13.062Z",
  "id": "UPgVIapy9pMSJDJ7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Projeto Atendente com WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-Projeto",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c75b03fc-72f5-4d68-be1e-c58df2560b9c",
      "name": "Receba mensagem",
      "webhookId": "fa685838-9991-4752-b5e9-bd2d395fbbce"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90a16942-9da1-4373-a19f-fd4f348fa8a3",
              "name": "instance",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "db4109ec-674a-4cee-849e-89f41b00fbb3",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "4943123c-4bcd-4f9f-85b0-32884aaa1cad",
              "name": "id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "41fe12f0-37a7-4999-bdd7-a081f9d475dc",
              "name": "fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "string"
            },
            {
              "id": "3c0a141b-e0c4-4f82-a988-102fc09b4176",
              "name": "conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "d85d9e2d-bd5a-4bd2-b67c-ffbf40f9d8f2",
              "name": "messageType",
              "value": "={{ $json.body.data.messageTipe }}",
              "type": "string"
            },
            {
              "id": "5a54b385-fe79-4bd8-9593-1a7e09b8d7e8",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "7a9b22cb-0673-4cb7-b977-6cc40d9a17e1",
      "name": "Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.conversation }}",
        "options": {
          "systemMessage": "Você é um atendente da cafeteria AutoCoffee. Fale de forma simpática e \nacolhedora, levemente informal, como se estivesse recebendo o cliente no \nbalcão. Responda perguntas de forma clara e breve.\n\nResponda sempre usando a formatação do WhatsApp para estilização (ex: itálico e negrito) e nunca em markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "662fccda-cd1e-4f8f-96ff-5a27e7d57feb",
      "name": "IA Atendente"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        224
      ],
      "id": "05593ea9-ef1f-41fb-9d5c-c59b936ee8c0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q7CBkXMMZRTOoyA5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Dados').item.json.instance }}",
        "remoteJid": "={{ $('Dados').item.json.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "794b47d0-1992-4e1c-a960-eaea4779adaf",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "K2eCS3B8YiFrZrZy",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.instance }}{{ $('Dados').item.json.remoteJid }}",
        "sessionTTL": 3600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        432,
        224
      ],
      "id": "a54689c2-60f2-4ed4-9339-f5ed8fb6ed21",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "5HEvdXU1EKCkt8VU",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa tool sempre que o usuário perguntar sobre algum produto, \nuse para consultar se o produto existe ou o seu valor",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        832,
        224
      ],
      "id": "1f644ef9-d27d-4952-a57d-84c5748cc6ba",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LOJgWrBsYdHTsczQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa tool quando o usuário fizer pedido de algum produto.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        624,
        224
      ],
      "id": "99f0eb0e-4244-47e9-ab52-60497f3dc3ab",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LOJgWrBsYdHTsczQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-28T14:09:13.062Z",
      "updatedAt": "2025-10-28T14:09:13.062Z",
      "role": "workflow:owner",
      "workflowId": "UPgVIapy9pMSJDJ7",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-28T14:45:57.335Z",
  "versionId": "82bafe09-8b02-45c7-96b6-301263d719b5"
}