workflows/Recuperacao_De_Vendas.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Pix Gerado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Carrinho Abandonado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Compra aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro6": {
      "main": [
        [
          {
            "node": "Baserow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compra aprovada": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Wait9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait8": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait9": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro": {
      "main": [
        [
          {
            "node": "Baserow3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Baserow2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carrinho Abandonado": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pix Gerado": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-08T19:01:12.193Z",
  "id": "u1XIZB742VFmHP8r",
  "isArchived": false,
  "meta": null,
  "name": "Recuperacao_De_Vendas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "81ca6c4a-2e81-4376-b306-9d0881dd4f34",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        1460
      ],
      "id": "8d4d8fee-dd58-46db-b23c-0263d3b91621",
      "name": "Webhook",
      "webhookId": "81ca6c4a-2e81-4376-b306-9d0881dd4f34"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "290e550f-7112-4cf8-a1b0-1ef6eb0aaafe",
                    "leftValue": "={{ $json.body.webhook_event_type }}",
                    "rightValue": "pix_created",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pix gerado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "93e3b624-1f38-4846-baea-7765637f3fa0",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "abandoned",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Carrinho abandonado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "46504d4a-d43c-488e-b318-278a895e1a9b",
                    "leftValue": "={{ $json.body.webhook_event_type }}",
                    "rightValue": "order_approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Compra aprovada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -380,
        1460
      ],
      "id": "11f3de6e-886f-48fe-bb60-11e80e53cdc4",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "# Recuperação de Vendas",
        "height": 100,
        "width": 460,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        1260
      ],
      "typeVersion": 1,
      "id": "046a42ef-6d6c-4c26-b19b-ac74533cfc23",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## COMPRA APROVADA \n",
        "height": 560,
        "width": 2720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1240
      ],
      "id": "efcf643f-c9c8-4f60-8f82-ff60da558ea1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Compra aprovada').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Olá  {{ $json['Nome completo'] }} ✌🏻, Jonathan aqui!\n\n🎉 Bem-vindo(a) ao curso Dominando Automações com IA e n8n!\n\nVocê acaba de dar um passo incrível rumo à construção de Agentes de IA com N8N! 🚀"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        1500
      ],
      "id": "a692bf03-fab8-4ba8-b84b-59e98e3f82ea",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2040,
        1620
      ],
      "id": "4474a991-9484-43ee-ba6c-cd1e871de1ef",
      "name": "Erro6",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd106cf-d8e3-4eb2-9029-0ab357771ce5",
              "name": "Nome completo",
              "value": "={{ $json.body.Customer.full_name }}",
              "type": "string"
            },
            {
              "id": "37425cc1-117d-4b5f-9259-beebd2daced4",
              "name": "Telefone",
              "value": "={{ $json.body.Customer.mobile }}",
              "type": "string"
            },
            {
              "id": "4f0f8b52-46b2-40e4-bdd0-43a0325af13e",
              "name": "Email",
              "value": "={{ $json.body.Customer.email }}",
              "type": "string"
            },
            {
              "id": "2e3d2ceb-f7bf-4225-a64d-3a01390efe01",
              "name": "Evento",
              "value": "={{ $json.body.webhook_event_type }}",
              "type": "string"
            },
            {
              "id": "5814242d-a5dc-44a3-8f68-b4ff18c355ad",
              "name": "valor total",
              "value": "={{ $json.body.Subscription.charges.completed[0].amount }}",
              "type": "string"
            },
            {
              "id": "158f8c13-55b4-4337-b2bb-2f2116474c49",
              "name": "produtos",
              "value": "={{ $json.body.Product.product_name }}",
              "type": "string"
            },
            {
              "id": "5b9953c0-6ce8-4d0c-8f5c-7d2e33ac0d26",
              "name": "data",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "1265fe29-53c6-4ed1-beb4-2c5ee2080b5e",
              "name": "id_venda",
              "value": "={{ $json.body.Subscription.id }}",
              "type": "string"
            },
            {
              "id": "dfea3f13-29e0-46b8-8b8a-05bbcfa16d1b",
              "name": "utm",
              "value": "={{ $json.body.TrackingParameters.src }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        1520
      ],
      "id": "6ad19248-eed7-4ce3-8802-79c28f69f5da",
      "name": "Compra aprovada"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Compra aprovada').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=📌 Aqui estão seus próximos passos:\n\n1️⃣ Acesse o seu e-mail de compra com os dados de compra, clique em \"Acessar Conteúdo\" ou clique nesse link: https://members.kiwify.com/?club=40e23213-0582-494d-a514-4d0ff4c331e4\n\n2️⃣ Faça o primeiro acesso com o e-mail e clicando esqueci minha senha."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        1380
      ],
      "id": "55f663d8-55f3-48e5-a62b-29a3a7f92e98",
      "name": "HTTP Request9",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Compra aprovada').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=💬 Qualquer dúvida, é só chamar! Estamos aqui para te ajudar nessa jornada. Vamos nessa? 💪"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        1280
      ],
      "id": "9146d008-2319-4b6f-bf30-c6de7bdda452",
      "name": "HTTP Request10",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        860,
        1380
      ],
      "id": "fa1657ef-6a03-4e0e-97da-002acccd40b0",
      "name": "Wait8",
      "webhookId": "c76f4093-ff9b-4c45-9c12-24f2eae4c523"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        1280
      ],
      "id": "f7eabf5a-d059-4830-80cb-676b02a87a45",
      "name": "Wait9",
      "webhookId": "96081462-9788-4b67-bfaf-17a5bbcea3d0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2400,
        1280
      ],
      "id": "7369fb80-2fe9-4f67-8014-adbb077099b4",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 239853,
        "tableId": 569608,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4579051,
              "fieldValue": "={{ $('Compra aprovada').item.json['Nome completo'] }}"
            },
            {
              "fieldId": 4579068,
              "fieldValue": "={{ $('Compra aprovada').item.json.Telefone }}"
            },
            {
              "fieldId": 4579069,
              "fieldValue": "={{ $('Compra aprovada').item.json.Email }}"
            },
            {
              "fieldId": 4579103,
              "fieldValue": "={{ $('Compra aprovada').item.json.Evento }}"
            },
            {
              "fieldId": 4579104,
              "fieldValue": "={{ $('Compra aprovada').item.json['valor total'] }}"
            },
            {
              "fieldId": 4579105,
              "fieldValue": "={{ $('Compra aprovada').item.json.produtos }}"
            },
            {
              "fieldId": 4579106,
              "fieldValue": "={{ $('Compra aprovada').item.json.data.toDateTime().format('dd/MM/yyyy') }}"
            },
            {
              "fieldId": 4579107,
              "fieldValue": "={{ $('Compra aprovada').item.json.id_venda }}"
            },
            {
              "fieldId": 4579108,
              "fieldValue": "={{ $('Compra aprovada').item.json.utm }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2040,
        1280
      ],
      "id": "59b8b29f-780c-458d-be99-91bc940f6920",
      "name": "Baserow"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 239853,
        "tableId": 569608,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4579051,
              "fieldValue": "={{ $('Compra aprovada').item.json['Nome completo'] }}"
            },
            {
              "fieldId": 4579068,
              "fieldValue": "={{ $('Compra aprovada').item.json.Telefone }}"
            },
            {
              "fieldId": 4579069,
              "fieldValue": "={{ $('Compra aprovada').item.json.Email }}"
            },
            {
              "fieldId": 4579103,
              "fieldValue": "={{ $('Compra aprovada').item.json.Evento }}"
            },
            {
              "fieldId": 4579104,
              "fieldValue": "={{ $('Compra aprovada').item.json['valor total'] }}"
            },
            {
              "fieldId": 4579105,
              "fieldValue": "={{ $('Compra aprovada').item.json.produtos }}"
            },
            {
              "fieldId": 4579106,
              "fieldValue": "={{ $('Compra aprovada').item.json.data.toDateTime().format('dd/MM/yyyy') }}"
            },
            {
              "fieldId": 4579107,
              "fieldValue": "={{ $('Compra aprovada').item.json.id_venda }}"
            },
            {
              "fieldId": 4579108,
              "fieldValue": "={{ $('Compra aprovada').item.json.utm }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2380,
        1620
      ],
      "id": "0bfb3dc0-709e-42ca-953b-709898882c4d",
      "name": "Baserow1"
    },
    {
      "parameters": {
        "content": "## CARRINHO ABANDONADO\n",
        "height": 560,
        "width": 2720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "id": "9a67e853-88e5-4bff-9748-77a7fb757b43",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Olá  {{ $json['Nome completo'] }} ✌🏻, Jonathan aqui! \n\nNotei que você chegou na reta final para adquirir o curso Dominando Automações com IA e n8n, e não finalizou a compra. mas parece que não finalizou a compra. \n\nAlguma dúvida? Estou aqui para te ajudar! 🤓"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        900
      ],
      "id": "5bb3b672-8f5d-4935-bec5-b19ff648a77f",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        980
      ],
      "id": "23227b26-bae6-4cb5-a534-6ac6e0a8b8af",
      "name": "Erro",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Carrinho Abandonado').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=💡 {{ $item(\"0\").$node[\"Carrinho Abandonado\"].json[\"Nome completo\"] }}, sabia que com o nosso curso você pode criar agentes de IA completos sem precisar saber programar? E ainda ganha:\n\n- 7 agentes prontos para copiar e colar 🛠️\n\nGaranta sua vaga no preço de lançamento! 👇"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        780
      ],
      "id": "503b8660-6e03-4ba0-bea4-bc506291dca9",
      "name": "HTTP Request11",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Carrinho Abandonado').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Segue o link para adquirir:\n\n{{ $('Carrinho Abandonado').item.json.url_checkout }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        680
      ],
      "id": "67939929-2acf-45cc-a56f-f09587581ccf",
      "name": "HTTP Request12",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        860,
        780
      ],
      "id": "7f1e9696-9791-45f3-9fed-67c4539bd46a",
      "name": "Wait",
      "webhookId": "c76f4093-ff9b-4c45-9c12-24f2eae4c523"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        680
      ],
      "id": "56e669fa-0e46-48ca-a178-eb412a3ed05a",
      "name": "Wait10",
      "webhookId": "96081462-9788-4b67-bfaf-17a5bbcea3d0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2400,
        680
      ],
      "id": "71d8d978-9d89-404a-a2e1-d83db9844340",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 239853,
        "tableId": 569618,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4579117,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json['Nome completo'] }}"
            },
            {
              "fieldId": 4579118,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.Telefone }}"
            },
            {
              "fieldId": 4579119,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.Email }}"
            },
            {
              "fieldId": 4579120,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.Evento }}"
            },
            {
              "fieldId": 4579122,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.produtos }}"
            },
            {
              "fieldId": 4579123,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.data.toDateTime().format('dd/MM/yyyy') }}"
            },
            {
              "fieldId": 4579124,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.id_venda }}"
            },
            {
              "fieldId": 4579125,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.utm }}"
            },
            {
              "fieldId": 4579131,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.url_checkout }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2020,
        680
      ],
      "id": "47250de1-1b6c-48d5-bc34-ee6524536f6a",
      "name": "Baserow2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd106cf-d8e3-4eb2-9029-0ab357771ce5",
              "name": "Nome completo",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "37425cc1-117d-4b5f-9259-beebd2daced4",
              "name": "Telefone",
              "value": "=+55{{ $json.body.phone.replaceAll(\"(\",\"\").replaceAll(\")\",\"\").replaceAll(\" \",\"\").replaceAll(\"-\",\"\") }}",
              "type": "string"
            },
            {
              "id": "4f0f8b52-46b2-40e4-bdd0-43a0325af13e",
              "name": "Email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "2e3d2ceb-f7bf-4225-a64d-3a01390efe01",
              "name": "Evento",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "158f8c13-55b4-4337-b2bb-2f2116474c49",
              "name": "produtos",
              "value": "={{ $('Webhook').item.json.body.product_name }}",
              "type": "string"
            },
            {
              "id": "5b9953c0-6ce8-4d0c-8f5c-7d2e33ac0d26",
              "name": "data",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "1265fe29-53c6-4ed1-beb4-2c5ee2080b5e",
              "name": "id_venda",
              "value": "={{ $('Webhook').item.json.body.id }}",
              "type": "string"
            },
            {
              "id": "dfea3f13-29e0-46b8-8b8a-05bbcfa16d1b",
              "name": "utm",
              "value": "=",
              "type": "string"
            },
            {
              "id": "d5be9845-d44b-492d-9995-17fa69f897bb",
              "name": "url_checkout",
              "value": "=https://pay.kiwify.com.br/{{ $('Webhook').item.json.body.checkout_link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        920
      ],
      "id": "e9059304-2b0b-4762-8dd0-8b553ec1fca0",
      "name": "Carrinho Abandonado"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 239853,
        "tableId": 569618,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4579117,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json['Nome completo'] }}"
            },
            {
              "fieldId": 4579118,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.Telefone }}"
            },
            {
              "fieldId": 4579119,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.Email }}"
            },
            {
              "fieldId": 4579120,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.Evento }}"
            },
            {
              "fieldId": 4579122,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.produtos }}"
            },
            {
              "fieldId": 4579123,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.data.toDateTime().format('dd/MM/yyyy') }}"
            },
            {
              "fieldId": 4579124,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.id_venda }}"
            },
            {
              "fieldId": 4579125,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.utm }}"
            },
            {
              "fieldId": 4579131,
              "fieldValue": "={{ $('Carrinho Abandonado').item.json.url_checkout }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2280,
        980
      ],
      "id": "97b65549-ecc6-4564-8696-48e40e979a34",
      "name": "Baserow3"
    },
    {
      "parameters": {
        "content": "## Pix Gerado",
        "height": 560,
        "width": 2720,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c0d7d5ad-9a08-4b30-92a0-f5601b21798a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Olá  {{ $json['Nome completo'] }} ✌🏻, Jonathan aqui! \n\nO PIX do seu acesso ao curso Dominando Automações com IA e N8n foi gerado!\n\nPara garantir sua vaga e liberar seu acesso o quanto antes, é só finalizar o pagamento com o código abaixo:\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        260
      ],
      "id": "c4a7fb9a-6fff-4ae0-a321-8fe2c8c642d8",
      "name": "HTTP Request2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Pix Gerado').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "={{ $('Pix Gerado').item.json.pix_code }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        140
      ],
      "id": "2ba1c217-370c-47a3-8953-579ae68e15e5",
      "name": "HTTP Request13",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.outoflow.online/message/sendText/EquipeJonathanRenan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Pix Gerado').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "=Qualquer dúvida, estou por aqui.\nTô te esperando dentro da plataforma! 😉"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        40
      ],
      "id": "0c56003d-46a0-4132-9c1f-2a5ed86fa700",
      "name": "HTTP Request14",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        860,
        140
      ],
      "id": "9c214434-c2da-4cb3-97c4-08a7a1f7c1d5",
      "name": "Wait1",
      "webhookId": "c76f4093-ff9b-4c45-9c12-24f2eae4c523"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        40
      ],
      "id": "793c06a3-b1b1-491d-88bf-115d7febd52a",
      "name": "Wait11",
      "webhookId": "96081462-9788-4b67-bfaf-17a5bbcea3d0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2140,
        280
      ],
      "id": "678b7fb5-74e8-4b51-88d0-cd0b60767f2c",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd106cf-d8e3-4eb2-9029-0ab357771ce5",
              "name": "Nome completo",
              "value": "={{ $json.body.Customer.full_name }}",
              "type": "string"
            },
            {
              "id": "37425cc1-117d-4b5f-9259-beebd2daced4",
              "name": "Telefone",
              "value": "={{ $json.body.Customer.mobile.replaceAll(\"(\",\"\").replaceAll(\")\",\"\").replaceAll(\" \",\"\").replaceAll(\"-\",\"\") }}",
              "type": "string"
            },
            {
              "id": "4f0f8b52-46b2-40e4-bdd0-43a0325af13e",
              "name": "Email",
              "value": "={{ $json.body.Customer.email }}",
              "type": "string"
            },
            {
              "id": "2e3d2ceb-f7bf-4225-a64d-3a01390efe01",
              "name": "Evento",
              "value": "={{ $json.body.webhook_event_type }}",
              "type": "string"
            },
            {
              "id": "158f8c13-55b4-4337-b2bb-2f2116474c49",
              "name": "produtos",
              "value": "={{ $json.body.Product.product_name }}",
              "type": "string"
            },
            {
              "id": "5b9953c0-6ce8-4d0c-8f5c-7d2e33ac0d26",
              "name": "data",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "1265fe29-53c6-4ed1-beb4-2c5ee2080b5e",
              "name": "id_venda",
              "value": "={{ $json.body.order_id }}",
              "type": "string"
            },
            {
              "id": "dfea3f13-29e0-46b8-8b8a-05bbcfa16d1b",
              "name": "utm",
              "value": "=",
              "type": "string"
            },
            {
              "id": "d5be9845-d44b-492d-9995-17fa69f897bb",
              "name": "pix_code",
              "value": "={{ $json.body.pix_code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        280
      ],
      "id": "73588872-431b-4820-a710-6d6e2053360b",
      "name": "Pix Gerado"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "n8n.outoflow.work",
            "x-real-ip": "172.69.114.3",
            "x-forwarded-for": "34.95.163.104, 172.69.114.3",
            "x-forwarded-proto": "https",
            "content-length": "2647",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "traceparent": "00-559d9fdb1f1e5d9185d219814a6c039c-b47cc2bc91b58ff8-01",
            "accept-encoding": "gzip, br",
            "cf-ray": "94f0880b99e9a3f3-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "user-agent": "axios/1.8.4",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "34.95.163.104",
            "cf-ipcountry": "BR"
          },
          "params": {},
          "query": {
            "signature": "c9a800fd444d625c8ef0334ccc9db665ce97e308"
          },
          "body": {
            "order_id": "f30045cd-751f-43d3-af5b-b21790020531",
            "order_ref": "TGkWmqB",
            "order_status": "waiting_payment",
            "product_type": "club",
            "payment_method": "pix",
            "store_id": "UxYBT3hhecMYVwS",
            "payment_merchant_id": "f30045cd751f43d3af5bb21790020531",
            "boleto_barcode": null,
            "boleto_expiry_date": null,
            "pix_code": "00020101021226770014BR.GOV.BCB.PIX2555api.itau/pix/qr/v2/bc11581d-7f09-4ff4-ae7b-c93f9e36febc5204000053039865802BR5906KIWIFY6015BALNEARIO CAMBO62070503***6304DC91",
            "pix_expiration": "14/06/2025 06:23",
            "sale_type": "producer",
            "created_at": "2025-06-13 06:23",
            "updated_at": "2025-06-13 06:23",
            "approved_date": null,
            "refunded_at": null,
            "webhook_event_type": "pix_created",
            "Product": {
              "product_id": "85e22b50-0aac-11f0-bc66-4fceec7c704d",
              "product_name": "Dominando Automações com IA e N8N"
            },
            "Customer": {
              "full_name": "Sidney Saldan Souza",
              "first_name": "Sidney",
              "email": "sidsaldan@gmail.com",
              "mobile": "+5511970334796",
              "CPF": "11610327896",
              "ip": "2804:7f0:9180:a9c8:9d90:dd0e:96b4:d791"
            },
            "Commissions": {
              "charge_amount": 3700,
              "product_base_price": 3700,
              "product_base_price_currency": "BRL",
              "kiwify_fee": 656,
              "kiwify_fee_currency": "BRL",
              "commissioned_stores": [
                {
                  "id": "31fb94d1-a40f-4cd4-a9e2-4bc29b7b936b",
                  "type": "producer",
                  "custom_name": "Eco Up Marketing Digital LTDA",
                  "email": "jonathan@ecoupdigital.com.br",
                  "value": "3044"
                }
              ],
              "currency": "BRL",
              "my_commission": 3044,
              "funds_status": "waiting",
              "estimated_deposit_date": null,
              "deposit_date": null
            },
            "TrackingParameters": {
              "src": null,
              "sck": null,
              "utm_source": "FBjLj684becee174486b94fe5694b",
              "utm_medium": "004.ad01 video - dominando automacoes 37|120230845869020002",
              "utm_campaign": "16/05 | Dominando Auto 37 | ad01 | CA003 006|120230845868790002",
              "utm_content": "ad01 video - dominando automacoes 37|120230845869280002",
              "utm_term": "Facebook_Mobile_Feed",
              "s1": null,
              "s2": null,
              "s3": null
            },
            "checkout_link": "EAdzkZu",
            "Subscription": {
              "start_date": "2025-06-13T09:23:46.123Z",
              "next_payment": "2026-06-13T09:23:46.123Z",
              "status": "inactive",
              "plan": {
                "id": "83fc5a20-f93f-4740-bc40-922fab89b5c5",
                "name": "Plano de Lançamento",
                "frequency": "annually",
                "qty_charges": 0
              },
              "charges": {
                "completed": [],
                "future": [
                  {
                    "charge_date": "2026-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2027-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2028-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2029-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2030-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2031-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2032-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2033-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2034-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2035-06-13T09:23:46.123Z"
                  },
                  {
                    "charge_date": "2036-06-13T09:23:46.123Z"
                  }
                ]
              }
            },
            "subscription_id": "96364a01-a9d2-49b6-ab83-2a372aa3f8c3",
            "access_url": null
          },
          "webhookUrl": "https://n8n.outoflow.work/webhook/81ca6c4a-2e81-4376-b306-9d0881dd4f34",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-08T18:59:36.172Z",
      "updatedAt": "2025-07-08T18:59:36.172Z",
      "id": "uRo9zPyOtJUC7rm5",
      "name": "dominandoautomacoes"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-08T19:01:12.193Z",
  "versionId": "6176d72c-7c71-49bb-b8d7-43937831ff01"
}