workflows/Resultado campanhas impulsionamento Meta Ads - Potto Flow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "dados conta de anúncio",
            "type": "main",
            "index": 0
          },
          {
            "node": "dados instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Create a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row1": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados instagram": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados conta de anúncio": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-04T12:04:26.068Z",
  "id": "sBQpzpru7faZMime",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Resultado campanhas impulsionamento Meta Ads - Potto Flow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        112
      ],
      "id": "07b1d123-32d7-482d-9212-a04339423aab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05d674ad-ead8-4f80-8a5e-a6201ecfc61a",
              "name": "conta_anuncio",
              "value": "1783416672243307",
              "type": "string"
            },
            {
              "id": "efe8a083-9f73-47ee-9b33-19cd87f11014",
              "name": "grupo_cliente",
              "value": "551196999999@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "52057f62-a0ee-4e40-99ae-4defb4347aa5",
              "name": "desde_data",
              "value": "={{$today.minus({days: 7}).toFormat('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "bb78a028-a793-4d91-828f-93a91f996d22",
              "name": "ate_data",
              "value": "={{$today.minus({days: 1}).toFormat('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "1dbdb0fe-0d37-4676-b937-4d01386f1b20",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "=act_{{ $json.conta_anuncio }}",
        "edge": "insights",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "time_increment",
                "value": "1"
              },
              {
                "name": "level",
                "value": "account"
              },
              {
                "name": "fields",
                "value": "campaign_name,  spend,  actions,  action_values"
              },
              {
                "name": "limit",
                "value": "3000"
              },
              {
                "name": "time_range",
                "value": "={\n  \"since\":\"{{ $json.desde_data }}\",\n  \"until\":\"{{ $json.ate_data }}\"\n} "
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "d4cb9e27-4050-4ec2-84c4-b911dad5794d",
      "name": "Facebook Graph API",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "7b42a9e1-fd47-422d-bcea-770ae488b6df",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f65a957-6c6f-4fc6-ba8c-1008be97156c",
              "name": "instagram_id",
              "value": "44514900256",
              "type": "string"
            },
            {
              "id": "12cabafd-9632-4b39-abfb-3184513795a0",
              "name": "de_data",
              "value": "={{$today.minus({days: 7}).toFormat('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "e6ac1f90-8385-43f2-a9f6-1ea1ba5ce160",
              "name": "ate_data",
              "value": "={{$today.minus({days: 1}).toFormat('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        272
      ],
      "id": "847a2831-ca21-4039-91a9-3494ef997ead",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.instagram_id }}/insights?metric=follower_count&period=day&since={{ $json.de_data }}&until={{ $json.ate_data }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        272
      ],
      "id": "a191ec73-a67a-498b-858d-1349eee39ba5",
      "name": "HTTP Request",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Captura todos os itens de entrada\n\nlet totalGasto = 0;\nlet totalSeguidores = 0;\nlet totalCliques = 0;\n\nconst followerActionType = 'follow';\nconst linkClickActionType = 'link_click';\n\nitems.forEach(item => {\n  const data = item.json;\n\n  totalGasto += parseFloat(data.spend) || 0;\n\n  if (data.actions) {\n    data.actions.forEach(action => {\n      if (action.action_type === followerActionType) {\n        totalSeguidores += parseInt(action.value) || 0;\n      }\n      if (action.action_type === linkClickActionType) {\n        totalCliques += parseInt(action.value) || 0;\n      }\n    });\n  }\n});\n\nconst custoPorSeguidor = totalSeguidores > 0\n  ? (totalGasto / totalSeguidores).toFixed(2).replace(\".\", \",\")\n  : \"0,00\";\n\nconst custoPorClique = totalCliques > 0\n  ? (totalGasto / totalCliques).toFixed(2).replace(\".\", \",\")\n  : \"0,00\";\n\nreturn [\n  {\n    json: {\n      \"Total Gasto Seguidores (R$)\": totalGasto.toFixed(2).replace(\".\", \",\"),\n      \"Total de Seguidores\": totalSeguidores,\n      \"Custo por Seguidor (R$)\": custoPorSeguidor,\n      \"Total de Cliques\": totalCliques,\n      \"Custo por Clique (R$)\": custoPorClique\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "1a45d279-8026-4b02-9afa-9bc9cff4acf1",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\nfor (const item of items) {\n  const data = item.json.data;\n\n  if (data && Array.isArray(data) && data[0]?.values) {\n    const values = data[0].values;\n    const totalSeguidores7Dias = values.reduce((sum, val) => sum + val.value, 0);\n\n    result.push({\n      json: {\n        \"SEGUIDORES\": totalSeguidores7Dias,\n        \"DATA COLETA\": new Date().toISOString().split('T')[0]\n      }\n    });\n  } else {\n    result.push({\n      json: {\n        \"SEGUIDORES\": 0,\n        \"DATA COLETA\": new Date().toISOString().split('T')[0],\n        \"erro\": \"data[0].values não encontrado\"\n      }\n    });\n  }\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        272
      ],
      "id": "ae678abc-6989-434c-b288-e6acb5d1b8c8",
      "name": "Code1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        80
      ],
      "id": "55d20691-25fe-4ebd-b53e-2a4c5ab3fd75",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Captura todos os itens do Merge\n\n// Juntar todos os campos em um único objeto\nconst merged = Object.assign({}, ...items.map(item => item.json));\n\nreturn [\n  {\n    json: merged\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        80
      ],
      "id": "6a01b815-702e-4cd3-b6bf-01a0dff3f2b8",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 278206,
        "tableId": 650133,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 5323347,
              "fieldValue": "={{ $('Edit Fields1').first().json.de_data }}"
            },
            {
              "fieldId": 5323348,
              "fieldValue": "={{ $('Edit Fields1').first().json.ate_data }}"
            },
            {
              "fieldId": 5323349,
              "fieldValue": "={{ $json['Total Gasto Seguidores (R$)'] }}"
            },
            {
              "fieldId": 5323399,
              "fieldValue": "={{ $json['Total de Cliques'] }}"
            },
            {
              "fieldId": 5323400,
              "fieldValue": "={{ $json['Custo por Clique (R$)'] }}"
            },
            {
              "fieldId": 5323401,
              "fieldValue": "={{ $('Code1').first().json.SEGUIDORES }}"
            },
            {
              "fieldId": 5323402,
              "fieldValue": "={{ $json.CUSTO_POR_SEGUIDOR_REAL }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1328,
        80
      ],
      "id": "2dc34f0d-a36d-446c-bc5d-3f71d52de8d0",
      "name": "Create a row"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "potto-evo",
        "remoteJid": "={{ $('Edit Fields').first().json.grupo_cliente }}",
        "messageText": "=Bom dia, Thayná!  \n\nSegue o relatório com os resultados da campanha no período de: {{$today.minus({days: 7}).toFormat('dd/MM')}} a {{$today.minus({days: 1}).toFormat('dd/MM')}}  \n\n• Investimento - R$ {{ $json.INVESTIMENTO }}\n• Visitas no Perfil - {{ $json['VISITAS NO PERFIL'] }}\n• Custo por Visita - R$ {{ $json['CUSTO POR VISITA'] }}\n• Seguidores - {{ $json.SEGUIDORES }}\n• Custo por Seguidor - R$ {{ $json['CUSTO POR SEGUIDOR'] }}\n\nQualquer dúvida ou ponto que queira alinhar, estamos à disposição!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1536,
        80
      ],
      "id": "fb4118e7-442d-44a9-94df-85d8340a9a68",
      "name": "Enviar texto"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -304,
        656
      ],
      "id": "63432a81-c184-450d-9451-9aa090bf093e",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "=act_{{ $json.conta_anuncio }}",
        "edge": "insights",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "time_increment",
                "value": "1"
              },
              {
                "name": "level",
                "value": "account"
              },
              {
                "name": "fields",
                "value": "campaign_name,  spend,  actions,  action_values"
              },
              {
                "name": "limit",
                "value": "3000"
              },
              {
                "name": "time_range",
                "value": "={\n  \"since\":\"{{ $json.desde_data }}\",\n  \"until\":\"{{ $json.ate_data }}\"\n} "
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        192,
        544
      ],
      "id": "918aadd6-dec5-4600-a702-56f04a81cf93",
      "name": "Facebook Graph API1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        544
      ],
      "id": "8d3f4b10-98ef-4d65-9eb1-46338487f41d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.instagram_id }}/insights?metric=follower_count&period=day&since={{ $json.de_data }}&until={{ $json.ate_data }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        816
      ],
      "id": "cc54a6a8-86e2-4bb6-823d-c5c7c0cce3c6",
      "name": "HTTP Request1",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Captura todos os itens de entrada\n\nlet totalGasto = 0;\nlet totalSeguidores = 0;\nlet totalCliques = 0;\n\nconst followerActionType = 'follow';\nconst linkClickActionType = 'link_click';\n\nitems.forEach(item => {\n  const data = item.json;\n\n  totalGasto += parseFloat(data.spend) || 0;\n\n  if (data.actions) {\n    data.actions.forEach(action => {\n      if (action.action_type === followerActionType) {\n        totalSeguidores += parseInt(action.value) || 0;\n      }\n      if (action.action_type === linkClickActionType) {\n        totalCliques += parseInt(action.value) || 0;\n      }\n    });\n  }\n});\n\nconst custoPorSeguidor = totalSeguidores > 0\n  ? (totalGasto / totalSeguidores).toFixed(2).replace(\".\", \",\")\n  : \"0,00\";\n\nconst custoPorClique = totalCliques > 0\n  ? (totalGasto / totalCliques).toFixed(2).replace(\".\", \",\")\n  : \"0,00\";\n\nreturn [\n  {\n    json: {\n      \"Total Gasto Seguidores (R$)\": totalGasto.toFixed(2).replace(\".\", \",\"),\n      \"Total de Seguidores\": totalSeguidores,\n      \"Custo por Seguidor (R$)\": custoPorSeguidor,\n      \"Total de Cliques\": totalCliques,\n      \"Custo por Clique (R$)\": custoPorClique\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        544
      ],
      "id": "feca80de-ca63-41fb-9b90-861411951061",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "const result = [];\n\nfor (const item of items) {\n  const data = item.json.data;\n\n  if (data && Array.isArray(data) && data[0]?.values) {\n    const values = data[0].values;\n    const totalSeguidores7Dias = values.reduce((sum, val) => sum + val.value, 0);\n\n    result.push({\n      json: {\n        \"SEGUIDORES\": totalSeguidores7Dias,\n        \"DATA COLETA\": new Date().toISOString().split('T')[0]\n      }\n    });\n  } else {\n    result.push({\n      json: {\n        \"SEGUIDORES\": 0,\n        \"DATA COLETA\": new Date().toISOString().split('T')[0],\n        \"erro\": \"data[0].values não encontrado\"\n      }\n    });\n  }\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        816
      ],
      "id": "2f9b22fa-1b3e-43b7-9e3d-7e54470a5cc7",
      "name": "Code4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        624
      ],
      "id": "3d437412-a756-451b-ab8e-331ee808355b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Captura todos os itens do Merge\n\n// Juntar todos os campos em um único objeto\nconst merged = Object.assign({}, ...items.map(item => item.json));\n\nreturn [\n  {\n    json: merged\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        624
      ],
      "id": "1e0999ea-d4a8-4cbf-9c68-bc880db04cc8",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 278206,
        "tableId": 650140,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 5323419,
              "fieldValue": "={{$today.minus({ months: 1 }).setLocale('pt-BR').toFormat(\"LLLL 'de' yyyy\")}}"
            },
            {
              "fieldId": 5323421,
              "fieldValue": "={{ $json['Total Gasto Seguidores (R$)'] }}"
            },
            {
              "fieldId": 5323422,
              "fieldValue": "={{ $json['Total de Cliques'] }}"
            },
            {
              "fieldId": 5323423,
              "fieldValue": "={{ $json['Custo por Clique (R$)'] }}"
            },
            {
              "fieldId": 5323424,
              "fieldValue": "={{ $json.SEGUIDORES }}"
            },
            {
              "fieldId": 5323425,
              "fieldValue": "={{ $json['Custo por Seguidor (R$)'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1312,
        624
      ],
      "id": "46df8068-456c-468f-9b26-87ace630cc7a",
      "name": "Create a row1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "potto-evo",
        "remoteJid": "={{ $('dados conta de anúncio').first().json.grupo_cliente }}",
        "messageText": "=Bom dia, Thayná!  \n\nSegue o relatório com os resultados da campanha referentes ao mês de: {{$today.minus({ months: 1 }).setLocale('pt-BR').toFormat(\"LLLL 'de' yyyy\")}} \n\n• Investimento - R$ {{ $json.INVESTIMENTO }}\n• Visitas no Perfil - {{ $json['VISITAS NO PERFIL'] }}\n• Custo por Visita - R$ {{ $json['CUSTO POR VISITA'] }}\n• Seguidores - {{ $json.SEGUIDORES }}\n• Custo por Seguidor - R$ {{ $json['CUSTO POR SEGUIDOR'] }}\n\nQualquer dúvida ou ponto que queira alinhar, estamos à disposição!",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1536,
        624
      ],
      "id": "4c13c1c8-bf64-429d-8700-623da69d9072",
      "name": "Enviar texto1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f65a957-6c6f-4fc6-ba8c-1008be97156c",
              "name": "instagram_id",
              "value": "1745450870256",
              "type": "string"
            },
            {
              "id": "12cabafd-9632-4b39-abfb-3184513795a0",
              "name": "de_data",
              "value": "={{$today.minus({days: 29}).toFormat('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "e6ac1f90-8385-43f2-a9f6-1ea1ba5ce160",
              "name": "ate_data",
              "value": "={{$today.minus({days: 1}).toFormat('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        816
      ],
      "id": "52144eb0-32df-4543-8958-c6a4820baae7",
      "name": "dados instagram"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05d674ad-ead8-4f80-8a5e-a6201ecfc61a",
              "name": "conta_anuncio",
              "value": "178198551",
              "type": "string"
            },
            {
              "id": "efe8a083-9f73-47ee-9b33-19cd87f11014",
              "name": "grupo_cliente",
              "value": "551199999@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "52057f62-a0ee-4e40-99ae-4defb4347aa5",
              "name": "desde_data",
              "value": "={{$today.minus({months: 1}).startOf('month').toFormat('yyyy-MM-dd')}}",
              "type": "string"
            },
            {
              "id": "bb78a028-a793-4d91-828f-93a91f996d22",
              "name": "ate_data",
              "value": "={{$today.minus({months: 1}).endOf('month').toFormat('yyyy-MM-dd')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        544
      ],
      "id": "ab96e56c-0363-4652-9eed-786017f29117",
      "name": "dados conta de anúncio"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-04T12:04:26.068Z",
      "createdAt": "2026-02-04T12:04:26.068Z",
      "role": "workflow:owner",
      "workflowId": "sBQpzpru7faZMime",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-08T13:16:48.344Z",
      "createdAt": "2026-01-08T13:16:48.344Z",
      "id": "Jcu1fyEtWnnTdi0F",
      "name": "Potto Flow"
    },
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-04T12:04:41.955Z",
  "versionId": "f61cd631-2361-4fc5-a02a-d07919f4750a"
}