workflows/Saldo PIX - Meta Ads - Potto Flow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Meta Ads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meta Ads": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-04T11:52:58.756Z",
  "id": "Be9EdJMlLA7TsbDe",
  "isArchived": false,
  "meta": null,
  "name": "Saldo PIX - Meta Ads - Potto Flow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        32
      ],
      "id": "6af7c102-df3a-42d0-b5ef-1430ea287f9c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Fluxo consulta saldo - Meta Ads",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -928,
        32
      ],
      "id": "246edf95-d1f7-47c3-94cd-6fddc6eb1bfa",
      "name": "Supabase"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -704,
        32
      ],
      "id": "0b2c89a5-36b3-4971-8620-6d25f42bf6aa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v20.0/act_{{ $json.conta_anuncio }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "=amount_spent,balance,currency,disable_reason,spend_cap,default_dsa_payor,default_dsa_beneficiary,account_status, age,business_name,is_prepay_account"
            }
          ]
        },
        "options": {}
      },
      "id": "ad0c44e5-8c1a-4e26-bbcc-1c6c4c884fd7",
      "name": "Meta Ads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85c6bf45-754b-42a0-ba01-c626f33092ef",
              "leftValue": "={{ ($json.spend_cap - $json.amount_spent)/100 }}",
              "rightValue": "={{ $('Supabase').item.json.valor_base }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        64
      ],
      "id": "769ef9af-2a19-42e8-a636-e66cecce9904",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "potto-evo",
        "remoteJid": "={{ $('Supabase').item.json.contato }}",
        "messageText": "=Bom dia {{ $('Supabase').item.json.cliente }}!\n\n*🚨 Aviso Importante:*\n\nA conta *{{ $('Supabase').item.json.conta_anuncio }}*\n\nEstá com saldo de *R$ {{ $json.saldo_ativo }}*\n\n⚠️ Nessitamos de uma recarga para garantir que os anúncios continuem sendo veiculados.\n\nPosso gerar o código Pix para te enviar?",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        368,
        96
      ],
      "id": "491af87b-d351-4e4d-940c-6a045fd791a1",
      "name": "Evolution API"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Fluxo consulta saldo - Meta Ads",
        "filters": {
          "conditions": [
            {
              "keyName": "conta_anuncio",
              "condition": "eq",
              "keyValue": "={{ $('Supabase').item.json.conta_anuncio }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "saldo_ativo",
              "fieldValue": "={{ ($('Meta Ads').item.json.spend_cap - $('Meta Ads').item.json.amount_spent )/100 }} "
            },
            {
              "fieldId": "ultima_atualização",
              "fieldValue": "={{$today.toFormat('dd-MM-yyyy')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        -48
      ],
      "id": "dbee6b23-af0e-44d5-89b1-5c2cd8824a7d",
      "name": "Supabase1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        48,
        160
      ],
      "id": "6879733f-e0a2-4486-bf9e-b63c34ed4d78",
      "name": "Wait",
      "webhookId": "1ed92337-9493-4e47-84fd-5de9b07f3475"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-04T11:52:58.756Z",
      "createdAt": "2026-02-04T11:52:58.756Z",
      "role": "workflow:owner",
      "workflowId": "Be9EdJMlLA7TsbDe",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-02-04T11:53:12.037Z",
  "versionId": "0679267a-9b33-4500-b975-9276ca4a9eab"
}