workflows/Template Fluxo de resposta comentários no Instagram - Potto Flow copy.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Set Comentário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Comentário": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-08T13:16:52.275Z",
  "id": "-J8Q_XI0QD5jjuPNtVub8",
  "isArchived": false,
  "meta": null,
  "name": "Template Fluxo de resposta comentários no Instagram - Potto Flow copy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a7aaac82-51a9-4488-b8f1-869e2a599f58",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1152,
        320
      ],
      "id": "53c347cd-1b63-460e-97ce-67e7d4e10b54",
      "name": "Webhook1",
      "webhookId": "a7aaac82-51a9-4488-b8f1-869e2a599f58"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42d82ed1-fe91-4643-9c68-32f129aecce0",
              "name": "my_id",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            },
            {
              "id": "69895f6a-b105-4cf1-ad85-15d4fe13be69",
              "name": "from_id",
              "value": "={{ $json.body.entry[0].changes[0].value.from.id }}",
              "type": "string"
            },
            {
              "id": "dcbd2af7-ff5b-479e-b256-6cddafc55e61",
              "name": "from_username",
              "value": "={{ $json.body.entry[0].changes[0].value.from.username }}",
              "type": "string"
            },
            {
              "id": "f0d982c3-573b-479f-96f1-9afe8af37ac9",
              "name": "media_id",
              "value": "={{ $json.body.entry[0].changes[0].value.media.id }}",
              "type": "string"
            },
            {
              "id": "c7a7aeaa-36ef-4727-8aff-d60bbd270aef",
              "name": "comentario_id",
              "value": "={{ $json.body.entry[0].changes[0].value.id }}",
              "type": "string"
            },
            {
              "id": "8662b074-6074-4848-90d6-5ca0df6b2f27",
              "name": "comentario",
              "value": "={{ $json.body.entry[0].changes[0].value.text }}",
              "type": "string"
            },
            {
              "id": "a4f96bd0-b8ce-4732-ab12-b7d891634329",
              "name": "field",
              "value": "={{ $json.body.entry[0].changes[0].field }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        320
      ],
      "id": "b7821183-678d-4092-8c8a-84054f7dfff7",
      "name": "Set Comentário",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0b71c77f-f5db-492d-b4c1-5df7b37a0758",
              "leftValue": "={{ $json.field }}",
              "rightValue": "comments",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -720,
        320
      ],
      "id": "68b79b1a-a1eb-441f-82e8-cc533fce456a",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "436f0cb7-d593-41a8-b27d-6f4f74ce9c9d",
              "leftValue": "={{ $json.from_id }}",
              "rightValue": "={{ $json.my_id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -512,
        320
      ],
      "id": "9337015a-c897-49ec-b79e-1e161653bfc9",
      "name": "Filter1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.media_id }}",
                    "rightValue": "18272331280275892",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c6079428-80db-44c7-9465-a15bc35f50d5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9680e3f6-bd80-4bff-be03-9148d9742ce7",
                    "leftValue": "={{ $json.media_id }}",
                    "rightValue": "=12359595945",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d1c3998-978a-4bb8-86ab-ce5653d8130c",
                    "leftValue": "={{ $json.media_id }}",
                    "rightValue": "54648954165",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Post 3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -288,
        320
      ],
      "id": "0366d57c-fada-444d-83ed-7cc2282567b7",
      "name": "Post"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "boa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "458cbbab-3332-4d55-b73a-4566e6086c63"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76c056f3-40f9-483e-9d70-2cd4b640ec4b",
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "Boa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "164c3757-c0ce-4ec8-91b1-7a34ac301638",
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "BOA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        0
      ],
      "id": "74877590-a71b-4a32-885c-95aa382c755f",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $json.comentario_id }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAKjUAvgeRZABZAFBIMld3QXlVTllUdUpGdHNQeUJtX3V3dUphTGR2QllXcUR3OFg3dnhyRTI0TGV2TkpBZA2VxUV9hQWVlWFl5X3pOenF4ZAUc0NUhSVkltQ0dVS25pLTZA2cVU2OF9hY3c5WEItWnZAGR0NtWEdzQXVGU2dTd181WQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Enviado na sua DM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        0
      ],
      "id": "72ec49c6-b832-422b-8811-d732ecd2420c",
      "name": "HTTP Request",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v23.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAKjUAvgeRZABZAFBIMld3QXlVTllUdUpGdHNQeUJtX3V3dUphTGR2QllXcUR3OFg3dnhyRTI0TGV2TkpBZA2VxUV9hQWVlWFl5X3pOenF4ZAUc0NUhSVkltQ0dVS25pLTZA2cVU2OF9hY3c5WEItWnZAGR0NtWEdzQXVGU2dTd181WQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.comment_id",
              "value": "={{ $('Set Comentário').item.json.comentario_id }}"
            },
            {
              "name": "message.text",
              "value": "Acesse agora o material: "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        0
      ],
      "id": "7eebdd2e-870c-48e2-b93c-b3d77f462454",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "teste1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "458cbbab-3332-4d55-b73a-4566e6086c63"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76c056f3-40f9-483e-9d70-2cd4b640ec4b",
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "Teste1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "164c3757-c0ce-4ec8-91b1-7a34ac301638",
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "TESTE1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        288
      ],
      "id": "d7d1e13f-59a1-45e5-8fad-8144774d24ff",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $json.comentario_id }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKjUAvgeRZABZAFBIMld3QXlVTllUdUpGdHNQeUJtX3V3dUphTGR2QllXcUR3OFg3dnhyRTI0TGV2TkpBZA2VxUV9hQWVlWFl5X3pOenF4ZAUc0NUhSVkltQ0dVS25pLTZA2cVU2OF9hY3c5WEItWnZAGR0NtWEdzQXVGU2dTd181WQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Enviado na sua DM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        288
      ],
      "id": "9ca0103c-125f-4520-a7a8-fa2b419f6a57",
      "name": "HTTP Request2",
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v23.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAKjUAvgeRZABZAFBIMld3QXlVTllUdUpGdHNQeUJtX3V3dUphTGR2QllXcUR3OFg3dnhyRTI0TGV2TkpBZA2VxUV9hQWVlWFl5X3pOenF4ZAUc0NUhSVkltQ0dVS25pLTZA2cVU2OF9hY3c5WEItWnZAGR0NtWEdzQXVGU2dTd181WQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.comment_id",
              "value": "={{ $('Set Comentário').item.json.comentario_id }}"
            },
            {
              "name": "message.text",
              "value": "Acesse agora o material: "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        288
      ],
      "id": "8d8be552-f6f7-48d1-a5bf-658039d11679",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "AI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "458cbbab-3332-4d55-b73a-4566e6086c63"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "76c056f3-40f9-483e-9d70-2cd4b640ec4b",
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "aI",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "164c3757-c0ce-4ec8-91b1-7a34ac301638",
                    "leftValue": "={{ $json.comentario }}",
                    "rightValue": "Ai",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        16,
        544
      ],
      "id": "1d78824e-97d0-4f68-b9e4-d37aab112340",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/{{ $json.comentario_id }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKjUAvgeRZABZAFBIMld3QXlVTllUdUpGdHNQeUJtX3V3dUphTGR2QllXcUR3OFg3dnhyRTI0TGV2TkpBZA2VxUV9hQWVlWFl5X3pOenF4ZAUc0NUhSVkltQ0dVS25pLTZA2cVU2OF9hY3c5WEItWnZAGR0NtWEdzQXVGU2dTd181WQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Enviado na sua DM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        544
      ],
      "id": "8638f6bc-cabd-490a-a2d6-3fd2e54d55f1",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v23.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer IGAAKjUAvgeRZABZAFBIMld3QXlVTllUdUpGdHNQeUJtX3V3dUphTGR2QllXcUR3OFg3dnhyRTI0TGV2TkpBZA2VxUV9hQWVlWFl5X3pOenF4ZAUc0NUhSVkltQ0dVS25pLTZA2cVU2OF9hY3c5WEItWnZAGR0NtWEdzQXVGU2dTd181WQZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.comment_id",
              "value": "={{ $('Set Comentário').item.json.comentario_id }}"
            },
            {
              "name": "message.text",
              "value": "Acesse agora o material: "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        544
      ],
      "id": "d09e64cf-ee7b-4190-819b-e3c68071b604",
      "name": "HTTP Request5",
      "notes": "Desenvolvido por Potto Flow"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-08T13:16:52.275Z",
      "createdAt": "2026-01-08T13:16:52.275Z",
      "role": "workflow:owner",
      "workflowId": "-J8Q_XI0QD5jjuPNtVub8",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-08T13:16:48.344Z",
      "createdAt": "2026-01-08T13:16:48.344Z",
      "id": "Jcu1fyEtWnnTdi0F",
      "name": "Potto Flow"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-08T13:16:52.275Z",
  "versionId": "0aa4e2d4-53ba-4966-a118-8528e46b850c"
}