workflows/Template Instagram - Potto Flow.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Simplificação de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplificação de dados": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-08T13:16:24.559Z",
  "id": "Elj1IUICKCzG698NgpL5D",
  "isArchived": false,
  "meta": null,
  "name": "Template Instagram - Potto Flow",
  "nodes": [
    {
      "parameters": {
        "path": "6996365f-fb65-40e0-a195-31006b5e2358",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        64,
        80
      ],
      "id": "5ea924cd-d37c-4105-b10e-aadcaa9c97a1",
      "name": "Webhook",
      "webhookId": "6996365f-fb65-40e0-a195-31006b5e2358",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        288,
        80
      ],
      "id": "0a759993-1a35-43d3-afab-ddcdd82a17d2",
      "name": "Respond to Webhook",
      "disabled": true,
      "notes": "Desenvolvido por Potto Flow"
    },
    {
      "parameters": {
        "content": "## Integração",
        "height": 260,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "d9637842-ff24-4af4-851e-9c78bf4b5ad9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6996365f-fb65-40e0-a195-31006b5e2358",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        368
      ],
      "id": "f64efe86-6639-41ae-bbea-d0318d577982",
      "name": "Webhook1",
      "webhookId": "6996365f-fb65-40e0-a195-31006b5e2358"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c29fc28-c5b5-46c3-97cf-1febd77bbdbd",
              "name": "sender_id",
              "value": "={{ $json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            },
            {
              "id": "e70f323d-8491-4dff-870c-cf610145e2a9",
              "name": "recipient_id",
              "value": "={{ $json.body.entry[0].messaging[0].recipient.id }}",
              "type": "string"
            },
            {
              "id": "15d515c4-b7d8-43ab-9655-35cb69836d62",
              "name": "message",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            },
            {
              "id": "30f8e455-6ada-4180-9423-ee50ce8a2805",
              "name": "account_id",
              "value": "={{ $json.body.entry[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        368
      ],
      "id": "e86041b1-03da-40fc-9ba0-c39b8386cedf",
      "name": "Simplificação de dados",
      "notes": "Desenvolvido por Potto Aceleradora"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a68eb8cb-9c2f-4d18-88fd-ac7ff4fc3303",
              "leftValue": "={{ $json.account_id }}",
              "rightValue": "={{ $json.sender_id }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        480,
        368
      ],
      "id": "1eda4bc8-ce3e-4937-bf38-b52b7e5d0f6e",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Você é um vendedor de banana"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        704,
        368
      ],
      "id": "7c612c34-b041-49da-96db-6f20c2e02f3f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        592
      ],
      "id": "ec896ce5-3739-41f9-a81c-061ec6f1670b",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sender_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        560
      ],
      "id": "fb4d7947-ce5b-4d41-a705-5205010d9dec",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v22.0/{{ $('Simplificação de dados').item.json.account_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer IGAAKJaQE0B81BZAE1pWlVpNWRQbWo3OGc1X0NxeHBjclFuT3NVN05yMzF6b2p1RF9sUFBKeGpUbWFyUU9veVgtekhRV21LV0d2LTY2UnpVZA2VvRFlYa1RqYnd6emh2QU5FYmhpUUtKaXBTb0NyRkVLR2REakttbkJzczJnQjlZAZAwZDZD"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.id",
              "value": "={{ $('Simplificação de dados').item.json.sender_id }}"
            },
            {
              "name": "message.text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        368
      ],
      "id": "e151c5a9-bb87-4541-9959-1dff710adae7",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-08T13:16:24.559Z",
      "createdAt": "2026-01-08T13:16:24.559Z",
      "role": "workflow:owner",
      "workflowId": "Elj1IUICKCzG698NgpL5D",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-11T21:49:57.103Z",
      "createdAt": "2025-12-11T21:49:57.103Z",
      "id": "jVJBpv1Zg5iwH5ja",
      "name": "Potto Flow - Aula"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-08T13:16:24.559Z",
  "versionId": "94c80ef6-060c-4e8f-959d-1ed0ef4c35cf"
}