workflows/Webhook para colocar no meu site Profissional Backend.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-19T16:38:20.091Z",
  "id": "40WPKdmxZLLJ2KuY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Webhook para colocar no meu site Profissional Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b8b3727f-39e8-46fc-83cb-e181951b86a4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8cf691a3-b188-472a-bf4d-4a76a5a8fb62",
      "name": "Webhook",
      "webhookId": "b8b3727f-39e8-46fc-83cb-e181951b86a4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ec17c13-9d11-44cf-9546-7d653bea7ebe",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "1bcbab74-7a6f-47c4-986a-83cd6274a24b",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "338a0ffe-c8e1-4755-ac66-640f5913e3ab",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "624045a3-d651-425b-a3f6-15a065a31d99",
      "name": "Dados"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        416,
        0
      ],
      "id": "ccb41494-4148-46f6-bb5d-07e66de608a9",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LOJgWrBsYdHTsczQ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-20T15:13:11.669Z",
  "versionId": "8bf9e1c6-8fb2-4792-a33a-4e224ab285f0"
}