workflows/📦 Backup Workflows n8n → GitHub.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Format JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JSON": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "File Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists?": {
      "main": [
        [
          {
            "node": "Update File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-02T21:08:47.665Z",
  "id": "g3mkDV5j1EhAWegk",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "📦 Backup Workflows n8n → GitHub",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "b337897e-33cb-4709-ac7f-6a4dbd1ee165",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1824,
        288
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "ec8954f5-c6fd-4124-9f2c-492324b3948e",
      "name": "Get Workflows",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1632,
        288
      ],
      "credentials": {
        "n8nApi": {
          "id": "TcexyNIh3ZiaZTis",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f387f4f4-97e9-49cb-88a8-5b93141cf08a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -1424,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    filename: `workflows/${$json.id}.json`,\n    content: JSON.stringify($json, null, 2)\n  }\n}];"
      },
      "id": "90334872-4a6e-4ede-819a-835939ecac05",
      "name": "Format JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1232,
        288
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "diegohugo570"
        },
        "repository": {
          "__rl": true,
          "value": "backup-n8n",
          "mode": "list",
          "cachedResultName": "backup-n8n",
          "cachedResultUrl": "https://github.com/diegohugo570/backup-n8n"
        },
        "filePath": "={{$json.filename}}",
        "additionalParameters": {}
      },
      "id": "413ae0a0-9d16-44eb-a426-969a1ba8fecb",
      "name": "Get File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1024,
        288
      ],
      "webhookId": "e9d92baf-a232-4d16-9bf9-07697f303ec1",
      "credentials": {
        "githubApi": {
          "id": "5Vhzmhb0DlXl9y5x",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.sha !== undefined}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "85b43aeb-7770-40ea-98eb-e80eb4184dbb",
      "name": "File Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -832,
        288
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "update",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "diegohugo570"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "backup-n8n"
        },
        "filePath": "={{$json.filename}}"
      },
      "id": "31a5435b-d54f-4bdb-a8c9-a2f523535543",
      "name": "Update File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -624,
        176
      ],
      "webhookId": "f82c63de-99b7-4ef0-9222-f777c7c1b30a",
      "credentials": {
        "githubApi": {
          "id": "5Vhzmhb0DlXl9y5x",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "diegohugo570"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "backup-n8n"
        },
        "filePath": "={{$json.filename}}",
        "fileContent": "={{$json.content}}",
        "commitMessage": "Backup inicial n8n - {{$json.filename}}"
      },
      "id": "b9137036-a125-4422-bb95-bcb26578a6d7",
      "name": "Create File",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -624,
        384
      ],
      "webhookId": "1ed87079-169c-4430-b3d7-ad0ee9ffd021",
      "credentials": {
        "githubApi": {
          "id": "5Vhzmhb0DlXl9y5x",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-02T21:08:47.665Z",
      "createdAt": "2026-01-02T21:08:47.665Z",
      "role": "workflow:owner",
      "workflowId": "g3mkDV5j1EhAWegk",
      "projectId": "o60HadikmqrvYZ9Z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-02T21:24:29.246Z",
  "versionId": "94d655c8-6bcb-4fb1-b89b-668bd4b0a650"
}